<template>
  <div id="withdrawDesktop">
    <v-card v-if="getListBankProps"
      rounded="0"
      flat>
      <!-- -------------------------------------bank -->
      <!-- <v-row no-gutters
        class="mt-10">
        <v-col cols="2"></v-col>
        <v-col cols="2"
          class="font-xs d-flex justify-end align-center">
          {{$t('withdraw.withdrawBank')}}:
        </v-col>
        <v-col cols="5"
          class="font-xs ml-4">
          <v-select
            outlined
            dense
            hide-details
            :label="$t('deposit.dropdownBank')">
          </v-select>
        </v-col>
        <v-spacer></v-spacer>
      </v-row> -->
      <!-- -----------------------------------name account -->
      <!-- <v-row no-gutters
        class="mt-4">
        <v-col cols="2"></v-col>
        <v-col cols="2"
          class="font-xs d-flex justify-end align-center">
          {{$t('withdraw.withdrawAccount')}}:
        </v-col>
        <v-col cols="5"
          class="font-xs ml-4">
          Tester
        </v-col>
        <v-spacer></v-spacer>
      </v-row> -->
      <!-- -----------------------------------number account -->
      <!-- <v-row no-gutters
        class="mt-4">
        <v-col cols="2"></v-col>
        <v-col cols="2"
          class="font-xs d-flex justify-end align-center">
          {{$t('withdraw.withdrawNumberAccount')}}:
        </v-col>
        <v-col cols="5"
          class="font-xs ml-4">
          41841641615
        </v-col>
        <v-spacer></v-spacer>
      </v-row> -->
      <!-- ----------------------------------- amount withdraw -->
      <div v-if="listBank">
        <v-row no-gutters
          class="mt-4">
          <v-col cols="2"></v-col>
          <v-col cols="2"
            class="font-xs d-flex justify-end align-center">
            {{$t('withdraw.withdrawAmount')}}:
          </v-col>
          <v-col cols="5"
            class="font-xs ml-4">
            <v-text-field v-model="money"
              outlined
              dense
              hide-details>
            </v-text-field>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
        <!---------------------------------- button -->
        <v-row no-gutters
          class="mt-8 pb-8">
          <v-col cols="4"></v-col>
          <v-col
            class="font-xs ml-4 mr-2">
            <v-btn @click="withdrawMoney"
              block
              rounded
              depressed
              class="bgBtn font-md">
              {{$t('withdraw.submit')}}
            </v-btn>
          </v-col>
          <v-col class="mx-5">
            <v-btn @click="money = null"
              block
              rounded
              depressed
              class="bgBtn font-md">
              {{$t('withdraw.reset')}}
            </v-btn>
          </v-col>
          <v-spacer></v-spacer>
        </v-row>
      </div>
      <div v-else>
        <LoadingInfo/>
      </div>
    </v-card>
    <v-card v-else
      class=""
      rounded="0"
      flat>
      <v-row no-gutters class="font-md font-weight-bold my-5" justify="center">
       {{$t('deposit.noData')}}
      </v-row>
    </v-card>
  </div>
</template>

<script>
import LoadingInfo from '@/components/loading/LoadingInfo'
export default {
  props: [
    'listBank'
  ],
  components: {
    LoadingInfo
  },
  data: () => ({
    money: null
  }),
  computed: {
    getListBankProps () {
      // console.log(this.listBank)
      if (this.listBank) {
        var x = null
        if (this.listBank.length !== 0) {
          x = true
        } else {
          x = false
        }
      }
      return x
    }
  },
  methods: {
    withdrawMoney () {
      var data = {
        amount: this.money
      }
      this.$store.dispatch('postDataStoreWithdraw', data)
      this.money = null
    }
  }
}
</script>

<style lang="scss">
#withdrawDesktop{
  .bgBtn{
    // background: url('../../../../assets/images/U365/headerBeforeHover.png');
    background: linear-gradient(180deg, #C02121 0%, #E35A5A 20.83%, #C92E2E 88.54%, #C92E2E 88.54%, #FA6363 100%);
    // background-size: 101% 101%;
    // background:linear-gradient( #6f0406, #4a0206);
    font-weight: bold;
    color: white;
    height: 45px;
  }
}
</style>
