<template>
  <div id="withdrawListDesktop">
    <v-card
      rounded="0"
      flat>
      <v-row no-gutters
        class="mt-3">
        <v-col v-if="checkLengthData"
          cols="12">
          <v-data-table
            :page.sync="page"
            @page-count="pageCount = $event"
            dense
            :no-data-text="$t('withdraw.noHistory')"
            :headers="header"
            :items="historyDeposit"
            class="elevation-0"
            hide-default-footer>
          </v-data-table>
          <v-divider></v-divider>
          <v-pagination
            class="my-4"
            v-model="page"
            :length="pageCount"
            circle
          ></v-pagination>
        </v-col>
        <v-col v-else
          class="font-md font-weight-bold d-flex justify-center my-5"
          cols="12">
            {{$t('withdraw.notSupport')}}
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  props: [
    'historyDeposit'
  ],
  data: () => ({
    page: 1,
    pageCount: 0,
    item: [
      {
        no: 1,
        type: 'ฝากเงิน',
        time: '2021-02-11 16:24:05',
        amount: '100',
        status: 'เสร็จ',
        receipt: '',
        option: 'afwagfgawgwgwagwa'
      }
    ]
  }),
  computed: {
    checkLengthData () {
      var x = false
      if (this.historyDeposit.length > 0) {
        x = true
      } else {
        x = false
      }
      return x
    },
    header () {
      return [
        // {
        //   text: this.$t('withdraw.no'),
        //   class: 'font-xxs pa-2',
        //   width: 80,
        //   value: 'no'
        // },
        // {
        //   text: this.$t('withdraw.type'),
        //   class: 'font-xxs pa-2',
        //   value: 'type'
        // },
        {
          text: this.$t('withdraw.time'),
          class: 'font-xxs pa-2',
          value: 'create_date'
        },
        {
          text: this.$t('withdraw.amount'),
          class: 'font-xxs pa-2',
          value: 'debit'
        },
        // {
        //   text: this.$t('withdraw.status'),
        //   class: 'font-xxs pa-2',
        //   value: 'status'
        // },
        {
          text: this.$t('withdraw.option'),
          class: 'font-xxs pa-2',
          value: 'notes'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
#withdrawListDesktop{}
</style>
