<template>
  <div id="widthdrawView">
    <v-row no-gutters>
      <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col>
      <v-col class="bg pa-4 mt-5"
        cols="10"
        xs="10"
        sm="10"
        md="10"
        lg="10"
        xl="8">
        <v-row no-gutters>
          <v-col cols="2" class="mb-4">
            <sidebarMenu/>
          </v-col>
          <v-col cols="10"
            class="pl-3">
            <v-card
              color="bgHead">
              <v-tabs
                color="black"
                height="40"
                background-color="transparent"
                v-model="tab">
                <v-tab
                  class="tabHead font-xs">
                  {{$t('withdraw.withdraw')}}
                </v-tab>
                <v-tab
                  class="tabHead font-xs">
                  {{$t('withdraw.withdrawList')}}
                </v-tab>
              </v-tabs>
              <v-tabs-items v-model="tab">
                <v-tab-item>
                  <withdraw
                    :listBank="getListBank"  />
                </v-tab-item>
                <v-tab-item>
                  <withdrawList
                    :historyDeposit="historyDeposit"  />
                </v-tab-item>
              </v-tabs-items>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import sidebarMenu from '../sidebarMenu'
import withdraw from './withdraw'
import withdrawList from './withdrawList'
export default {
  components: {
    sidebarMenu,
    withdraw,
    withdrawList
  },
  data: () => ({
    tab: null
  }),
  mounted () {
    this.$store.dispatch('getDataStoreListBank')
    this.$store.dispatch('getDataStoreHistoryDeposit')
  },
  computed: {
    ...mapGetters([
      'listBank',
      'historyDeposit'
    ]),
    getListBank () {
      return this.$store.getters.listBank
    }
  }
}
</script>

<style lang="scss">
#widthdrawView{
  .bg{
    background: rgba(196, 196, 196, 0.23);
    border-radius: 10px !important;
    // background:#424242;
    width: 100%;
    height: 100%;
  }
  .bgHead{
    // background: url('../../../../assets/images/U365/header_bg2.png');
    background: linear-gradient(180deg, #C02121 0%, #E35A5A 20.83%, #C92E2E 88.54%, #C92E2E 88.54%, #FA6363 100%);

    // background-size: 101% 101%;
    // background:linear-gradient( #6f0406, #4a0206);
    // height: 40px;
  }
  .v-tab--active{
    background: white;
    color:black !important;
  }
  .tabHead{
    letter-spacing: 0;
    font-weight: bold;
    color:white
  }
}
</style>
