<template>
  <div id="kenoGameDesktop">
    <v-row no-gutters>
      <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col>
      <v-col class="bg mt-4"
        cols="10"
        xs="10"
        sm="10"
        md="10"
        lg="10"
        xl="8">
        <marquee/>
        <v-row no-gutters
          class="bg2 mx-5 mb-5 pt-5">
          <v-col v-for="index in 5" :key="index"
            cols="4"
            class="pa-3">
            <v-card
              height="200">
              game {{index}}
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col>
    </v-row>
  </div>
</template>

<script>
import marquee from '../../home/marquee'
export default {
  components: {
    marquee
  }
}
</script>

<style lang="scss">
#kenoGameDesktop{
  .bg{
    background: #670509
  }
  .bg2{
    background: #5a0408
  }
}
</style>
