<template>
  <div id="footerDesktop">
    <v-row no-gutters>
      <v-col cols="1"></v-col>
      <v-col cols="10">
        <v-row no-gutters>
          <v-col cols="12">
            <span class="white--text font-md">{{$t('footer.headfooter')}}</span>
          </v-col>
          <v-col cols="12" class="pl-5 pt-5">
            <span class="white--text font-xs">
              {{$t('footer.text')}}
            </span>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="1"></v-col>
    </v-row>
    <v-row no-gutters class="mt-8 pb-5">
      <v-spacer></v-spacer>
      <v-col cols="" class="px-0" align="center" v-for="(item, index) in picFooter" :key="index">
        <v-hover
          v-slot="{ hover }">
            <img width="120px" :src="hover ? item.pic : item.activePic ">
        </v-hover>
      </v-col>
      <v-spacer></v-spacer>
    </v-row>
    <v-row no-gutters class="mt-0 pb-10">
      <v-spacer></v-spacer>
      <v-col cols="" class="px-0" align="center" v-for="(item, index) in picFooter2" :key="index">
        <v-hover
          v-slot="{ hover }">
            <img width="120px" :src="hover ? item.pic : item.activePic ">
        </v-hover>
      </v-col>
      <v-spacer></v-spacer>
    </v-row>
  </div>
</template>

<script>
import aepic1 from '../../../assets/images/New/logofoot1.png'
import aepic2 from '../../../assets/images/New/logofoot1-1.png'
import agpic1 from '../../../assets/images/New/logofoot2.png'
import agpic2 from '../../../assets/images/New/logofoot2-2.png'
import bgpic1 from '../../../assets/images/New/logofoot3.png'
import bgpic2 from '../../../assets/images/New/logofoot3-3.png'
import pppic1 from '../../../assets/images/New/logofoot4.png'
import pppic2 from '../../../assets/images/New/logofoot4-4.png'
import sapic1 from '../../../assets/images/New/logofoot5.png'
import sapic2 from '../../../assets/images/New/logofoot5-5.png'
import sxpic1 from '../../../assets/images/New/logofoot6.png'
import sxpic2 from '../../../assets/images/New/logofoot6-6.png'
import wmpic1 from '../../../assets/images/New/logofoot7.png'
import wmpic2 from '../../../assets/images/New/logofoot7-7.png'
import cq9pic1 from '../../../assets/images/New/logofoot8.png'
import cq9pic2 from '../../../assets/images/New/logofoot8-8.png'
import dtpic1 from '../../../assets/images/New/logofoot9.png'
import dtpic2 from '../../../assets/images/New/logofoot9-9.png'
import evpic1 from '../../../assets/images/New/logofoot10.png'
import evpic2 from '../../../assets/images/New/logofoot10-10.png'
import hbpic1 from '../../../assets/images/New/logofoot11.png'
import hbpic2 from '../../../assets/images/New/logofoot11-11.png'
import jkpic1 from '../../../assets/images/New/logofoot12.png'
import jkpic2 from '../../../assets/images/New/logofoot12-12.png'
import pgpic1 from '../../../assets/images/New/logofoot13.png'
import pgpic2 from '../../../assets/images/New/logofoot13-13.png'
import tpgpic1 from '../../../assets/images/New/logofoot14.png'
import tpgpic2 from '../../../assets/images/New/logofoot14-14.png'
import ylpic1 from '../../../assets/images/New/logofoot15.png'
import ylpic2 from '../../../assets/images/New/logofoot15-15.png'
export default {
  data: () => ({
    picFooter: [
      {
        pic: aepic2,
        activePic: aepic1
      },
      {
        pic: agpic2,
        activePic: agpic1
      },
      {
        pic: bgpic2,
        activePic: bgpic1
      },
      {
        pic: pppic2,
        activePic: pppic1
      },
      {
        pic: sapic2,
        activePic: sapic1
      },
      {
        pic: sxpic2,
        activePic: sxpic1
      },
      {
        pic: wmpic2,
        activePic: wmpic1
      }
    ],
    picFooter2: [
      {
        pic: cq9pic2,
        activePic: cq9pic1
      },
      {
        pic: dtpic2,
        activePic: dtpic1
      },
      {
        pic: evpic2,
        activePic: evpic1
      },
      {
        pic: hbpic2,
        activePic: hbpic1
      },
      {
        pic: jkpic2,
        activePic: jkpic1
      },
      {
        pic: pgpic2,
        activePic: pgpic1
      },
      {
        pic: tpgpic2,
        activePic: tpgpic1
      },
      {
        pic: ylpic2,
        activePic: ylpic1
      }
    ]
  }),
  methods: {
  }
}
</script>

<style lang="scss">
#footerDesktop{
  background: black;
  // height: 120px;
  a{
    color: white;
    // color: #fff600;
  }
  .fontHead{
    color: #fff600;
    font-size: 18px;
    color: white;
  }
  .contentFooter{
    color: white;
    // color: #d38489;
    font-size: 12px;
  }
}
</style>
