<template>
  <div id="mobileheadview">
    <v-row no-gutters
    >
        <v-col cols="12"
        class="backgroundimg">
          <mobileHeader/>
          <div v-if="statusslide === '/mobile'">
            <slideHeader/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/languaage'">
            <cardLanguage/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/promotion'">
            <headPromotion/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/contactPage'">
            <headcontact/>
            <contactPage/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/userInfo'">
            <userHeader/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/deposit'">
            <depositcard/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/withdraw'">
            <withdrawcard/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/basicinfo'">
            <basicInfo/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/changepass'">
            <changePassword/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/tranfermobile'">
            <tranfer/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/betreport'">
            <betreport/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/statement'">
            <statement/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/bonus'">
            <bonus/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/turnover'">
            <turnover/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/achievementreport'">
            <achievementreport/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/promotion'">
            <promotion/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/casinolive'">
            <casino/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/slot'">
            <slot1/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/fishing'">
            <fishingHead/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/movie'">
            <movieHead/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/listdeposit'">
            <listDps/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/listwithdraw'">
            <listWd/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/slot/' + this.$route.params.apilink + '/' + this.$route.params.fullname + '/' + this.$route.params.keylink">
            <slot1/>
            <headGameSlot/>
          </div>
          <div class="pa-2" v-if="statusslide === '/mobile/casinogame/' + this.$route.params.apilink + '/' + this.$route.params.fullname + '/' + this.$route.params.keylink">
            <slot1/>
            <headGameCasino/>
          </div>
        </v-col>
    </v-row>
  </div>
</template>

<script>
import mobileHeader from '../../../components/mobile/headerMobile.vue'
import slideHeader from '../../../components/useAll/picCarouselMobile.vue'
import cardLanguage from '../../../components/mobile/language/languagePage.vue'
import headPromotion from '../promotion/promotionpage.vue'
import headcontact from '../../../components/mobile/contactHead/contactHead.vue'
import contactPage from '../../../views/mobile/contactPage/contactPage.vue'
import userHeader from '../../../components/mobile/userHeader/userHeader.vue'
import depositcard from '../../../components/mobile/deposit/deposit.vue'
import withdrawcard from '../../../views/mobile/withdraw/withdraw.vue'
import basicInfo from '../../../components/mobile/userList/basicInfo.vue'
import changePassword from '../../../components/mobile/userList/changePassword.vue'
import tranfer from '../../../components/mobile/userList/tranfer.vue'
import betreport from '../../../components/mobile/userList/betReport.vue'
import statement from '../../../components/mobile/userList/statement.vue'
import bonus from '../../../components/mobile/userList/bonus.vue'
import turnover from '../../../components/mobile/userList/turnOver.vue'
import achievementreport from '../../../components/mobile/userList/achievementReport.vue'
import promotion from '../../../components/mobile/promotion/promotionHeader.vue'
import casino from '../../../components/mobile/listgame/casinoLive.vue'
import slot1 from '../../../components/mobile/listgame/slot.vue'
import fishingHead from '../../../components/mobile/listgame/fishing.vue'
import movieHead from '../../../components/mobile/listgame/movie.vue'
import listDps from '../../../components/mobile/userList/listDeposit.vue'
import listWd from '../../../components/mobile/userList/listWithdraw.vue'
import headGameSlot from '../../../components/mobile/listgame/slotGameHead.vue'
import headGameCasino from '../../../components/mobile/listgame/casinoGameHead.vue'

export default {
  data: () => ({
    test: '',
    test2: ''
    // statusslide: route.currentRoute.name
  }),
  components: {
    mobileHeader,
    slideHeader,
    cardLanguage,
    headPromotion,
    headcontact,
    contactPage,
    userHeader,
    depositcard,
    withdrawcard,
    basicInfo,
    changePassword,
    tranfer,
    betreport,
    statement,
    bonus,
    turnover,
    achievementreport,
    promotion,
    casino,
    slot1,
    fishingHead,
    movieHead,
    listDps,
    listWd,
    headGameSlot,
    headGameCasino
  },
  mounted () {
    this.test = '/mobile/slot/' + this.$route.params.apilink + '/' + this.$route.params.fullname + '/' + this.$route.params.keylink
    // // // console.log(this.test)
    this.test2 = '/mobile/casinogame/' + this.$route.params.apilink + '/' + this.$route.params.fullname + '/' + this.$route.params.keylink
  },
  computed: {
    statusslide () {
      return this.$route.path
    }
  }
}
</script>

<style lang='scss'>
#mobileheadview {
  height: 100%;
  .backgroundimg {
    height: 23vh;
    width: 100%;
    background-size: 100% 100%;
    background-image: url('../../../assets/images/New/topbg.png');
  }
}
</style>
