<template>
  <div id="contacthead" class="d-flex justify-center">
    <span
      style="
      font-weight: bold;
      color: white;
      font-size: 20px"
    >
      {{$t('toolbarMenu.contact')}}
    </span>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
#contacthead{
}
</style>
