<template>
  <div id="turnOverDesktop">
    <v-row no-gutters>
      <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col>
      <v-col class="bg pa-4 mt-5"
        cols="10"
        xs="10"
        sm="10"
        md="10"
        lg="10"
        xl="8">
        <v-row no-gutters>
          <v-col cols="2" class="mb-4">
            <sidebarMenu/>
          </v-col>
          <v-col cols="10"
            class="pl-3">
            <v-card v-if="getListGameTurnOver"
              class="pa-3"
              rounded="0"
              flat>
              <span class="bgHead font-md px-2 py-1">
                {{$t('turnOver.turnOver')}}
              </span>
              <v-row no-gutters
                class="mt-4">
                <!-- ---------------------------- start date--------------------------------------------------- -->
                <v-col cols="1"
                  class="font-xs d-flex align-center">
                  {{$t('turnOver.startDate')}}
                </v-col>
                <v-col cols="3">
                  <v-menu
                    v-model="menuStartDate"
                    :close-on-content-click="false"
                    offset-y>
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        class="pr-2 font-xs"
                        v-model="startDate"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        hide-details
                        dense
                        outlined
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      width="250"
                      flat
                      v-model="startDate"
                      @input="menuStartDate = false"
                    ></v-date-picker>
                  </v-menu>
                </v-col>
                <!-- ---------------------------- end date--------------------------------------------------- -->
                <v-col cols="1"
                  class="font-xs d-flex align-center">
                  {{$t('turnOver.endDate')}}
                </v-col>
                <v-col cols="3">
                  <v-menu
                    v-model="menuEndDate"
                    :close-on-content-click="false"
                    offset-y>
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        class="pr-2 font-xs"
                        v-model="endDate"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        hide-details
                        dense
                        outlined
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      width="250"
                      flat
                      v-model="endDate"
                      @input="menuEndDate = false"
                    ></v-date-picker>
                  </v-menu>
                </v-col>
              </v-row>
              <!-- ------------------------ btn all--------------------------------------- -->
              <v-row no-gutters
                align="center">
                <v-col cols="1"
                  class="font-xs">
                  {{$t('turnOver.provider')}}
                </v-col>
                <!-- <v-spacer></v-spacer> -->
                <v-col cols="2">
                  <v-btn @click="stautsCheckAll = !stautsCheckAll, clickAll()"
                    block
                    class="bgBtn font-xs white--text"
                    depressed>
                    {{$t('turnOver.selectAll')}}
                  </v-btn>
                </v-col>
              </v-row>
              <!-- --------------------------- list game------------------------------------------ -->
              <v-row no-gutters>
                <v-col v-for="(item, index) in getListGameTurnOver" :key="index"
                  cols="3">
                  <v-checkbox
                    v-model="item.status"
                    :ripple="false"
                    class="mt-2"
                    dense
                    hide-details
                    :label="item.provider_name">
                  </v-checkbox>
                </v-col>
              </v-row>
              <v-row no-gutters>
                <v-col cols="2">
                  <v-btn @click="getListTurnOver"
                    block
                    rounded
                    class="bgBtn font-xs white--text"
                    depressed>
                    {{$t('turnOver.submit')}}
                  </v-btn>
                </v-col>
              </v-row>
              <!-- ------------------------- table ---------------------------------------------------- -->
              <v-row no-gutters>
                <v-col  v-if="!statusGetTurnOver"
                  cols="12">
                  <v-divider></v-divider>
                  <v-simple-table
                    dense>
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th class="text-left font-xs">
                            {{$t('turnOver.id')}}
                          </th>
                          <th class="text-left font-xs">
                            {{$t('turnOver.tableStartDate')}}
                          </th>
                          <th class="text-left font-xs">
                            {{$t('turnOver.tableEndDate')}}
                          </th>
                          <th class="text-left font-xs">
                            {{$t('turnOver.tableProvider')}}
                          </th>
                          <th class="text-left font-xs">
                            {{$t('turnOver.tableOver')}}
                          </th>
                        </tr>
                      </thead>
                      <tbody v-if="getTurnOver">
                        <tr v-for="(item, index) in getTurnOver.data_lists" :key="index">
                          <td class="font-xs">
                            {{item.key}}
                          </td>
                          <td class="font-xs">
                            {{item.start_date}}
                          </td>
                          <td class="font-xs">
                            {{item.end_date}}
                          </td>
                          <td class="font-xs">
                            {{item.provider_name}}
                          </td>
                          <td class="font-xs">
                            {{item.turnover | currency}}
                          </td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td class="font-xs">
                            {{$t('turnOver.total')}}
                          </td>
                          <td class="font-xs">
                            {{getTurnOver.total_turnover | currency}}
                          </td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-col>
                <v-col v-else
                  cols="12">
                  <LoadingTable/>
                </v-col>
              </v-row>
            </v-card>
            <v-card v-else
              class="pa-3"
              rounded="0"
              flat>
              <LoadingInfo/>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col>
    </v-row>
  </div>
</template>

<script>
import LoadingInfo from '@/components/loading/LoadingInfo'
import LoadingTable from '@/components/loading/LoadingTable'
import moment from 'moment'
import Vue from 'vue'
import { mapGetters } from 'vuex'
import sidebarMenu from '../sidebarMenu'
export default {
  components: {
    sidebarMenu,
    LoadingInfo,
    LoadingTable
  },
  data: () => ({
    menuStartDate: false,
    menuEndDate: false,
    startDate: new Date().toISOString().substr(0, 10),
    endDate: new Date().toISOString().substr(0, 10),
    stautsCheckAll: false
  }),
  mounted () {
    this.$store.dispatch('getStoreListGameTurnOverByUser')
  },
  computed: {
    ...mapGetters([
      'getListGameTurnOver',
      'getTurnOver',
      'statusGetTurnOver'
    ])
    // listGame () {
    //   var data = [
    //     {
    //       text: this.$t('turnOver.afb'),
    //       value: false
    //     },
    //     {
    //       text: this.$t('turnOver.w88'),
    //       value: false
    //     },
    //     {
    //       text: this.$t('turnOver.ag'),
    //       value: false
    //     },
    //     {
    //       text: this.$t('turnOver.dg'),
    //       value: false
    //     }
    //   ]
    //   return data
    // }
  },
  methods: {
    clickAll () {
      // // console.log(this.stautsCheckAll)
      for (var i = 0; i < this.getListGameTurnOver.length; i++) {
        if (this.stautsCheckAll) {
          this.getListGameTurnOver[i].status = true
        } else {
          this.getListGameTurnOver[i].status = false
        }
      }
      // console.log(this.getListGameTurnOver)
    },
    getListTurnOver () {
      // var data = ''
      if (this.startDate > this.endDate) {
        Vue.$snotify.error(this.$t('alert.textFormatDate'), {
          position: 'rightBottom',
          timeout: 3000,
          titleMaxLength: 100,
          bodyMaxLength: 200,
          showProgressBar: false,
          closeOnClick: false,
          pauseOnHover: true
        })
      } else {
        var sDate = this.startDate + ' 00:00:00'
        var eDate = this.endDate + ' 23:59:59'
        var startDate = moment(sDate).format('X')
        var endDate = moment(eDate).format('X')
        var gameID = []
        for (var i = 0; i < this.getListGameTurnOver.length; i++) {
          if (this.getListGameTurnOver[i].status) {
            gameID.push(this.getListGameTurnOver[i].provider_id)
          }
        }
        var data = {
          provider_id: gameID,
          start_date: startDate,
          end_date: endDate
          // start_date: this.startDate,
          // end_date: this.endDate
        }
        // console.log(data)
        this.$store.dispatch('getStoreListTurnOverByUser', data)
      }
    }
  }
}
</script>

<style lang="scss">
#turnOverDesktop{
  .bg{
    background: rgba(196, 196, 196, 0.23);
    border-radius: 10px !important;
    // background:#424242;
    width: 100%;
    height: 100%;
  }
  .bgHead{
    background: #333;
    border-radius: 0 20px 20px 0;
    color: white;
    font-weight: bold;
    // width: 200px;
  }
  .bgBtn{
    // background: url('../../../../assets/images/U365/headerBeforeHover.png');
    // background-size: 101% 101%;
    background: linear-gradient(180deg, #C02121 0%, #E35A5A 20.83%, #C92E2E 88.54%, #C92E2E 88.54%, #FA6363 100%);
    // background: linear-gradient(#6f0406, #4a0206);
  }
}
</style>
