<template>
  <div id="listgame">
    <!-- <v-row no-gutters>
        <v-col cols="12">
          <slideHeader/>
        </v-col>
    </v-row> -->
    <v-col cols='12'>
      <marquee scrolldelay="150"
        class="notice block"
        style="padding-top: 5px;"
      >
          <div class="white--text">
            <font
              style="vertical-align: inherit;"
            >
              {{$t('toolbarMenu.marquee')}}
            </font>
            <!-- <font
              style="vertical-align: inherit;"
            >
              เรามีความมั่นใจ 100% และให้บริการด้วยคาสิโนออนไลน์เกมตกปลาเดิมพันกีฬา Roullete เกมสล็อต. ฯลฯ
            </font>
            <font
              style="vertical-align: inherit;"
            >
              ลงทะเบียนภายใน 1 วินาที !!!!
            </font> -->
          </div>
        </marquee>
    </v-col>
    <v-col cols='12'>
      <listgameonly/>
      dsakfsadjkghosdhgjkdhjk
    </v-col>
  </div>
</template>

<script>
import listgameonly from '../../../components/mobile/listgame/listGameOnly.vue'
// import slideHeader from '../../../components/useAll/picCarouselMobile.vue'

export default {
  components: {
    listgameonly
    // slideHeader
  }
}
</script>

<style lang='scss'>
#listgame{
  margin-top: 18px;
  .notice {
    background: #333;
    // height: 1.4rem;
    line-height: 1.6rem;
    border-radius: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4px .1rem;
    margin-bottom: .1rem;
  }
  .block {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
}
</style>
