<template>
  <div id="DesktopLogInHeader">
    <v-row no-gutters
      class="height">
      <v-col
        cols="5"
        md="6"
        lg="4"
        xl="4"
        class="d-flex align-center pl-5">
        <img
          height="70"
          src="@/assets/images/U365/nlogo.png">
      </v-col>
      <!-- ---------------------------- singup --------------------------------------------- -->
      <v-col v-if="!dataAccessToken"
        cols="8"
        md="6"
        lg="8"
        xl="8"
        style="align-self: center;"
        class="d-flex justify-end align-end pr-5">
        <v-row no-gutters>
          <v-col cols="12">
            <form
              v-on:submit.prevent="postDataSignin"
              class="d-flex setendlogin">
              <div class="bgWhite">
                <input
                  v-model="login.username"
                  type="text"
                  class="pl-1"
                  :placeholder="$t('textfield.testFieldUsername')">
              </div>
              <div class="bgWhite mx-2">
                <input
                  v-model="login.password"
                  type="password"
                  class="px-1"
                  :placeholder="$t('textfield.testFieldPasword')">
              </div>
              <v-btn
                type="submit"
                style="color:black; border-radius:5px"
                depressed
                width="100"
                color="#FFC531"
                small
                class="font-sm mr-2">
                {{$t('btn.textSignin')}}
              </v-btn>
              <div class="pr-2">
              <v-avatar
                class="setpoint"
                @click="postDataLanguageTypeThai()"
                size="26"
              >
                <img src="@/assets/images/New/logo_th.png">
              </v-avatar>
            </div>
            <div>
              <v-avatar
                class="setpoint"
                @click="postDataLanguageTypeEng()"
                size="26"
              >
                <img src="@/assets/images/New/logo_amc.png">
              </v-avatar>
            </div>
            </form>
          </v-col>
          <v-col cols="12" class="d-flex setendlogin mt-2 setfontcolor">
            <!-- <span class="pr-2 setpoint">{{$t('userInfo.forgotpass')}}</span> -->
            <span>{{dateTime}}</span>
          </v-col>
        </v-row>
      </v-col>
      <!-- ---------------------------- login --------------------------------------------- -->
      <v-col v-else
        cols="8"
        md="6"
        lg="8"
        xl="8"
        class="d-flex justify-end align-center pr-5">
        <v-row no-gutters>
          <v-col cols="12">
            <div
              class="d-flex setendlogin">
              <!-- <div class="setcardprofile1 mr-3">
                <img class="" width="60px" src="@/assets/images/New/userpic.png">
              </div> -->
              <div v-if="!getMsgStoreUser">
                <v-col v-for="index in 6" :key="index"
                cols="1"
                class="pa-2">
                <v-card
                  dark>
                  <v-skeleton-loader
                    class="mx-auto"
                    type="card-avatar">
                  </v-skeleton-loader>
                </v-card>
              </v-col>
              </div>
              <div v-if="getMsgStoreUser">
                <v-card
                  @click="userinfo()"
                  class="setcardprofile pa-1 mr-3"
                  outlined>
                  <div class="white--text">
                    {{getMsgStoreUser.username}}
                  </div>
                  <div class="setcolor1">
                    {{$t('btn.Credit2')}}
                  </div>
                  <div class="white--text">
                    {{getMsgStoreUser.credit}} (THB)
                  </div>
                </v-card>
              </div>
              <v-btn
                @click="logout()"
                style="border: 2.05556px solid #FF9900"
                depressed
                width="100"
                outlined
                small
                class="font-sm mr-2 white--text">
                {{$t('userInfo.logout')}}
              </v-btn>
              <div class="pr-2">
              <v-avatar
                class="setpoint"
                @click="postDataLanguageTypeThai()"
                size="26"
              >
                <img src="@/assets/images/New/logo_th.png">
              </v-avatar>
            </div>
            <div>
              <v-avatar
                class="setpoint"
                @click="postDataLanguageTypeEng()"
                size="26"
              >
                <img src="@/assets/images/New/logo_amc.png">
              </v-avatar>
            </div>
            </div>
          </v-col>
          <v-col cols="12" class="d-flex setendlogin mt-2 setfontcolor">
            <span>{{dateTime}}</span>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
export default {
  data: () => ({
    dateTime: '',
    login: {
      username: null,
      password: null
    }
  }),
  mounted () {
    setInterval(this.countDateTime, 1000)
  },
  computed: {
    ...mapGetters(['dataAccessToken', 'getMsgStoreUser'])
  },
  methods: {
    countDateTime () {
      var date = new Date()
      this.dateTime = moment(date).format('DD/MM/YYYY HH:mm:ss A')
    },
    postDataSignin () {
      this.$store.dispatch('postDataStoreSignin', this.login)
    },
    logout () {
      this.$store.dispatch('postDataStoreSignOut')
      this.login.username = null
      this.login.password = null
    },
    postDataLanguageTypeThai () {
      this.$i18n.locale = 'th'
      this.$store.dispatch('language/setLanguage', 'th')
    },
    postDataLanguageTypeEng () {
      this.$i18n.locale = 'en'
      this.$store.dispatch('language/setLanguage', 'en')
    },
    userinfo () {
      this.$router.push({ name: 'menuuserinfo' })
    }
  }
}
</script>

<style lang="scss">
#DesktopLogInHeader{
  .height{
    height: 96px;
    margin-top: 0px;
  }
  .bgWhite{
    // background: white;
    background: #FFFFFF;
    height: 26px;
    border: black solid 1px;
    border-radius: 5px 5px 5px 5px;
  }
  input{
    // background: rgba(196, 196, 196, 0.2);
    // background: white;
    // outline: none;
    height: 26px;
    width: 120px;
    border-radius: 0px 10px 10px 0px;
    // color: black;
  }
  input:focus {
  outline: none !important;
    border:none;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    // color: black;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
  .bgBtn{
    // background:linear-gradient(#f6f6f6, #e2b659);
    background: linear-gradient(180deg, #C02121 0%, #E35A5A 20.83%, #C92E2E 88.54%, #C92E2E 88.54%, #FA6363 100%);
    font-weight: bold;
  }
  .bgHover{
    color:red;
    // border:1px solid red
  }
  .setendlogin{
    justify-content: flex-end;
  }
  .setfontcolor{
    color: #878787;
  }
  .setpoint{
    cursor: pointer;
  }
  .setcardprofile{
    border: 1px solid #E0E0E0;
    position: fixed;
    right: 188px;
    top: 12px;
    background-color: #ffffff08;
  }
  .setcolor1{
    color: #9E9E9E;
  }
  .setcardprofile1{
    position: fixed;
    right: 352px;
    top: 14px;
  }
}
</style>
