<template>
  <div id="menuinfo">
    <v-row no-gutters class="mx-2">
      <v-col cols="12">
        <v-icon dark
          @click="gotohome()"
          class="pa-5">
          fas fa-arrow-left
        </v-icon>
      </v-col>
      <v-col cols="12"
        align="center"
        class="pa-3">
        <v-img width="150" src="@/assets/images/New/userpic.png"></v-img>
      </v-col>
      <v-col cols="12" class="mt-4 px-5">
        <v-row no-gutters
          @click="gotoprofile()">
          <v-col cols="10" class="setpoint">
            <v-icon dark
              class="pa-4">
              fas fa-user
            </v-icon>
            <span class="colorfont font-sm">{{$t('userInfo.basicinfo')}}</span>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="2" align="end">
            <v-icon dark
              class="pa-5 pr-0">
              fas fa-chevron-right
            </v-icon>
          </v-col>
        </v-row>
        <v-divider
          dark
          class="mb-3"
        ></v-divider>
        <v-row no-gutters
          @click="history()">
          <v-col cols="10" class="setpoint">
            <v-icon dark
              class="pa-4">
              far fa-file-alt
            </v-icon>
            <span class="colorfont font-sm">{{$t('userInfo.statement')}}</span>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="2" align="end">
            <v-icon dark
              class="pa-5 pr-0">
              fas fa-chevron-right
            </v-icon>
          </v-col>
        </v-row>
        <v-divider
          dark
          class="mb-3"
        ></v-divider>
        <v-row no-gutters
          @click="turnOver()">
          <v-col cols="10" class="setpoint">
            <v-icon dark
              class="pa-4">
              fas fa-clipboard-check
            </v-icon>
            <span class="colorfont font-sm">{{$t('turnOver.turnOver')}}</span>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="2" align="end">
            <v-icon dark
              class="pa-5 pr-0">
              fas fa-chevron-right
            </v-icon>
          </v-col>
        </v-row>
        <v-divider
          dark
          class="mb-3"
        ></v-divider>
        <v-row no-gutters
          @click="changepass()"
          class="">
          <v-col cols="10" class="setpoint">
            <v-icon dark
              class="pa-4">
              fas fa-lock
            </v-icon>
            <span class="colorfont font-sm">เปลี่ยนรหัสผ่าน</span>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="2" align="end">
            <v-icon dark
              class="pa-5 pr-0">
              fas fa-chevron-right
            </v-icon>
          </v-col>
        </v-row>
        <v-divider
          dark
          class="mb-3"
        ></v-divider>
        <v-row no-gutters
          @click="logout()">
          <v-col cols="10" class="setpoint">
            <v-icon dark
              class="pa-4">
              fas fa-sign-out-alt
            </v-icon>
            <span class="colorfont font-sm">{{$t('btn.textSignout')}}</span>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="2" align="end">
            <v-icon dark
              class="pa-5 pr-0">
              fas fa-chevron-right
            </v-icon>
          </v-col>
        </v-row>
        <v-divider
          dark
          class="mb-3"
        ></v-divider>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  methods: {
    gotoprofile () {
      this.$router.push({ name: 'userinfonew' })
    },
    logout () {
      this.$store.dispatch('postDataStoreSignOut')
      this.login.username = null
      this.login.password = null
    },
    history () {
      this.$router.push({ name: 'statementnew' })
    },
    turnOver () {
      this.$router.push({ name: 'turnovernew' })
    },
    gotohome () {
      this.$router.push({ name: 'homePage' })
    },
    changepass () {
      this.$router.push({ name: 'changepass' })
    }
  }
}
</script>

<style lang="scss">
#menuinfo{
  background: black;
  height: 100%;
  padding: 400px;
  padding-top: 0px;
  padding-bottom: 0px;
  .setsmallcard{
    place-content: center;
    align-self: center;
  }
  .setcard{
    background: rgb(129, 125, 144, 0.3);
    // opacity: 0.8;
    color: white;
    border: solid 1px rgb(255, 255, 255, 0.3) ;
    text-align: center;
  }
  .setcard2{
    background: rgb(129, 125, 144, 0.3);
    // opacity: 0.8;
    color: white;
    border: solid 1px rgb(255, 255, 255, 0.3) ;
  }
  .setfont{
    text-align: center;
    align-self: center;
  }
  .colorbtn{
    background: linear-gradient(#0e0e21,#56577d);
  }
  .v-card{
    border-radius: 12px;
  }
  .colorfont{
    color: white;
  }
  .setpoint{
    cursor: pointer;
  }
}
</style>
