<template>
  <div id="desktopMenuHeader">
    <v-row no-gutters class="mx-12 my-3">
      <!-- ---------------------- home ------------------------------------------------- -->
      <v-col cols="" class="mx-3 my-1">
        <v-hover
          v-slot="{ hover }">
          <v-card @click="pushPage('homePage')"
            :class="routerNow === 'homePage'? checkRouter():checkHover(hover)"
            rounded="lg"
            height="38"
            class="d-flex justify-center align-center cardHot font-md">
            {{$t('toolbarMenu.menuHome')}}
          </v-card>
        </v-hover>
      </v-col>
      <!-- ---------------------- sport ------------------------------------------------- -->
      <v-col cols="" class="mx-3 my-1">
        <v-hover
          v-slot="{ hover }">
          <v-card @click="pushSport()"
            :class="routerNow === 'sportmain' || routerNow === 'sportGame'? checkRouter():checkHover(hover)"
            rounded="lg"
            height="38"
            class="d-flex justify-center align-center cardHot font-md">
            {{$t('toolbarMenu.menuSport')}}
          </v-card>
        </v-hover>
      </v-col>
      <!-- ---------------------- casino ------------------------------------------------- -->
      <v-col cols="" class="mx-3 my-1">
        <v-hover
          v-slot="{ hover }">
          <v-card @click="pushPage('casinoGame')"
            :class="routerNow === 'casinoGame' || routerNow === 'casinoListGameDesktop' ? checkRouter():checkHover(hover)"
            rounded="lg"
            height="38"
            class="d-flex justify-center align-center cardHot cardHot font-md">
            {{$t('toolbarMenu.menuCasino')}}
          </v-card>
        </v-hover>
      </v-col>
      <!-- ---------------------- slot ------------------------------------------------- -->
      <v-col cols="" class="mx-3 my-1">
        <v-hover
          v-slot="{ hover }">
          <v-card @click="pushSlot()"
            :class="routerPathName === '/Slot'? checkRouter():checkHover(hover)"
            rounded="lg"
            height="38"
            class="d-flex justify-center align-center cardHot font-md">
            {{$t('toolbarMenu.menuSlot')}}
          </v-card>
        </v-hover>
      </v-col>
      <!-- ---------------------- fishing ------------------------------------------------- -->
      <v-col cols="" class="mx-3 my-1">
        <v-hover
          v-slot="{ hover }">
          <v-card @click="pushFishing()"
            :class="routerNow === 'FishingGame'? checkRouter():checkHover(hover)"
            rounded="lg"
            height="38"
            class="d-flex justify-center align-center cardHot font-md">
            {{$t('toolbarMenu.menuFish')}}
          </v-card>
        </v-hover>
      </v-col>
      <!-- ---------------------- movie ------------------------------------------------- -->
      <v-col cols="" class="mx-3 my-1">
        <v-hover
          v-slot="{ hover }">
          <v-card @click="pushPage('movieDesktop')"
            :class="routerNow === 'movieDesktop'? checkRouter():checkHover(hover)"
            rounded="lg"
            height="38"
            class="d-flex justify-center align-center cardHot font-md">
            {{$t('toolbarMenu.menuMovie')}}
          </v-card>
        </v-hover>
      </v-col>
      <!-- ---------------------- football ------------------------------------------------- -->
      <v-col cols="" class="mx-3 my-1">
        <v-hover
          v-slot="{ hover }">
          <v-card @click="pushBallStatic('scoreball')"
            :class="routerNow === 'scoreball'? checkRouter():checkHover(hover)"
            rounded="lg"
            height="38"
            class="d-flex justify-center align-center cardHot font-md">
            {{$t('toolbarMenu.menuMatchesBall')}}
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
  </div>
</template>

<script>
// import general from '../../../store/modules/general'
import { mapGetters, mapMutations } from 'vuex'
export default {
  props: [
    // 'gameSlot',
    'jsonListGame'
  ],
  computed: {
    ...mapGetters(['dataAccessToken']),
    routerNow () {
      return this.$route.name
    },
    routerPathName () {
      var path = this.$route.path.substring(8, 13)
      return path
    }
    // gameSlotFish () {
    //   return this.$store.getters.getListGameSlot.data.data_fishing
    // }
  },
  methods: {
    ...mapMutations(['setAlertDialogLoginDesktop']),
    checkRouter () {
      return 'afterHover'
    },
    checkHover (hover) {
      if (hover) {
        return 'afterHover'
      } else {
        return 'beforeHover'
      }
    },
    pushPage (item) {
      this.$router.push({ name: item }).catch(() => {})
    },
    pushSlot () {
      this.$router.push({ name: 'typeGameSlot' })
    },
    pushFishing () {
      this.$router.push(
        {
          path: '/desktop/Fish/'
        }
      ).catch(() => {})
    },
    pushSport () {
      this.$router.push({ name: 'sportmain' })
    },
    pushBallStatic (item) {
      if (this.dataAccessToken) {
        this.$router.push({ name: item }).catch(() => {})
      } else {
        this.setAlertDialogLoginDesktop(true)
      }
    }
  }
}
</script>

<style lang="scss">
#desktopMenuHeader{
  // margin-top: 17px;
  // margin-bottom: 17px;
  // margin: 12px;
  // height: 100%;
  background: #000000;
  .beforeHover{
    background: #000000;
    background-size: 101% 101%;
    background-repeat: no-repeat;
    // background: linear-gradient(#e6c488, #865d27);
    color: white;
    border-right: 1px solid black;
  }
  .afterHover{
    background:#EBA200;
    // box-shadow: 0px 4px 16px rgba(235, 162, 0, 0.8);
    border-radius: 6px;
    // background-size: 10% 10%;
    // background-repeat: no-repeat;
    // background: linear-gradient(#af0000, #690000);
    color: white;
    box-shadow: 0px 4px 16px rgba(235, 162, 0, 0.8);
  }
  .cardHot{
    position: relative;
  }
  .picHot{
    position: absolute;
    top: -10px;
    right: 0px;
  }
}
</style>
