<template>
  <div id="statement" class="" v-if="getListGameByUser">
      <v-col cols="12"  class="pa-0">
        <v-icon dark
          @click="gotohome()"
          class="pa-5">
          fas fa-arrow-left
        </v-icon>
      </v-col>
    <v-row no-gutters class="d-flex justify-center">
      <span class="white--text font-xl px-2 py-1">
        {{$t('statement.statement')}}
      </span>
    </v-row>
    <v-row no-gutters>
      <v-col cols="12">
        <v-select v-if="getListGameByUser"
          v-model="select"
          :items="getListGameByUser"
          item-text="provider_name"
          item-value="provider_id"
          :label="$t('statement.statementRecord')"
          class="bgSelect font-xs"
          solo
          dense
          dark
          hide-details>
          <template v-slot:selection ="{item}">
            <span class="white--text">{{item.provider_name}}</span>
          </template>
          <template v-slot:item ="{item}">
            <span class="font-xs">{{item.provider_name}}</span>
          </template>
        </v-select>
      </v-col>
    </v-row>
    <!-- -------------------------- datetime start ---------------------------------------------- -->
    <v-row no-gutters>
      <v-col cols="6"
        class="d-flex align-center font-md white--text">
        {{$t('statement.startDate')}}
      </v-col>
      <v-col cols="6"
        class="d-flex justify-center font-xs">
        <v-menu
          v-model="menuStartDate"
          :close-on-content-click="false"
          offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              dark
              :disabled="!select"
              class="pr-2 font-xs"
              v-model="startDate"
              readonly
              v-bind="attrs"
              v-on="on"
              hide-details
              dense
              solo
            ></v-text-field>
          </template>
          <v-date-picker
            width="250"
            flat
            v-model="startDate"
            @input="menuStartDate = false"
          ></v-date-picker>
        </v-menu>
      </v-col>
    </v-row>
    <!-- -------------------------- datetime end ---------------------------------------------- -->
    <v-row no-gutters>
      <v-col cols="6"
        class="d-flex align-center font-md white--text">
        {{$t('statement.endDate')}}
      </v-col>
      <v-col cols="6"
        class="d-flex justify-center font-xs">
        <v-menu
          v-model="menuEndDate"
          :close-on-content-click="false"
          offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              dark
              :disabled="!select"
              class="pr-2 font-xs"
              v-model="endDate"
              readonly
              v-bind="attrs"
              v-on="on"
              hide-details
              dense
              solo
            ></v-text-field>
          </template>
          <v-date-picker
            width="250"
            flat
            v-model="endDate"
            @input="menuEndDate = false"
          ></v-date-picker>
        </v-menu>
      </v-col>
    </v-row>
    <!-- ---------------------------- btn confirm ------------------------------------------------- -->
    <v-row no-gutters justify="end">
      <v-btn @click="postStoreStatement"
        depressed
        dark
        class="bgSubmit font-xs"
        height="35">
        {{$t('statement.submit')}}
      </v-btn>
    </v-row>
    <!-- ------------------------------- table ---------------------------------------------------------- -->
    <v-row no-gutters v-if="getStatementByUser">
      <v-col cols="12">
        <v-data-table
          dark
          :items="getStatementByUser.data_lists"
          :page.sync="page"
          @page-count="pageCount = $event"
          dense
          :no-data-text="$t('statement.noHistory')"
          :headers="header"
          class="elevation-0"
          hide-default-footer>
          <template v-slot:[`item.win_lose`] = "{item}">
            <span class="red--text"
              v-if="item.status">
              {{item.win_lose}}
            </span>
            <span v-else
              class="green--text">
              {{item.win_lose}}
            </span>
          </template>
        </v-data-table>
        <v-divider></v-divider>
        <v-row no-gutters class="mt-3">
          <!-- <v-spacer></v-spacer> -->
          <v-col cols="6"
            class="py-2 white--text">
            {{$t('statement.totalBet')}}
          </v-col>
          <v-col cols="6"
            class="py-2 d-flex justify-end white--text">
            {{getStatementByUser.total_bet}}
          </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row no-gutters>
          <!-- <v-spacer></v-spacer> -->
          <v-col cols="6"
            class="py-2 white--text">
            {{$t('statement.totalWinLose')}}
          </v-col>
          <v-col cols="6"
            class="py-2 d-flex justify-end white--text">
            {{getStatementByUser.total_win_lose}}
          </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-pagination
          class="my-4"
          v-model="page"
          :length="pageCount"
          circle
        ></v-pagination>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import moment from 'moment'
import Vue from 'vue'
export default {
  data: () => ({
    select: null,
    menuStartDate: false,
    menuEndDate: false,
    startDate: new Date().toISOString().substr(0, 10),
    endDate: new Date().toISOString().substr(0, 10),
    page: 1,
    pageCount: 0
  }),
  mounted () {
    this.$store.dispatch('storeListGameByUser')
  },
  computed: {
    getListGameByUser () {
      return this.$store.getters.getListGameByUser
    },
    getStatementByUser () {
      return this.$store.getters.getStatementByUser
    },
    header () {
      return [
        {
          text: this.$t('statement.numberTran'),
          class: 'font-xxs pa-2',
          value: 'transactionID'
        },
        {
          text: this.$t('statement.game'),
          class: 'font-xxs pa-2',
          value: 'gameTypeID'
        },
        // {
        //   text: this.$t('statement.pool'),
        //   class: 'font-xxs pa-2',
        //   value: 'time'
        // },
        {
          text: this.$t('statement.type'),
          class: 'font-xxs pa-2',
          value: 'gameName'
        },
        // {
        //   text: this.$t('statement.number'),
        //   class: 'font-xxs pa-2',
        //   value: 'status'
        // },
        {
          text: this.$t('statement.betAmount'),
          class: 'font-xxs pa-2',
          value: 'bet'
        },
        {
          text: this.$t('statement.winLose'),
          class: 'font-xxs pa-2',
          value: 'win_lose'
        },
        // {
        //   text: this.$t('statement.result'),
        //   class: 'font-xxs pa-2',
        //   value: 'option'
        // },
        {
          text: this.$t('statement.GameId'),
          class: 'font-xxs pa-2',
          value: 'start_time',
          width: 180
        }
        // {
        //   text: this.$t('statement.odds'),
        //   class: 'font-xxs pa-2',
        //   value: 'option'
        // }
      ]
    }
  },
  methods: {
    gotohome () {
      this.$router.push({ name: 'menuuserinfo' })
    },
    postStoreStatement () {
      if (this.startDate > this.endDate || !this.select) {
        Vue.$snotify.error(this.$t('alert.textFormatDate'), {
          position: 'rightBottom',
          timeout: 3000,
          titleMaxLength: 100,
          bodyMaxLength: 200,
          showProgressBar: false,
          closeOnClick: false,
          pauseOnHover: true
        })
      } else {
        var sDate = this.startDate + ' 00:00:00'
        var eDate = this.endDate + ' 23:59:59'
        var startDate = moment(sDate).format('X')
        var endDate = moment(eDate).format('X')
        var data = {
          provider_id: this.select,
          start_date: startDate,
          end_date: endDate
        }
        this.$store.dispatch('postStoreListStatementByUser', data)
      }
    }
  }
}
</script>

<style lang="scss">
#statement{
  background: black;
  height: 100%;
  padding: 408px;
  padding-top: 0px;
  padding-bottom: 0px;
  .setcard{
    background: rgb(129, 125, 144, 0.3);
    // opacity: 0.8;
    color: white;
    border: solid 1px rgb(255, 255, 255, 0.3) ;
  }
  .bgSelect{
    .v-input__slot{
      // background: url('../../assets/images/headerBeforeHover.png');
      // background-size: 101% 101%;
      background: #000000;
      border: 1px solid #FFB800;
    }
    color:white !important;
  }
  .v-label{
    color:white
  }
  .bgSubmit{
    // background: url('../../assets/images/headerBeforeHover.png');
    // background-size: 101% 101%;
    // background: linear-gradient(#6f0406, #4a0206);
    // color: rgb(255, 235, 174);
    letter-spacing: 0;
  }
}
</style>
