<template>
  <div id="topHeader">
    <v-row no-gutters
      class="bg">
      <v-col cols="12"
        class="pr-8 d-flex align-start setend">
        {{dateTime}}
        <!-- <div v-if="dataAccessToken && getMsgStoreUser">
          <router-link :to="{name: 'infoDesktop'}"
            class="router">
            <span v-if="getMsgStoreUser"
              class="pl-4">
              {{$t('userInfo.welcome')}} {{getMsgStoreUser.username}}
            </span>
          </router-link>
          <span class="px-4">
            :
          </span>
          <span class="pl-9">
            {{$t('userInfo.balance')}} ({{getMsgStoreUser.currency}}): {{ getMsgStoreUser.credit | currency}}
          </span>
        </div> -->
      </v-col>
      <!-- <v-col cols="3"
        class="text-end">
        <v-menu
          open-on-hover
          rounded="0"
          left
          offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              height="30"
              small
              color="#FA0817"
              dark
              v-bind="attrs"
              v-on="on">
              <span v-if="$t('langId') === 'th'"
                class="bgLanguage font-xxs pr-2">
                TH
              </span>
              <span v-if="$t('langId') === 'en'"
                class="bgLanguage font-xxs pr-2">
                EN
              </span>
              <v-icon size="20"
                color="white"
                class="pl-1">
                fas fa-caret-down
              </v-icon>
            </v-btn>
          </template>
          <v-list color="#FA0817"
            class="py-0"
            width="150">
            <v-list-item @click="postDataLanguageTypeEng"
              dense
              link
              class="font-xs"
              >
              <v-avatar
                class="mr-2"
                size="20">
                <v-img src="@/assets/images/U365/logo_amc.png"></v-img>
              </v-avatar>
              <span class="white--text">English</span>
            </v-list-item>
            <v-list-item @click="postDataLanguageTypeThai"
              dense
              class="font-xs"
              link>
              <v-avatar
                class="mr-2"
                size="20">
                <v-img src="@/assets/images/U365/logo_th.png"></v-img>
              </v-avatar>
              <span class="white--text">ไทย</span>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-col> -->
    </v-row>
  </div>
</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
export default {
  data: () => ({
    dateTime: ''
  }),
  computed: {
    ...mapGetters([
      'dataAccessToken',
      'getMsgStoreUser'
    ])
  },
  mounted () {
    setInterval(this.countDateTime, 1000)
  },
  methods: {
    countDateTime () {
      var date = new Date()
      this.dateTime = moment(date).format('DD/MM/YYYY HH:mm:ss A')
    },
    postDataLanguageTypeThai () {
      this.$i18n.locale = 'th'
      this.$store.dispatch('language/setLanguage', 'th')
    },
    postDataLanguageTypeEng () {
      this.$i18n.locale = 'en'
      this.$store.dispatch('language/setLanguage', 'en')
    }
  }
}
</script>

<style lang="scss">
#topHeader{
  .bg{
    // background: #620303;
    // padding: 0 79px 0 79px;
    color: white;
    height: 39px;
  }
  .bgLanguage{
    // background-image: url('../../../assets/images/U365/lang_bg.png');
    color: white;
  }
  .bgMenu{
    background: #FA0817;
    // background: #af0000;
  }
  .router{
    text-decoration: none;
    color:white
  }
  .setend{
    justify-content: flex-end;
  }
  // .setwhite{
  //   color: white;
  // }
}
</style>
