<template>
  <div id="turnOver" class="white--text">
    <v-row no-gutters class="mx-2 mb-3">
      <v-col cols="12">
        <v-icon dark
          @click="gotohome()"
          class="pa-5">
          fas fa-arrow-left
        </v-icon>
      </v-col>
    </v-row>
    <v-row no-gutters class="mt-3 headset">
      <span class="font-md py-1">
        {{$t('turnOver.turnOver')}}
      </span>
    </v-row>
    <!-- ---------------------------- start date ---------------------------------------------------------- -->
    <v-row no-gutters>
      <v-col cols="6"
        class="font-xs d-flex align-center">
        {{$t('turnOver.startDate')}}
      </v-col>
      <v-col cols="6">
        <v-menu
          v-model="menuStartDate"
          :close-on-content-click="false"
          offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              class="font-xs"
              v-model="startDate"
              readonly
              v-bind="attrs"
              v-on="on"
              hide-details
              dense
              solo
            ></v-text-field>
          </template>
          <v-date-picker
            width="250"
            flat
            v-model="startDate"
            @input="menuStartDate = false"
          ></v-date-picker>
        </v-menu>
      </v-col>
    </v-row>
    <!-- ---------------------------- end date ---------------------------------------------------------- -->
    <v-row no-gutters>
      <v-col cols="6"
        class="font-xs d-flex align-center">
        {{$t('turnOver.endDate')}}
      </v-col>
      <v-col cols="6">
        <v-menu
          v-model="menuEndDate"
          :close-on-content-click="false"
          offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              class="font-xs"
              v-model="endDate"
              readonly
              v-bind="attrs"
              v-on="on"
              hide-details
              dense
              solo
            ></v-text-field>
          </template>
          <v-date-picker
            width="250"
            flat
            v-model="endDate"
            @input="menuEndDate = false"
          ></v-date-picker>
        </v-menu>
      </v-col>
    </v-row>
    <!-- ------------------------ btn check ---------------------------------------------------- -->
    <v-row no-gutters justify="end">
      <v-btn @click="stautsCheckAll = !stautsCheckAll, clickAll()"
        class="bgBtn font-xs white--text"
        depressed>
        {{$t('turnOver.selectAll')}}
      </v-btn>
    </v-row>
    <!-- ------------------------ check box------------------------------------------------------- -->
    <v-row no-gutters class="mt-0">
      <v-col v-for="(item, index) in getListGameTurnOver" :key="index"
        cols="6">
        <v-checkbox
          color="#E65100"
          dark
          v-model="item.status"
          :ripple="false"
          class="mt-1"
          dense
          hide-details
          :label="item.provider_name">
        </v-checkbox>
      </v-col>
    </v-row>
    <!-- ------------------------ btn confirm ---------------------------------------------------- -->
    <v-row no-gutters>
      <v-btn @click="getListTurnOver"
        block
        rounded
        class="bgBtn font-xs white--text"
        depressed>
        {{$t('turnOver.submit')}}
      </v-btn>
    </v-row>
    <!-- ---------------------------- table ----------------------------------------------------- -->
    <v-data-table v-if="getTurnOver"
      :items="getTurnOver.data_lists"
      dense
      :no-data-text="$t('statement.noHistory')"
      :headers="header"
      class="elevation-0 mt-4 pa-2"
      :items-per-page="50"
      hide-default-footer>
      <template v-slot:[`item.turnover`] = "{item}">
        <span >
          {{item.turnover | currency}}
        </span>
      </template>
    </v-data-table>
    <v-row no-gutters class="my-4" v-if="getTurnOver">
      <v-col class="font-xs">
        {{$t('turnOver.total')}}
      </v-col>
      <v-col class="font-xs d-flex justify-end">
        {{getTurnOver.total_turnover | currency}}
      </v-col>
    </v-row>
  </div>
</template>

<script>
import moment from 'moment'
import Vue from 'vue'
import { mapGetters } from 'vuex'
export default {
  data: () => ({
    menuStartDate: false,
    menuEndDate: false,
    startDate: new Date().toISOString().substr(0, 10),
    endDate: new Date().toISOString().substr(0, 10),
    stautsCheckAll: false
  }),
  mounted () {
    this.$store.dispatch('getStoreListGameTurnOverByUser')
  },
  computed: {
    ...mapGetters([
      'getListGameTurnOver',
      'getTurnOver'
    ]),
    header () {
      return [
        {
          text: this.$t('turnOver.id'),
          class: 'font-xxs pa-2',
          width: 50,
          value: 'key'
        },
        {
          text: this.$t('turnOver.tableStartDate'),
          class: 'font-xxs pa-2',
          value: 'start_date'
        },
        {
          text: this.$t('turnOver.tableEndDate'),
          class: 'font-xxs pa-2',
          value: 'end_date'
        },
        {
          text: this.$t('turnOver.tableProvider'),
          class: 'font-xxs pa-2',
          value: 'provider_name'
        },
        {
          text: this.$t('turnOver.tableOver'),
          class: 'font-xxs pa-2',
          value: 'turnover'
        }
      ]
    }
  },
  methods: {
    gotohome () {
      this.$router.push({ name: 'menuuserinfo' })
    },
    clickAll () {
      for (var i = 0; i < this.getListGameTurnOver.length; i++) {
        if (this.stautsCheckAll) {
          this.getListGameTurnOver[i].status = true
        } else {
          this.getListGameTurnOver[i].status = false
        }
      }
    },
    getListTurnOver () {
      // var data = ''
      if (this.startDate > this.endDate) {
        Vue.$snotify.error(this.$t('alert.textFormatDate'), {
          position: 'rightBottom',
          timeout: 3000,
          titleMaxLength: 100,
          bodyMaxLength: 200,
          showProgressBar: false,
          closeOnClick: false,
          pauseOnHover: true
        })
      } else {
        var sDate = this.startDate + ' 00:00:00'
        var eDate = this.endDate + ' 23:59:59'
        var startDate = moment(sDate).format('X')
        var endDate = moment(eDate).format('X')
        var gameID = []
        for (var i = 0; i < this.getListGameTurnOver.length; i++) {
          if (this.getListGameTurnOver[i].status) {
            gameID.push(this.getListGameTurnOver[i].provider_id)
          }
        }
        var data = {
          provider_id: gameID,
          start_date: startDate,
          end_date: endDate
          // start_date: this.startDate,
          // end_date: this.endDate
        }
        // console.log(data)
        this.$store.dispatch('getStoreListTurnOverByUser', data)
      }
    }
  }
}
</script>

<style lang="scss">
#turnOver{
  background: black;
  height: 100%;
  padding: 400px;
  padding-top: 0px;
  padding-bottom: 0px;
  .setcard{
    background: rgb(129, 125, 144, 0.3);
    // opacity: 0.8;
    color: white;
    border: solid 1px rgb(255, 255, 255, 0.3) ;
  }
  .bgBtn{
    // background: linear-gradient(180deg, #C02121 0%, #E35A5A 20.83%, #C92E2E 88.54%, #C92E2E 88.54%, #FA6363 100%);
    // background-size: 101% 101%;
    background-color: #F8A300;;
    color: white;
    letter-spacing: 0;
    // background: linear-gradient(#6f0406, #4a0206);
  }
  .headset{
    justify-content: center;
  }
}
</style>
