<template>
  <div id="userinfo">
    <v-row no-gutters v-if="!getMsgStoreUser">
      <v-col v-for="index in 1" :key="index"
        cols="12"
        class="pa-2">
        <v-card dark>
          <v-skeleton-loader
            class="mx-auto"
            type="card-avatar">
          </v-skeleton-loader>
        </v-card>
      </v-col>
    </v-row>
    <v-row no-gutters class="mx-2" v-if="getMsgStoreUser">
      <v-col cols="12">
        <v-icon dark
          @click="gotohome()"
          class="pa-5">
          fas fa-arrow-left
        </v-icon>
      </v-col>
      <v-col cols="12"
        align="center"
        class="pa-3">
        <v-img width="150" src="@/assets/images/New/userpic.png"></v-img>
      </v-col>
      <!-- <v-col cols="12"
        align="center">
        <v-btn
          @click="gotoedituser()"
          class="font-weight-bold setfontbtn"
          color="#F8A300">
          {{$t('info.editinfo')}}
        </v-btn>
      </v-col> -->
      <v-col cols="12" class="mt-4 px-5">
        <v-row no-gutters
          class="">
          <v-col cols="5">
            <span class="white--text font-sm">{{$t('info.namelastname')}}</span>
          </v-col>
          <v-col>
            <span class="colorfont font-sm">{{getMsgStoreUser.first_name}}</span>
          </v-col>
        </v-row>
        <v-divider
          dark
          class="mb-8"
        ></v-divider>
        <v-row no-gutters>
          <v-col cols="5">
            <span class="white--text font-sm">{{$t('info.tel')}}</span>
          </v-col>
          <v-col>
            <span class="colorfont font-sm">{{getMsgStoreUser.phone}}</span>
          </v-col>
        </v-row>
        <v-divider
          dark
          class="mb-8"
        ></v-divider>
        <v-row no-gutters>
          <v-col cols="5">
            <span class="white--text font-sm">{{$t('info.email')}}</span>
          </v-col>
          <v-col>
            <span class="colorfont font-sm">-</span>
          </v-col>
        </v-row>
        <v-divider
          dark
          class="mb-8"
        ></v-divider>
        <v-row no-gutters>
          <v-col cols="5">
            <span class="white--text font-sm">{{$t('info.bank')}}</span>
          </v-col>
          <v-col>
            <span class="colorfont font-sm">-</span>
          </v-col>
        </v-row>
        <v-divider
          dark
          class="mb-8"
        ></v-divider>
        <v-row no-gutters>
          <v-col cols="5">
            <span class="white--text font-sm">{{$t('info.bankAcc')}}</span>
          </v-col>
          <v-col>
            <span class="colorfont font-sm">-</span>
          </v-col>
        </v-row>
        <v-divider
          dark
          class="mb-5"
        ></v-divider>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters(['getMsgStoreUser'])
  },
  methods: {
    gotohome () {
      this.$router.push({ name: 'menuuserinfo' })
    },
    gotoedituser () {
      this.$router.push({ name: 'userinfoedit' })
    }
  }
}
</script>

<style lang="scss">
#userinfo{
  background: black;
  height: 100%;
  padding: 400px;
  padding-top: 0px;
  padding-bottom: 0px;
  .setsmallcard{
    place-content: center;
    align-self: center;
  }
  .setcard{
    background: rgb(129, 125, 144, 0.3);
    // opacity: 0.8;
    color: white;
    border: solid 1px rgb(255, 255, 255, 0.3) ;
    text-align: center;
  }
  .setcard2{
    background: rgb(129, 125, 144, 0.3);
    // opacity: 0.8;
    color: white;
    border: solid 1px rgb(255, 255, 255, 0.3) ;
  }
  .setfont{
    text-align: center;
    align-self: center;
  }
  .colorbtn{
    background: linear-gradient(#0e0e21,#56577d);
  }
  .v-card{
    border-radius: 12px;
  }
  .colorfont{
    color: #FFD954;
  }
  .setfontbtn{
    font-size: 16px;
  }
}
</style>
