<template>
  <div id="menuinfo">
    <v-row no-gutters class="mx-2">
      <v-col cols="12">
        <v-icon dark
          @click="gotoprofile()"
          class="pa-5">
          fas fa-arrow-left
        </v-icon>
      </v-col>
      <v-col cols="12"
        align="center"
        class="pa-3">
        <v-img width="150" src="@/assets/images/New/userpic.png"></v-img>
      </v-col>
      <v-col cols="12" class="mt-4 px-5">
        <v-row no-gutters>
          <v-col cols="12" align="center">
            <span class="white--text font-xl">{{$t('changePassword.changePass')}}</span>
          </v-col>
        </v-row>
        <v-row no-gutters class="px-5 my-5"
          style="justify-content: center;">
          <v-col cols="7">
            <span class="textpass font-md pl-2">{{$t('changePassword.currentPass')}}</span>
            <div class="bgWhite">
              <input
                v-model="oldPass"
                type="text"
                class="pl-1 inputsize white--text">
            </div>
          </v-col>
        </v-row>
        <v-row no-gutters class="px-5 my-5"
          style="justify-content: center;">
          <v-col cols="7">
            <span class="textpass font-md pl-2">{{$t('changePassword.newPass')}}</span>
            <div class="bgWhite">
              <input
                v-model="newPass"
                type="text"
                class="pl-1 inputsize white--text">
            </div>
          </v-col>
        </v-row>
        <v-row no-gutters class="px-5 my-5"
          style="justify-content: center;">
          <v-col cols="7">
            <span class="textpass font-md pl-2">{{$t('changePassword.confirmPass')}}</span>
            <div class="bgWhite">
              <input
                v-model="confirmPass"
                type="text"
                class="pl-1 inputsize white--text">
            </div>
          </v-col>
        </v-row>
        <v-row no-gutters class="px-5 my-5"
          style="justify-content: center;">
          <v-col cols="7"
            style="text-align: center;">
            <v-btn class="btncolor" dark align="center"
              @click="changePassword()">
              <span class="font-sm pa-1">{{$t('changePassword.submit')}}</span>
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import Vue from 'vue'
export default {
  data () {
    return {
      oldPass: '',
      newPass: '',
      confirmPass: ''
    }
  },
  methods: {
    gotoprofile () {
      this.$router.push({ name: 'menuuserinfo' })
    },
    changePassword () {
      if (!this.oldPass || !this.newPass || !this.confirmPass) {
        Vue.$snotify.error(this.$t('alert.textAlertInputPass'), {
          position: 'rightBottom',
          timeout: 3000,
          titleMaxLength: 100,
          bodyMaxLength: 200,
          showProgressBar: false,
          closeOnClick: false,
          pauseOnHover: true
        })
      } else {
        if (this.newPass !== this.confirmPass) {
          Vue.$snotify.error(this.$t('alert.textAlertPasswordIncorrect'), {
            position: 'rightBottom',
            timeout: 3000,
            titleMaxLength: 100,
            bodyMaxLength: 200,
            showProgressBar: false,
            closeOnClick: false,
            pauseOnHover: true
          })
        } else {
          var data = {
            password: this.oldPass,
            newpassword: this.newPass
          }
          // // console.log(data)
          this.$store.dispatch('postDataChangePassword', data)
        }
      }
    }
  }
}
</script>

<style lang="scss">
#menuinfo{
  background: black;
  height: 100%;
  padding: 400px;
  padding-top: 0px;
  padding-bottom: 0px;
  .setsmallcard{
    place-content: center;
    align-self: center;
  }
  .setcard{
    background: rgb(129, 125, 144, 0.3);
    // opacity: 0.8;
    color: white;
    border: solid 1px rgb(255, 255, 255, 0.3) ;
    text-align: center;
  }
  .setcard2{
    background: rgb(129, 125, 144, 0.3);
    // opacity: 0.8;
    color: white;
    border: solid 1px rgb(255, 255, 255, 0.3) ;
  }
  .setfont{
    text-align: center;
    align-self: center;
  }
  .colorbtn{
    background: linear-gradient(#0e0e21,#56577d);
  }
  .v-card{
    border-radius: 12px;
  }
  .colorfont{
    color: white;
  }
  .setpoint{
    cursor: pointer;
  }
  .textpass{
    color: #EBA200;
  }
  .bgWhite{
    // background: white;
    // background: #FFFFFF;
    // height: 26px;
    // border: black solid 1px;
    // border-radius: 5px 5px 5px 5px;
    height: 38px;
    background: linear-gradient(272.05deg, #1C1C1C 50.01%, #303030 128.92%);
    border: 1px solid #FFF8E4;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
  }
  .inputsize{
    height: 100%;
    width: 100%;
  }
  .btncolor{
    background: linear-gradient(126.97deg, #C88D00 17.75%, #AB5C00 80.63%);
  }
}
</style>
