<template>
  <div id="withdraw">
    <div
      class="d-flex justify-center">
      <span
        class="mb-2"
        style="
        font-weight: bold;
        color: white;
        font-size: 20px"
      >
      {{$t('toolbarMenu.withdraw')}}
      </span>
    </div>
    <v-card
      class="pa-2"
      style="box-shadow: 0 0.08rem 1.5rem #aa2c23;">
      <v-text-field
        label="จำนวนเงิน"
      ></v-text-field>
      <div>
        {{$t('toolbarMenu.textWD')}}
      </div>
    </v-card>
    <v-btn
      class="mt-4"
      rounded
      block
      dark
      color='red'>
      {{$t('changePassword.submit')}}
    </v-btn>
  </div>
</template>

<script>
export default {
  data: () => ({
    items: ['เลือกธนาคาร']
  })
}
</script>

<style lang="scss">
#withdraw{
}
</style>
