<template>
  <div id="listGamePlayDesktops">
    <v-row no-gutters>
      <v-col cols="1"></v-col>
      <v-col cols="10" class="px-12">
        <img @click="pushPage('casinoGame')" width="100%" src="@/assets/images/New/casinohome.png">
      </v-col>
      <v-col cols="1"></v-col>
      <v-col cols="12" class="px-12">
        <v-row no-gutters >
          <v-col cols="1"></v-col>
          <v-col cols="5" class="pa-8 pl-0 pr-4">
            <img @click="pushSport()" width="93%" src="@/assets/images/New/sporthome.png">
          </v-col>
          <v-col cols="5" class="pa-8 pl-4 pr-0">
            <div class="pb-4">
              <img @click="pushFishing()" width="100%" src="@/assets/images/New/fishhome.png">
            </div>
            <div class="pt-4">
              <img @click="pushSlot()" width="100%" src="@/assets/images/New/slothome.png">
            </div>
          </v-col>
          <v-col cols="1"></v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
export default {
  props: [
    'jsonListGame'
  ],
  components: {
  },
  data: () => ({
  }),
  mounted () {
  },
  computed: {
    ...mapGetters(['dataAccessToken'])
  },
  methods: {
    ...mapMutations(['setAlertDialogLoginDesktop']),
    playGame (item) {
      if (this.dataAccessToken) {
        this.$store.dispatch('postStoreSlotLinkJokerGaming', item)
      } else {
        this.setAlertDialogLoginDesktop(true)
      }
    },
    pushSport () {
      this.$router.push({ name: 'sportmain' })
    },
    pushPage (item) {
      this.$router.push({ name: item }).catch(() => {})
    },
    pushSlot () {
      this.$router.push({ name: 'typeGameSlot' })
    },
    pushFishing () {
      this.$router.push(
        {
          path: '/desktop/Fish/' +
          this.jsonListGame.data.data_fishing.keylink +
          '/' +
          this.jsonListGame.data.data_fishing.fullname
        }
      ).catch(() => {})
    }
  }
}
</script>

<style lang="scss">
#homeDesktop, #listGameplayDesktops{
  .btnBeforeHover{
    background: linear-gradient(#ffe1ab 0, #805723);
    color: black;
  }
  .btnHover{
    background: linear-gradient(#af0000, #690000);
    color: white;
  }
  .fontUsd{
    padding-left: 116px;
    padding-right: 18px;
    color: #fdc735;
    font-size: 24px;
    font-weight: bold;
  }
  .bgJackport{
    background: url('../../../assets/images/New/bgrandom.png') no-repeat center top;
    width: 339px;
    height: 550px;
  }
  .mgUsd{
    margin-top: 204px;
  }
  .sizeGame{
    height: 64px;
    position: relative;
  }
  .positionCarouserl{
    margin-top: 20px;
    height: 280px;
  }
  .positionPic{
    margin-top: 10px;
    // height: 100%;
    // height: 40px;
    // width:90px
  }
  .popsitionTextMoney{
    position: absolute;
    left: 100px;
    top: 22px;
    color: #fdc735;
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
  }
  .bgGamePreview{
    background: rgba(196, 196, 196, 0.23);
  }
}
</style>
