<template>
  <div id="listGamePreview">
    <!-- <pre>
      {{jsonListGame.data.data_GameSlot[0].keylink}}
    </pre> -->
    <v-row no-gutters>
      <v-col
        cols="6"
        md="6"
        lg="5"
        xl="5">
        <v-card @click="pushFishing"
          link
          class="fishing">
          <div class="head">
            {{$t('gameName.fishing')}}
          </div>
          <v-img
            width="100%"
            height="542"
            src="@/assets/images/U365/casino_fish.png">
          </v-img>
          <div class="positionBtnFishing">
            <span>
              {{$t('gameName.playNow')}}
            </span>
          </div>
        </v-card>
      </v-col>
      <v-col
        cols="6"
        md="6"
        lg=""
        xl=""
        class="pl-2">
        <v-card
          @click="pushSlot"
          class="mb-1">
          <div class="head">
            {{$t('gameName.slot')}}
          </div>
          <v-img
            width="100%"
            height="250"
            src="@/assets/images/U365/casino_game.png">
          </v-img>
          <div class="positionBtnSlot">
            {{$t('gameName.playNow')}}
          </div>
        </v-card>
        <v-card @click="pushSport()"
          >
          <div class="head">
            {{$t('gameName.sport')}}
          </div>
          <v-img
            width="100%"
            height="250"
            src="@/assets/images/U365/casino_sport.png">
          </v-img>
          <div class="positionBtnSport">
            {{$t('gameName.playNow')}}
          </div>
        </v-card>
      </v-col>
      <v-col
        cols=""
        class="pl-2">
        <v-card @click="pushLinkGame('casinoGame')"
          class="mb-1">
          <div class="head">
            {{$t('gameName.casino')}}
          </div>
          <v-img
            width="100%"
            height="250"
            src="@/assets/images/U365/casino_live.png">
          </v-img>
          <div class="positionBtnCasino">
            {{$t('gameName.playNow')}}
          </div>
        </v-card>
        <!-- <v-card>
          <div class="head">
            {{$t('gameName.keno')}}
          </div>
          <v-img
            width="100%"
            height="131"
            src="@/assets/images/U365/casino_lottery.png">
          </v-img>
          <div class="positionBtnKeno">
            {{$t('gameName.playNow')}}
          </div>
        </v-card> -->
      </v-col>
    </v-row>
  </div>
</template>

<script>
import general from '../../../store/modules/general'
import { mapGetters } from 'vuex'
// import faw from '../../../assets/images/U365/btn_fish.png'
export default {
  props: [
    'jsonListGame'
  ],
  computed: {
    ...mapGetters(['dataAccessToken']),
    // gameSlot () {
    //   return this.$store.getters.getListGameSlot
    // },
    gameSlotFish () {
      return this.$store.getters.getListGameSlot.data.data_fishing
    }
  },
  methods: {
    pushLinkGame (item) {
      this.$router.push({ name: item })
    },
    pushSlot () {
      this.$router.push({ name: 'typeGameSlot' })
      // var data = ''
      // for (var i = 1; i <= this.gameSlot.data.data_GameSlot.length; i++) {
      //   if (this.gameSlot.data.data_GameSlot[i].show_web === true) {
      //     data = this.gameSlot.data.data_GameSlot[i]
      //     break
      //   }
      // }
      // console.log(data)
      // this.$store.dispatch('getStoreSlotGame', data.apilink)
      // this.$router.push({ path: '/desktop/Slot/listSlotGame/' + data.apilink + '/' + data.keylink + '/' + data.fullname })
    },
    pushFishing () {
      this.$router.push({
        path: '/desktop/Fish/' +
        this.jsonListGame.data.data_GameSlot[0].keylink + '/' +
        this.jsonListGame.data.data_GameSlot[0].fullname
        // this.gameSlotFish.keylink + '/' +
        // this.gameSlotFish.fullname
      })
    },
    pushSport () {
      if (this.dataAccessToken) {
        window.open(general.urlToGameBTi + this.dataAccessToken, '_blank')
      } else {
        this.$router.push({ name: 'sportGame' })
      }
    }
  }
}
</script>

<style lang="scss">
#listGamePreview{
  .fishing{
  }
  .head{
    font-size: 16px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    background: black;
    background-image: url('../../../assets/images/U365/headGamePreview.png');
    background-size: 100% 100%;
    // background: linear-gradient(to bottom, #ffe1ab 0, #805723 100%)
  }
  .positionBtnFishing{
    background: url('../../../assets/images/U365/btn_fish.png');
    background-size: 100% 100%;
    position: absolute;
    right: 80px;
    bottom: 30px;
    width: 149px;
    height: 37px;
    color: white;
    font-size: 16px;
    padding-top: 8px;
    padding-right: 20px;
    text-align: center;
  }
  .positionBtnSlot{
    background: url('../../../assets/images/U365/btn_game.png');
    background-size: 100% 100%;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 149px;
    height: 37px;
    color: white;
    font-size: 16px;
    padding-top: 8px;
    padding-right: 20px;
    text-align: center;
  }
  .positionBtnSport{
    background: url('../../../assets/images/U365/btn_sport.png');
    background-size: 100% 100%;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 149px;
    height: 37px;
    color: white;
    font-size: 16px;
    padding-top: 8px;
    padding-right: 20px;
    text-align: center;
  }
  .positionBtnCasino{
    background: url('../../../assets/images/U365/btn_live.png');
    background-size: 100% 100%;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 149px;
    height: 37px;
    color: white;
    font-size: 16px;
    padding-top: 8px;
    padding-right: 20px;
    text-align: center;
  }
  .positionBtnKeno{
    background: url('../../../assets/images/U365/btn_lottery.png');
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 149px;
    height: 37px;
    color: white;
    font-size: 16px;
    padding-top: 8px;
    padding-right: 20px;
    text-align: center;
  }
}
</style>
