<template>
  <div id="listGameCarouselDesktop">
    <v-row no-gutters v-if="!gameSlotOpen">
      <v-col v-for="index in 2" :key="index"
        cols="12"
        class="pa-2">
        <v-card dark>
          <v-skeleton-loader
            height="170"
            class="mx-auto"
            type="card-avatar">
          </v-skeleton-loader>
        </v-card>
      </v-col>
    </v-row>
    <VueSlickCarousel
      style="text-align: -webkit-center;"
      :arrows="true"
      :dots="false"
      :autoplay= "true"
      :infinite= "true"
      :slidesToShow= 6
      :slidesToScroll= 1
      :speed= 1000
      :autoplaySpeed= 3000>
      <div class="panel pa-0 setdiv"
        v-for="(item, index) in gameSlotOpen" :key="index">
        <img
          @click="pushLink(item)"
          class="bord zoom"
          width="170px"
          :src="item.image">
      </div>
    </VueSlickCarousel>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
// import { Flicking } from '@egjs/vue-flicking'
// import { AutoPlay } from '@egjs/flicking-plugins'
export default {
  props: [
    // 'gameSlot',
    'jsonListGame'
  ],
  components: {
    VueSlickCarousel
    // Flicking: Flicking
  },
  data: () => ({
    settings: {
      focusOnSelect: false,
      infinite: true,
      speed: 500,
      slidesToShow: 6,
      slidesToScroll: 1,
      autoplay: true
    }
  }),
  computed: {
    gameSlotOpen () {
      var data = []
      for (var i = 0; i < this.jsonListGame.data.data_GameSlot.length; i++) {
        if (this.jsonListGame.data.data_GameSlot[i].show_web) {
          data.push(this.jsonListGame.data.data_GameSlot[i])
        }
      }
      return data
    }
  },
  methods: {
    pushLink (item) {
      if (item.keylink === 'FishingGame') {
        this.$router.push({
          path: '/desktop/Fish/' +
          this.jsonListGame.data.data_fishing.keylink +
          '/' +
          this.jsonListGame.data.data_fishing.fullname
        }).catch(() => {})
      } else {
        this.$router.push({
          path: '/desktop/Slot/listSlotGame/' +
          item.apilink + '/' +
          item.keylink + '/' +
          item.fullname
        }).catch(() => {})
      }
    }
  }
}
</script>

<style lang="scss">
#listGameCarouselDesktop{
  .bgColor{
    // background-image: linear-gradient(270deg, rgba(196, 196, 196, 0.49) 1.87%,
    // rgba(196, 196, 196, 0.2) 28.75%, rgba(196, 196, 196, 0.21) 62.09%,
    // rgba(196, 196, 196, 0.49) 97.43%)
    // background-image: linear-gradient(to right ,#710606,#970909,#710606);
  }
  .positionGame{
    padding-left: 40px;
    padding-right: 40px;
    // padding-top: 15px;
    height: 130px;
    // width: 50px;
  }
  // .img{
  //   // width: 100%;
  //   // height: 100%;
  //   max-height: 120px;
  //   max-width: 90%;
  //   // width: 50px;
  // }
  // .widthOnlyJk{
  //   width: 100px im !important
  // }
  .slick-next{
    z-index: 10000;
    right: 10px;
    width: 25px;
    height: 70px;
    background: rgba(196, 196, 196, 0.43);
  }
  .slick-prev{
    z-index: 10000;
    left: 10px;
    width: 25px;
    height: 70px;
    background: rgba(196, 196, 196, 0.43);
  }
  .setdiv{
    max-width: 100%;
  }
  .fixslide2{
    height: 200px;
    max-width: 100%;
    // transform: translate(-50%);
    // transform: translate(-100%);
  }
  .bord{
    border: solid 2px #FFD26D;
    border-radius: 7px;
  }
  .zoom {
    // padding: 50px;
    transition: transform .2s;
    // width: 200px;
    // height: 200px;
    margin: 0 auto;
  }
  .zoom:hover {
    -ms-transform: scale(0.8); /* IE 9 */
    -webkit-transform: scale(0.8); /* Safari 3-8 */
    transform: scale(0.8);
    cursor: pointer;
  }
}
</style>
