<template>
  <div id="marqueeDesktop">
    <v-row no-gutters>
      <v-col cols="12"
        class="bgMarquee">
        <!-- <img
          height="100%"
          src="@/assets/images/U365/titleMarquee.png"> -->
        <marquee scrolldelay="150"
          onmouseover="this.stop()" onmouseout="this.start()">
          <div class="white--text positionText mt-4 font-md">
            {{$t('toolbarMenu.marquee')}}
          </div>
        </marquee>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data: () => ({
  }),
  components: {
  },
  methods: {
  }
}
</script>

<style lang="scss">
#marqueeDesktop{
  .bgMarquee{
    height: 49px;
    background: rgba(255, 255, 255, 0.23) !important;
    position: relative;
  }
  img{
    position: absolute;
    left: 0;
    z-index: 10000;
  }
  .positionText{
    text-align: center;
    height: 100%;
  }
}
</style>
