<template>
  <div id="desptopHeader">
    <v-row no-gutters
      class="bgHeader">
      <v-col
        cols="12"
        xs="12"
        sm="12"
        md="12"
        lg="12"
        xl="12">
        <LogInHeader/>
      </v-col>
    </v-row>
    <v-row no-gutters
      class="mt-0">
      <v-col
        class="bgToolbar"
        cols="12"
        xs="12"
        sm="12"
        md="12"
        lg="12"
        xl="12">
        <img class="setline1" width="100%" height="15" src="@/assets/images/New/linetop.png">
        <MenuHeader
          :jsonListGame="jsonListGame"
        />
        <img class="setline2" width="100%" height="15" src="@/assets/images/New/linetop.png">
      </v-col>
    </v-row>
  </div>
</template>

<script>
import LogInHeader from '../../../components/desktop/toolbar/logInHeader'
import MenuHeader from '../../../components/desktop/toolbar/menuHeader'
export default {
  props: [
    'jsonListGame'
  ],
  components: {
    LogInHeader,
    MenuHeader
  },
  computed: {
  },
  data: () => ({
    test: true
  })
}
</script>

<style lang="scss">
#desptopHeader{
    // background: linear-gradient(180deg, #C08F21 0%, #E3C05A 20.83%, #FBEAC0 67.71%, #C9992E 88.54%, #FEEC99 100%);
    background: #202020;
    // background: url('../../../assets/images/U365/header_bg2.png');
    background-size: 100% 100%;
    // background-repeat: no-repeat;
    // border-radius: 10px;
  .bgHeader{
    // background: linear-gradient(180deg, #C08F21 0%, #E3C05A 20.83%, #FBEAC0 67.71%, #C9992E 88.54%, #FEEC99 100%);
    background-size: 100% 100%;
    // background: #252b6c;
    // background: #620303;
  }
  .bgToolbar{
    background: #000000;
    // background: url('../../../assets/images/U365/header_bg2.png');
    // background-size: 100% 100%;
    // background-repeat: no-repeat;
  }
  .setline1{
    position: absolute;
    z-index: 110000;
    top: 88px;
  }
  .setline2{
    position: absolute;
    z-index: 110000;
    top: 158px;
  }
}
</style>
