<template>
  <div id="sportmain" class="">
    <v-row no-gutters>
      <v-col cols="12">
        <v-row no-gutters>
          <v-col cols="6" align="center">
            <img class="setmessi" width="70%" src="@/assets/images/New/messi.png">
          </v-col>
          <v-col cols="6" align="center" class="px-12">
            <div class="my-10">
              <span class="headsport">Sport best 88</span>
              <!-- <span class="headsport">Sport Club</span> -->
            </div>
            <div class="px-12 mt-5">
              <img @click="pushSport()" width="90%" src="@/assets/images/New/Sportbest88.png">
            </div>
            <!-- <div class="px-12 mt-12">
              <img width="90%" src="@/assets/images/New/Esport.png">
            </div> -->
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import general from '../../../../store/modules/general'
import { mapGetters } from 'vuex'
// import router from '../../../../router/index'
export default {
  data () {
    return {
      general,
      utlBti: general.urlToGameBTi
    }
  },
  computed: {
    ...mapGetters(['dataAccessToken'])
  },
  // created () {
  //   if (router.currentRoute.params.member_uuid) {
  //     this.$store.dispatch('getDataStoreAuthAuto', router.currentRoute.params.member_uuid).then((res) => {
  //       if (this.dataAccessToken) {
  //         // console.log(this.dataAccessToken)
  //         this.goToBlank()
  //         this.$router.push({ name: 'homePage' })
  //       }
  //     })
  //   }
  // },
  methods: {
    pushSport () {
      // this.$router.push({ name: 'sportmain' })
      if (this.dataAccessToken) {
        window.open(general.urlToGameBTi + this.dataAccessToken, '_blank')
      } else {
        this.$router.push({ name: 'sportGame' })
      }
    }
    // onLoad (frame) {
    //   this.general.urlToGameBTi = frame.contentWindow
    // }
  }
}
</script>

<style lang="scss">
#sportmain{
  // background: black;
  padding-top: 90px;
  background: url('../../../../assets/images/New/bgsportmaain.png') no-repeat;
  background-size: 100% 100%;
  .setmessi{
    position: relative;
  }
  .headsport{
    font-style: normal;
    font-weight: normal;
    font-size: 107.882px;
    color: #FFFFFF;
    text-shadow: 0px 0px 11.5699px rgba(255, 214, 0, 0.8);
  }
}
</style>
