<template>
  <div id="sportGameDesktop">
    <v-row no-gutters>
      <!-- <v-col cols="12" class="mb-0 mt-7">
        <marquee/>
      </v-col> -->
      <v-col
        class="mt-5"
        cols="12"
        xs="12"
        sm="12"
        md="12"
        lg="12"
        xl="12">
        <v-card height="800" v-if="!dataAccessToken">
          <!-- {{bti}} -->
          <iframe
            src="https://prod20107.bti.bet/th/?operatorToken="
            width="100%"
            height="100%">
          </iframe>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
// import marquee from '@/components/desktop/home/marquee.vue'
import { mapGetters } from 'vuex'
import router from '../../../../router/index'
import general from '../../../../store/modules/general'
// import url from '../../../../store/modules/general'
export default {
  data: () => ({
    bti: ''
  }),
  components: {
    // marquee
  },
  computed: {
    ...mapGetters(['dataAccessToken'])
    // urlBti () {
    //   var x = ''
    //   var vm = this
    //   if (vm.dataAccessToken) {
    //     x = 'https://prod20107.bti.bet/th/?operatorToken=' + this.dataAccessToken
    //     // console.log(this.bti)
    //   } else {
    //     x = 'https://stg20107.core-tech.dev/th'
    //   }
    //   return x
    // }
    // checkToken () {
    //   if (this.dataAccessToken) {
    //     return 'https://prod20107.bti.bet/th/?operatorToken=' + this.dataAccessToken
    //   } else {
    //     return 'https://stg20107.core-tech.dev/th/asian-view/today/%E0%B8%9F%E0%B8%B8%E0%B8%95%E0%B8%9A%E0%B8%AD%E0%B8%A5'
    //   }
    // }
  },
  created () {
    if (router.currentRoute.params.member_uuid) {
      this.$store.dispatch('getDataStoreAuthAuto', router.currentRoute.params.member_uuid).then((res) => {
        if (this.dataAccessToken) {
          // console.log(this.dataAccessToken)
          this.goToBlank()
          this.$router.push({ name: 'homePage' })
        }
      })
    }
  },
  mounted () {
    // if (router.currentRoute.params.member_uuid) {
    //   this.$store.dispatch('getDataStoreAuthAuto', router.currentRoute.params.member_uuid).then((res) => {
    //     if (this.dataAccessToken) {
    //       console.log(this.dataAccessToken)
    //       window.open(general.urlToGameBTi + this.dataAccessToken, '_blank')
    //     }
    //   })
    // }
    // if (this.dataAccessToken) {
    //   console.log(4894)
    //   window.open(general.urlToGameBTi + this.dataAccessToken, '_blank')
    // }
    // this.$router.push({ name: 'homePage' })
    // window.open(general.urlToGameBTi + this.dataAccessToken, '_blank')
  },
  methods: {
    goToBlank () {
      window.open(general.urlToGameBTi + this.dataAccessToken, '_blank')
    }
  }
}
</script>

<style lang="scss">
#sportGameDesktop{}
</style>
