<template>
  <div id="promotionHeader">
    <v-row no-gutters>
      <v-col cols='12'
        class="mb-4">
        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header
              hide-actions
              class="pa-0">
              <img
                class="setpic"
                src="@/assets/images/U365/mobile/UP365-NEW-MEMBER-50-th.jpg">
            </v-expansion-panel-header>
            <v-expansion-panel-content
              dark
              class="setsubtext pt-4">
              <p>✅ สมาชิกใหม่ รับโบนัส 50% ค่ะ</p>
              <p>🔰ฝากเงินครั้งแรก 300 ขึ้นไป รับโบนัส 50% สูงสุด 2,000 บาท</p>
              <p>📌เงื่อนไขการถอน</p>
              <p>แบบที่ 1 มียอดเล่นได้ 10 เท่าขึ้นไป สามารถแจ้งถอนได้ทันที (ทางระบบดึงโบนัส50%คืน)</p>
              <p>แบบที่ 2 มียอดเล่นได้ 20 เท่าขึ้นไป สามารถแจ้งถอนได้ทันทีพร้อมโบนัส</p>
              <p class="setsubtextred">หมายเหตุ : เฉพาะเว็บไซต์ที่ร่วมรายการ เฉพาะโซน เกมสล็อต,ยิงปลา,คาสิโน,สปอร์ต </p>
              <p class="setsubtextred">Uplay365 ขอสงวนสิทธ์ในการเปลี่ยนแปลงเงื่อนไข ยกเลิกโปรโมชั่นกับสมาชิกบางท่าน</p>
              <p class="setsubtextred">โดยไม่ต้องแจ้งให้ทราบล่วงหน้าและการตัดสินของเว็บไซต์ถือเป็นที่สิ้นสุด 🎲</p>
              <div class="setbtn">
                <v-btn
                  rounded
                  dark
                  color='#aa2c23'>
                  เข้าร่วมเดี๋ยวนี้
                </v-btn>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
      <v-col cols='12'
        class="mb-4">
        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header
              hide-actions
              class="pa-0">
              <img
                class="setpic"
                src="@/assets/images/U365/mobile/UP365-TOPUP-NEXT-TIME-th.jpg">
            </v-expansion-panel-header>
            <v-expansion-panel-content
              dark
              class="setsubtext pt-4">
              <p>✅รับโปรยอดถัดไป 5 Level สูงสุด 2,000 บาท</p>
              <p>ฝาก 300 ขึ้นไป รับเพิ่ม 5%</p>
              <p>ฝาก 1,000 ขึ้นไป รับเพิ่ม 8%</p>
              <p>ฝาก 5,000 ขึ้นไป รับเพิ่ม 10%</p>
              <p>ฝาก 10,000 ขึ้นไป รับเพิ่ม 15%</p>
              <p>📌เงื่อนไขการถอน</p>
              <p>เกม Slot  TurnOver 5 เท่าขึ้นไป เล่นได้เท่าไหร่ถอนได้ทันที</p>
              <p>เกม กีฬา   TurnOver 15 เท่าขึ้นไป เล่นได้เท่าไหร่ถอนได้ทันที</p>
              <p>คาสิโนสด  TurnOver 20 เท่าขึ้นไป เล่นได้เท่าไหร่ถอนได้ทันที</p>
              <p>📌ไม่รับโปรโมชั่น ไม่ต้องทำ TurnOver เล่นได้เท่าไหร่ถอนได้ทันที</p>
              <p class="setsubtextred">หมายเหตุ : เฉพาะเว็บไซต์ที่ร่วมรายการ เฉพาะโซน เกมสล็อต,ยิงปลา,คาสิโน,สปอร์ต </p>
              <p class="setsubtextred">Uplay365 ขอสงวนสิทธ์ในการเปลี่ยนแปลงเงื่อนไข ยกเลิกโปรโมชั่นกับสมาชิกบางท่าน</p>
              <p class="setsubtextred">โดยไม่ต้องแจ้งให้ทราบล่วงหน้าและการตัดสินของเว็บไซต์ถือเป็นที่สิ้นสุด 🎲</p>
              <div class="setbtn">
                <v-btn
                  rounded
                  dark
                  color='#aa2c23'>
                  เข้าร่วมเดี๋ยวนี้
                </v-btn>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
      <v-col cols='12'
        class="mb-4">
        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header
              hide-actions
              class="pa-0">
              <img
                class="setpic"
                src="@/assets/images/U365/mobile/UP365-WL10-th.jpg">
            </v-expansion-panel-header>
            <v-expansion-panel-content
              dark
              class="setsubtext pt-4">
              <p>✅คืนยอดเสีย 10% ทุกสัปดาห์</p>
              <p>📌เฉพาะสมาชิกที่มียอดเสียตั้งแต่ 10,000 บาทขึ้นไป สามารถแจ้งรับยอดเสีย 10% คืน ทุกสัปดาห์</p>
              <p class="setsubtextred">หมายเหตุ : เฉพาะเว็บไซต์ที่ร่วมรายการ เฉพาะโซน เกมสล็อต,ยิงปลา,คาสิโน,สปอร์ต </p>
              <p class="setsubtextred">Uplay365 ขอสงวนสิทธ์ในการเปลี่ยนแปลงเงื่อนไข ยกเลิกโปรโมชั่นกับสมาชิกบางท่าน</p>
              <p class="setsubtextred">โดยไม่ต้องแจ้งให้ทราบล่วงหน้าและการตัดสินของเว็บไซต์ถือเป็นที่สิ้นสุด 🎲</p>
              <div class="setbtn">
                <v-btn
                  rounded
                  dark
                  color='#aa2c23'>
                  เข้าร่วมเดี๋ยวนี้
                </v-btn>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
      <v-col cols='12'
        class="mb-4">
        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header
              hide-actions
              class="pa-0">
              <img
                class="setpic"
                src="@/assets/images/U365/mobile/UP365-Friend-20-th.jpg">
            </v-expansion-panel-header>
            <v-expansion-panel-content
              dark
              class="setsubtext pt-4">
              <p>✅โปรแนะนำเพื่อน 20%</p>
              <p>เพื่อนฝาก 300 ขึ้นไป รับ 20% ของยอดที่เพื่อนฝากเข้ามา  สูงสุด 2,000บาท</p>
              <p>โดยเพื่อนต้องมีรายการเล่นกับทางเว็บก่อน ลูกค้าจะได้รับโบนัสแนะนำนี้ได้</p>
              <p class="setsubtextred">📌เงื่อนไขการถอน : เล่น TrunOver 5 เท่าถอนได้ทันที</p>
              <p class="setsubtextred">หมายเหตุ  ลูกค้าที่แนะนำต้องมีรายการเล่น 3ครั้ง เพื่อนต้องมีรายการฝาก 3ครั้ง ภายใน 3วันหลังจากสมัคร</p>
              <div class="setbtn">
                <v-btn
                  rounded
                  dark
                  color='#aa2c23'>
                  เข้าร่วมเดี๋ยวนี้
                </v-btn>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
      <v-col cols='12'
        class="mb-4">
        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header
              hide-actions
              class="pa-0">
              <img
                class="setpic"
                src="@/assets/images/U365/mobile/UP365-HBD150-th.jpg">
            </v-expansion-panel-header>
            <v-expansion-panel-content
              dark
              class="setsubtext pt-4">
              <p>✅โปรวันเกิดแจกไปเลย 150% สูงสุด 2,000 บาท</p>
              <p>เพียงแสดงหลักฐานการเกิด และฝากขั้นต่ำ 200 บาทขึ้นไป</p>
              <p class="setsubtextred">📌 เงื่อนไขรับโบนัส : ลูกค้าต้องเป็นสมาชิกกับทางเว็บไซต์ 1เดือนขึ้นไป และมียอด turnover 10,000 ขึ้นไป</p>
              <p class="setsubtextred">📌เงื่อนไขการถอนโบนัส : มียอด turnOver 20 เท่าถอนได้ทันที</p>
              <p class="setsubtextred">Uplay365 ขอสงวนสิทธ์ในการเปลี่ยนแปลงเงื่อนไข ยกเลิกโปรโมชั่นกับสมาชิกบางท่าน</p>
              <p class="setsubtextred">โดยไม่ต้องแจ้งให้ทราบล่วงหน้าและการตัดสินของเว็บไซต์ถือเป็นที่สิ้นสุด 🎲</p>
              <div class="setbtn">
                <v-btn
                  rounded
                  dark
                  color='#aa2c23'>
                  เข้าร่วมเดี๋ยวนี้
                </v-btn>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
      <v-col cols='12'
        class="mb-4">
        <v-expansion-panels>
          <v-expansion-panel>
            <v-expansion-panel-header
              hide-actions
              class="pa-0">
              <img
                class="setpic"
                src="@/assets/images/U365/mobile/iphone-th.jpg">
            </v-expansion-panel-header>
            <v-expansion-panel-content
              dark
              class="setsubtext pt-4">
              <p>✅สมาชิกแทงชนะ 11 ตาติด ลุ้นรับ iPhone 12Pro-Max 256GB</p>
              <p>✅สมาชิกแทงเสีย 11 ตาติด ลุ้นรับ iPhone 12Pro-Max 256GB</p>
              <p>📌เงื่อนไขการถอน</p>
              <p class="setsubtextred">📌 เงื่อนไขรับโบนัส : ลูกค้าต้องเป็นสมาชิกกับทางเว็บไซต์ 1เดือนขึ้นไป และมียอด turnover 10,000 ขึ้นไป</p>
              <p class="setsubtextred">Uplay365 ขอสงวนสิทธ์ในการเปลี่ยนแปลงเงื่อนไข ยกเลิกโปรโมชั่นกับสมาชิกบางท่าน</p>
              <p class="setsubtextred">โดยไม่ต้องแจ้งให้ทราบล่วงหน้าและการตัดสินของเว็บไซต์ถือเป็นที่สิ้นสุด 🎲</p>
              <div class="setbtn">
                <v-btn
                  rounded
                  dark
                  color='#aa2c23'>
                  เข้าร่วมเดี๋ยวนี้
                </v-btn>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data: () => ({
    items: ['betlist']
  })
}
</script>

<style lang="scss">
#promotionHeader{
  .setpic{
    width: 100%;
  }
  .setsubtext{
    background-color: black;
    color: white;
  }
  .setsubtextred{
    color: #ff0000;
  }
  .setbtn{
    text-align: end;
  }
}
</style>
