<template>
  <div id="ball">
    <v-row no-gutters>
      <!-- <v-col cols="12">
        <marquee/>
      </v-col> -->
      <v-col cols="12">
        <v-card v-if="listTypeScoreType.length"
          flat
          rounded="0"
          class="mx-10 mt-10 pb-4 bgGamePreview">
          <v-row no-gutters v-if="listTypeScoreType">
            <v-col v-for="(item, index) in listTypeScoreType" :key="index"
              class="px-1 pt-2"
              cols="2">
              <v-btn @click="getScore(item)"
                class="font-xs btnType white--text"
                block
                depressed>
                {{item.sportName}}
              </v-btn>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12"
              class="px-1">
              <v-card v-for="(item, index) in listAllScore" :key="index"
                class="mt-3">
                <div class="font-md font-weight-bold pa-2 px-5">
                  {{$t('ball.leage')}} : {{item.leagueName}}
                </div>
                <v-simple-table>
                  <template v-slot:default>
                    <thead>
                      <tr class="head">
                        <td class="font-xs font-weight-bold text-center"
                          style="width:200px">
                          {{$t('ball.date')}}
                        </td>
                        <td class="font-xs font-weight-bold text-center"
                          style="width:150px">
                          {{$t('ball.time')}}
                        </td>
                        <!-- <td class="font-xs font-weight-bold text-center">
                          {{$t('ball.timeLive')}}
                        </td> -->
                        <td class="font-xs font-weight-bold text-center"
                          style="width:120px">
                          {{$t('ball.extendTime')}}
                        </td>
                        <td class="font-xs font-weight-bold text-center">
                          {{$t('ball.home')}}
                        </td>
                        <td class="font-xs font-weight-bold text-center">
                          {{$t('ball.away')}}
                        </td>
                        <!-- <td class="font-xs font-weight-bold text-center">
                          {{$t('ball.halfTime')}}
                        </td> -->
                        <td class="font-xs font-weight-bold text-center"
                          style="width:100px">
                          {{$t('ball.result')}}
                        </td>
                        <td class="font-xs font-weight-bold text-center"
                          style="width:80px">
                          {{$t('ball.live')}}
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(itemScore, index) in item.data_All" :key="index + itemScore.vid">
                        <td class="font-xs font-weight-bold text-center">
                          {{itemScore.Matchtime}}
                        </td>
                        <td class="font-xs font-weight-bold text-center">
                          {{itemScore.Time}}
                        </td>
                        <!-- <td class="font-xs font-weight-bold text-center">
                          {{itemScore.MatchInfo.PlayingTime}}
                        </td> -->
                        <td class="font-xs font-weight-bold text-center">
                          <span v-if="itemScore.MatchInfo.AddTime">
                            {{itemScore.MatchInfo.AddTime}}
                          </span>
                          <span v-else>
                            -
                          </span>
                        </td>
                        <td class="font-xs font-weight-bold text-center">
                          {{itemScore.Opp1}}
                        </td>
                        <td class="font-xs font-weight-bold text-center">
                          {{itemScore.Opp2}}
                        </td>
                        <!-- <td class="font-xs font-weight-bold text-center">
                          {{$t('ball.halfTime')}}
                        </td> -->
                        <td class="font-xs font-weight-bold text-center">
                          {{itemScore.Scores}}
                        </td>
                        <td class="font-xs font-weight-bold text-center"
                          style="width:80px">
                          <span v-if="itemScore.StreamInfo.state"
                            @click="goToSteamSport(itemScore)"
                            class="red--text textLive">
                            Live
                          </span>
                          <span v-else>
                            -
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </template>
                </v-simple-table>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
        <v-card
          flat
          rounded="0"
          class="mx-10 mt-10 pb-4 bgGamePreview"
          v-else>
          <v-row no-gutters>
            <v-col cols="12"
              class="font-xxl
              white--text
              font-weight-bold
              text-center">
              <img width="100%" src="@/assets/images/New/commingsoon.png">
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
// import marquee from '@/components/desktop/home/marquee.vue'
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      tab: null
    }
  },
  components: {
    // marquee
  },
  mounted () {
    // this.$store.dispatch('getStoreListScoreType')
  },
  computed: {
    ...mapGetters([
      'dataAccessToken',
      'listTypeScoreType',
      'listAllScore'
    ])
  },
  methods: {
    getScore (e) {
      // console.log(e)
      var data = {
        sportName: e.sportName
      }
      this.$store.dispatch('postStoreListAllScore', data)
    },
    goToSteamSport (item) {
      // console.log(item)
      window.open('/steamSport/' + item.StreamName + '/' + item.Sport + '/' + item.Liga + '/' + item.Opp1 + '/' + item.Opp2)
    }
  }
}
</script>

<style lang="scss">
#ball{
  .bgGamePreview{
    background: rgba(196, 196, 196, 0.23);
    border-radius: 10px !important;
  }
  .v-btn{
    // border-radius: 0;
  }
  .btnType{
    background: linear-gradient(180deg, #C02121 0%, #E35A5A 20.83%, #C92E2E 88.54%, #C92E2E 88.54%, #FA6363 100%)
  }
  .head{
    background: #da4b4b;
    color: white
  }
  .textLive{
    cursor: pointer;
    text-decoration: underline;
  }
}
</style>
