<template>
  <div id="steamBall">
    <v-row no-gutters>
      <v-col cols="12">
        <v-card
          rounded="0"
          dark
          class="cardHeight head py-3">
          <v-row no-gutters
            justify="center">
            LEAGE : {{$route.params.leage}}
          </v-row>
          <v-row no-gutters
            justify="center">
            <span class="pr-5">
              {{$route.params.Opp1}}
            </span>
            VS
            <span class="pl-5">
              {{$route.params.Opp2}}
            </span>
          </v-row>
          <v-row no-gutters
            justify="center">
            <vue-flv-player
              :autoplay="true"
              :controls="true"
              :muted="true"
              ref="myPlayer"
              :source="src"
              type="flv" />
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data: () => ({
    // src: 'http://18.140.31.144:8077/live/' + this.$route.params.StreamName + '.flv'
    // src: 'http://18.140.31.144:8077/live/stream10017618.flv'
  }),
  mounted () {
  },
  computed: {
    src () {
      return 'http://18.140.31.144:8077/live/' + this.$route.params.StreamName + '.flv'
    }
  }
}
</script>

<style lang="scss">
#steamBall{
  .cardHeight{
    height: 100vh;
  }
  .head{
    font-weight: bold;
    font-size: 25px;
  }
  .flv-player{
    width: 100%
  }
}
</style>
