<template>
  <div id="languageempty">
  </div>
</template>

<script>
export default {

}
</script>

<style lang='scss'>
#languageempty{
  min-height: 100vh;
  height: auto;
  margin-bottom: 100px;
}
</style>
