<template>
  <div id="FISHINGgameDesktop">
    <v-row no-gutters>
      <v-col
        class=""
        cols="12"
        xs="12"
        sm="12"
        md="12"
        lg="12"
        xl="12">
        <v-row no-gutters>
          <v-col cols="6" align="center">
            <img class="setmessi" width="70%" src="@/assets/images/New/picfish.png">
          </v-col>
          <v-col cols="6" class="pa-2">
            <v-col cols="12" align="center">
              <span class="headsport">Fishing</span>
            </v-col>
            <div v-for="(item, index) in getFishSlot" :key="index">
              <v-row no-gutters
                class="">
                <v-col cols="12"
                  class="white--text px-4 pt-4 font-md font-weight-bold">
                  {{item.fullname}}
                </v-col>
              </v-row>
              <v-row no-gutters>
                <v-col
                  v-for="(fishSlot, index) in item.ListGameFishSlot" :key="item.keylink + index"
                  class="pa-2"
                  cols="3">
                  <div @click="postPlayGame(item, fishSlot)">
                    <v-row no-gutters>
                      <v-col class="d-flex justify-center">
                        <v-img
                          class="setborder"
                          height="150"
                          contain
                          :src="fishSlot.gameIcon">
                        </v-img>
                      </v-col>
                    </v-row>
                    <v-row no-gutters>
                      <v-col class="bgFooter py-2 font-xs" align="center">
                        {{fishSlot.gameName}}
                      </v-col>
                    </v-row>
                  </div>
                </v-col>
              </v-row>
            </div>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import jsonListGame from '../../../../store/jsonFix/listSlot.json'
export default {
  data: () => ({
    jsonListGame: jsonListGame
  }),
  components: {
  },
  computed: {
    ...mapGetters(['dataAccessToken']),
    getFishSlot () {
      var z = []
      var vm = this
      for (var i = 0; i < vm.jsonListGame.data.length; i++) {
        if (vm.jsonListGame.data[i].ListGameFishSlot.length !== 0) {
          z.push(vm.jsonListGame.data[i])
        }
      }
      return z
    }
  },
  mounted () {
  },
  methods: {
    ...mapMutations(['setAlertDialogLoginDesktop']),
    postPlayGame (item, fishSlot) {
      if (this.dataAccessToken) {
        if (item.keylink === 'CQ9Slot') {
          this.$store.dispatch('postStoreSlotLinkCQ9Slot', fishSlot)
        } else if (item.keylink === 'JokerGaming') {
          this.$store.dispatch('postStoreSlotLinkJokerGaming', fishSlot)
        } else if (item.keylink === 'TPGGames') {
          this.$store.dispatch('postStoreSlotLinkTPGGames', fishSlot)
        } else if (item.keylink === 'YLGaming') {
          this.$store.dispatch('postStoreSlotLinkYLGaming', fishSlot)
        }
      } else {
        this.setAlertDialogLoginDesktop(true)
      }
    }
  }
}
</script>

<style lang="scss">
#FISHINGgameDesktop{
  // background: #171717;
  padding-top: 90px;
  background: url('../../../../assets/images/New/bgfishs.png') no-repeat;
  background-size: contain;
  // height: 500px;
  .barHead{
    background: #6f0406;
    height: 60px;
  }
  .head{
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #210102
  }
  .bgGamePreview{
    // background: rgba(0, 0, 0, 0.3);
    background: rgba(196, 196, 196, 0.3);
    border-radius: 10px !important;
  }
  .bgFooter{
    color:#FFD26D;
    // height: ;
  }
  .headsport{
    font-style: normal;
    font-weight: normal;
    font-size: 107.882px;
    color: #FFFFFF;
    text-shadow: 0px 0px 11.5699px rgba(255, 214, 0, 0.8);
  }
  .setborder{
    border: solid 2px #FFD26D;
    border-radius: 7px;
  }
}
</style>
