<template>
  <div id="listSlotGameDesktop">
    <v-row no-gutters>
      <v-col class=""
        cols="12"
        xs="12"
        sm="12"
        md="12"
        lg="12"
        xl="12">
        <pre>
          {{gameNameKey}}
        </pre>
          <v-row no-gutters
            class="">
            <v-col cols="12"
              class="white--text px-4 pt-4 font-md">
              {{$route.params.name}}
            </v-col>
          </v-row>
          <div v-for="(item, index) in jsonListGame.data" :key="index">
            <v-row v-if="item.keylink === gameNameKey"
              no-gutters>
              <v-col v-for="(slot, index2) in item.ListGame" :key="index2"
                cols="2"
                class="pa-2">
                <v-hover v-slot="{ hover }">
                  <v-card
                    flat
                    class="bgwindwalk"
                    link
                    style="border-radius:10px">
                    <v-row no-gutters>
                      <v-col class="d-flex justify-center pa-6">
                        <v-img
                          height="170px"
                          class="setborder"
                          contain
                          :src="slot.gameIcon">
                        </v-img>
                      </v-col>
                    </v-row>
                    <v-row no-gutters>
                      <v-col class="d-flex justify-center bgFooter py-2 font-xs">
                        {{slot.gameName}}
                      </v-col>
                    </v-row>
                    <v-expand-transition>
                      <div
                        v-if="hover"
                        class="
                          d-flex
                          transition-fast-in-fast-out
                          grey darken-1
                          v-card--reveal
                          white--text"
                        style="height: 100%;"
                      >
                        <v-row no-gutters
                          align="center">
                          <v-col
                            @click="postPlayDemo(slot)"
                            class="
                              grey darken-3 font-md font-weight-bold py-4 my-4
                              d-flex justify-center"
                            cols="12">
                            {{$t('btn.playDemo')}}
                          </v-col>
                          <v-col
                            @click="postPlayGame(slot)"
                            class="
                              grey darken-3 font-md font-weight-bold py-4 my-4
                              d-flex justify-center"
                            cols="12">
                            {{$t('btn.playGame')}}
                          </v-col>
                        </v-row>
                      </div>
                    </v-expand-transition>
                  </v-card>
                </v-hover>
              </v-col>
            </v-row>
          </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapGetters, mapMutations } from 'vuex'
// import router from '../../../../router/index'
import jsonListGame from '../../../../store/jsonFix/listSlot.json'
export default {
  components: {
  },
  data: () => ({
    jsonListGame: jsonListGame,
    gameNameKey: ''
    // name: $route.params.name
  }),
  mounted () {
    this.gameNameKey = this.$route.params.keyLink
    // if (router.currentRoute.member_uuid) {
    // console.log(router.currentRoute.params.member_uuid)
    // }
    // if (router.currentRoute.params.member_uuid) {
    //   this.$store.dispatch('getDataStoreAuthAuto', router.currentRoute.params.member_uuid)
    // }
    // this.$store.dispatch('getStoreSlotGame', this.$route.params.apiName)
  },
  computed: {
    ...mapGetters(['dataAccessToken'])
    // gameSlot () {
    //   return this.$store.getters.getGameSlot
    // }
  },
  methods: {
    ...mapMutations(['setAlertDialogLoginDesktop']),
    postPlayGame (item) {
      // console.log(item)
      if (this.dataAccessToken) {
        if (this.$route.params.keyLink === 'YLGaming') {
          this.$store.dispatch('postStoreSlotLinkYLGaming', item)
          // // // console.log('YLGaming')
        } else if (this.$route.params.keyLink === 'PPSoft') {
          // // // console.log(item)
          this.$store.dispatch('postStoreSlotLinkPPSoft', item)
        } else if (this.$route.params.keyLink === 'JokerGaming') {
          // // // console.log(item)
          this.$store.dispatch('postStoreSlotLinkJokerGaming', item)
          // // // console.log('JokerGaming')
        } else if (this.$route.params.keyLink === 'CQ9Slot') {
          // // // console.log(item)
          this.$store.dispatch('postStoreSlotLinkCQ9Slot', item)
        } else if (this.$route.params.keyLink === 'TPGGames') {
          this.$store.dispatch('postStoreSlotLinkTPGGames', item)
        } else if (this.$route.params.keyLink === 'HabaneroCasinos') {
          // // // console.log(item)
          this.$store.dispatch('postStoreSlotLinkHabaneroCasinos', item)
          // // // console.log('HabaneroCasinos')
        } else if (this.$route.params.keyLink === 'DreamTech') {
          this.$store.dispatch('postStoreSlotLinkDreamTech', item)
        } else if (this.$route.params.keyLink === 'Evoplay') {
          // // // console.log(item)
          this.$store.dispatch('postStoreSlotLinkEvoplay', item)
        } else if (this.$route.params.keyLink === 'PGSoft') {
          // // // console.log(item)
          this.$store.dispatch('postStoreSlotLinkPGSoft', item)
        } else if (this.$route.params.keyLink === 'Skywind') {
          // // // console.log(item)
          this.$store.dispatch('postStoreSlotLinkSkyWind', item)
        }
      } else {
        this.setAlertDialogLoginDesktop(true)
      }
      // // // console.log(this.$route.params.keyLink)
      // // // console.log(item)
    },
    // ---------------------- demo -----------------------------------------------------------
    postPlayDemo (item) {
      // console.log(item)
      if (this.$route.params.keyLink === 'TPGGames') {
        this.$store.dispatch('postStoreSlotDemoTPG', item)
      } else if (this.$route.params.keyLink === 'HabaneroCasinos') {
        this.$store.dispatch('postStoreSlotDemoHabanero', item)
      } else if (this.$route.params.keyLink === 'Evoplay') {
        this.$store.dispatch('postStoreSlotDemoEvoplay', item)
      } else if (this.$route.params.keyLink === 'DreamTech') {
        this.$store.dispatch('postStoreSlotDemoDT', item)
      } else if (this.$route.params.keyLink === 'PPSoft') {
        this.$store.dispatch('postStoreSlotDemoPP', item)
      } else if (this.$route.params.keyLink === 'PGSoft') {
        this.$store.dispatch('postStoreSlotDemoPGSoft', item)
      } else if (this.$route.params.keyLink === 'Skywind') {
        this.$store.dispatch('postStoreSlotDemoSkywind', item)
      } else {
        Vue.$snotify.error('Game Not Demo', {
          position: 'rightBottom',
          timeout: 3000,
          titleMaxLength: 100,
          bodyMaxLength: 200,
          showProgressBar: false,
          closeOnClick: false,
          pauseOnHover: true
        })
      }
    }
  }
}
</script>

<style lang="scss">
#listSlotGameDesktop{
  background: url('../../../../assets/images/New/bgslots.png') no-repeat;
  background-size: contain;
  // background: #171717;
  // padding-top: 20px;
  // height: 500px;
  .barHead{
    background: #6f0406;
    height: 60px;
  }
  .head{
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #210102
  }
  .bgFooter{
    background:rgba(255, 250, 250, 0);
    border-radius: 0px 0px 10px 10px;
    color:rgb(209, 197, 124);
    // height: ;
  }
  .bgGamePreview{
    background: rgba(196, 196, 196, 0.23);
    border-radius: 10px !important;
  }
  .v-card--reveal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    border-radius: 5px;
  }
  .bgwindwalk{
    background-color: #ffffff00;
  }
  .toPlayGame{
  }
  .setborder{
    border: solid 2px #FFD26D;
    border-radius: 7px;
  }
}
</style>
