<template>
  <div id="typeGameSlot">
    <v-row no-gutters>
      <v-col class="px-1 pt-10 bg"
        cols="12"
        xs="12"
        sm="12"
        md="12"
        lg="12"
        xl="12">
        <v-row no-gutters>
          <v-spacer></v-spacer>
          <v-col cols="4"
            class="pt-5 mr-13 text-end">
            <v-btn @click="showModalSearchSlot"
              large
              dark
              class="font-md font-weight-bold">
              {{$t('btn.search')}}
              <v-icon size="20"
                class="pl-2">
                fas fa-search
              </v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <v-row no-gutters class="pt-5 ma-0">
          <v-col cols="6" align="center">
            <img class="" width="90%" src="@/assets/images/New/picslots.png">
          </v-col>
          <v-col
            cols="6">
            <v-row no-gutters>
              <v-col cols="12" align="center">
                <span class="headsport">Game Slot</span>
              </v-col>
              <v-col cols="3" class="mb-8"
                align="center"
                v-for="(item, index) in gameSlotOpen" :key="index" no-gutters>
                <div>
                  <img class="setborder zoom" height="150" :src="item.image" @click="pushLink(item)">
                  <div @click="pushLink(item)"
                    align="center"
                    class="font-xs bgFooter">
                    {{item.fullname}}
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import jsonListGameFix from '../../../../store/jsonFix/listGame.json'
import { mapGetters, mapMutations } from 'vuex'
export default {
  data: () => ({
    search: '',
    jsonListGame: jsonListGameFix
  }),
  components: {
  },
  mounted () {
    // this.$store.dispatch('getStoreListGameSlot')
  },
  computed: {
    ...mapGetters(['getListGameSlot']),
    gameSlotOpen () {
      // console.log(this.getListGameSlot)
      var data = []
      for (var i = 0; i < this.jsonListGame.data.data_GameSlot.length; i++) {
        if (this.jsonListGame.data.data_GameSlot[i].show_web) {
          data.push(this.jsonListGame.data.data_GameSlot[i])
        }
      }
      return data
    }
  },
  methods: {
    ...mapMutations([
      'modalSearch',
      'storeDataGameSearchSlot'
    ]),
    pushLink (item) {
      if (item.keylink === 'FishingGame') {
        this.$router.push({
          path: '/desktop/Fish/' +
          this.jsonListGame.data.data_fishing.keylink +
          '/' +
          this.jsonListGame.data.data_fishing.fullname
        }).catch(() => {})
      } else {
        this.$router.push({
          path: '/desktop/Slot/listSlotGame/' +
          item.apilink + '/' +
          item.keylink + '/' +
          item.fullname
        }).catch(() => {})
      }
    },
    showModalSearchSlot () {
      this.modalSearch(true)
      this.storeDataGameSearchSlot(null)
    }
  }
}
</script>

<style lang="scss">
#typeGameSlot{
  .bg{
    // border-radius: 10px;
    background: url('../../../../assets/images/New/bgslots.png') no-repeat;
    background-size: 100% 100%;
    // height: 500px;
  }
  .borderCard{
    border: 1px solid rgb(209, 197, 124);
    border-radius: 10px;
  }
  .bgGame{
    background: rgb(46, 43, 40);
    border-radius: 0 0 10px 10px;
    height: 45px;
    color: rgb(209, 197, 124);
  }
  .bgGamePreview{
    background: rgba(196, 196, 196, 0.23);
    border-radius: 10px !important;
  }
  .headsport{
    font-style: normal;
    font-weight: normal;
    font-size: 107.882px;
    color: #FFFFFF;
    text-shadow: 0px 0px 11.5699px rgba(255, 214, 0, 0.8);
  }
  .bgFooter{
    color:#FFD26D;
    // height: ;
  }
  .setborder{
    border: solid 2px #FFD26D;
    border-radius: 7px;
  }
  .zoom {
  // padding: 50px;
  transition: transform .2s;
  // width: 200px;
  // height: 200px;
  margin: 0 auto;
  }
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
    cursor: pointer;
  }
}
</style>
