<template>
  <div id="modalWatchMovieDesktop">
    <!-- <span v-if="getMovieById"></span> -->
    <v-card dark height="900">
      <v-row no-gutters
        class="py-4">
        <v-col
          class="d-flex justify-center font-md">
          {{movieData.movieapi_name}}
        </v-col>
        <v-col cols="1"
          class="d-flex justify-end">
          <v-icon @click="closeDialog"
            size="40"
            class="btnClose white--text">
            fas fa-times
          </v-icon>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="12">
          <video-player
            :options="playerOptions"
            >
          </video-player>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import 'video.js/dist/video-js.css'
import { videoPlayer } from 'vue-video-player'
import { mapMutations } from 'vuex'
export default {
  components: {
    videoPlayer
  },
  props: [
    'movieData',
    'movieDetail'
  ],
  data: () => ({
    playerOptions: {
      height: '300',
      width: '300',
      muted: true,
      language: 'en',
      playbackRates: [0.7, 1.0, 1.5, 2.0],
      sources: [{
        type: 'video/mp4',
        src: 'https://cdn.theguardian.tv/webM/2015/07/20/150716YesMen_synd_768k_vp8.webm'
      }]
      // poster: '/static/images/author.jpg'
    }
  }),
  computed: {
  },
  methods: {
    ...mapMutations(['clearMovie']),
    closeDialog () {
      this.clearMovie('')
      this.$root.$emit('dialogMovie', false)
    }
  }
}
</script>

<style lang="scss">
#modalWatchMovieDesktop{
  position: relative;
  z-index: 200000 !important;
  .btnClose{
    position: absolute;
    top: -3px;
    right: 0;
  }
}
</style>
