<template>
  <div id="movieDesktop">
    <span v-if="watchMovie"></span>
    <v-row no-gutters>
      <!-- <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col> -->
      <!-- <v-col cols="12">
        <marquee/>
      </v-col> -->
      <v-col class=""
        cols="12"
        xs="12"
        sm="12"
        md="12"
        lg="12"
        xl="12">
        <v-card v-if="statusMovie"
          flat
          rounded="0"
          class="mx-10 mt-10 pb-4 bgGamePreview">
          <v-row
            no-gutters
            class="pa-3">
            <v-col v-if="movieList"
              cols="9">
              <v-row no-gutters>
                <v-col v-for="(item, index) in movieList" :key="index"
                  cols="3"
                  class="">
                  <v-card @click="getDetailMovie(item)"
                    height="350"
                    rounded="0"
                    dark
                    link
                    flat
                    class="ma-1 pa-1">
                    <v-img
                      :src="item.MovieImageUrl"
                      class="white--text align-end"
                      style="
                      border: solid 0.5px #24243f;"
                      gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                      height="250px"
                      contain>
                      <div
                        style="
                        height: 250px;
                        margin: 0;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-right: -50%;
                        transform: translate(-50%, -50%) !important;
                        margin-top: 30%;"
                        class="text-center">
                        <img
                        width="60"
                        height="60"
                        src="@/assets/images/U365/Group 236.png">
                      </div>
                    </v-img>
                    <div
                      class="
                      font-xs
                      mt-2
                      text-center">
                      {{ item.movieapi_name }}
                    </div>
                  </v-card>
                </v-col>
              </v-row>
              <v-row no-gutters>
                <v-col cols="12"
                  class="d-flex justify-center">
                  <v-btn @click="loadMoreMovie(
                    movieList[0].movie_cat,
                    commentsToShow += 40,
                    commentsToShowOffset += 0
                  )"
                    height="40"
                    width="200"
                    rounded
                    class="bgBtnLoadMore font-md"
                    depressed>
                    {{$t('movie.loadMore')}}
                  </v-btn>
                </v-col>
              </v-row>
              <!-- <v-pagination
                color="#f79c20"
                v-model="page"
                :length="100"
              ></v-pagination> -->
            </v-col>
            <v-col cols="3">
              <v-card
                flat
                class="mt-3 mx-4">
                <v-row no-gutters>
                  <v-col cols="12"
                    class="bgCategory font-lg
                    d-flex align-center
                    pl-3">
                    {{$t('movie.movieCategory')}}
                  </v-col>
                </v-row>
                <v-row no-gutters
                  class="mt-0">
                  <v-col
                    cols="12">
                    <v-list
                      class="pa-0">
                      <v-list-item
                        v-for="(item, index) in movieListCategory" :key="'movieListCategory' + index"
                        dense
                        class="pa-0">
                        <v-list-item-content class="pa-0">
                          <v-hover v-slot="{ hover }">
                            <div @click="getMovieLits(item)"
                              class="bgListMovie font-xs d-flex align-center"
                              :class="hover ? 'bgSelect':''">
                              <span
                                class="pl-3">
                                {{item.movie_category_name}}
                              </span>
                            </div>
                          </v-hover>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item
                        v-for="(item, index) in movieListType" :key="'movieListType' + index"
                        dense
                        class="pa-0">
                        <v-list-item-content class="pa-0">
                          <v-hover v-slot="{ hover }">
                            <div @click="getMovieListByType(item)"
                              class="bgListMovie font-xs d-flex align-center"
                              :class="hover ? 'bgSelect':''">
                              <span
                                class="pl-3">
                                {{item.movie_type}}
                              </span>
                            </div>
                          </v-hover>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
            <!-- --------------- loading ----------------------------------- -->
            <v-col v-if="!movieList"
              cols="9">
              <v-row no-gutters>
                <v-col v-for="index in 15" :key="index"
                  class="pa-1"
                  cols="3">
                  <v-card dark>
                    <v-skeleton-loader
                      class="mx-auto"
                      type="card-avatar">
                    </v-skeleton-loader>
                  </v-card>
                </v-col>
              </v-row>
            </v-col>
            <v-col v-if="!movieListCategory"
              cols="3">
              <v-card dark>
                <v-skeleton-loader v-for="index in 7" :key="index"
                  class="mx-auto"
                  type="list-item">
                </v-skeleton-loader>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
        <img width="100%" src="@/assets/images/New/commingsoon.png">
        <!-- <v-card
          flat
          rounded="0"
          class="mx-10 mt-10 pb-4 bgGamePreview"
          v-else>
          <v-row no-gutters>
            <v-col cols="12"
              class="font-xxl
              white--text
              font-weight-bold
              text-center">
              MOVIES COMING SOON ...
            </v-col>
          </v-row>
        </v-card> -->
      </v-col>
      <!-- <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col> -->
    </v-row>
  </div>
</template>

<script>
// import modalWatchMovieDesktop from './modalWatchMovie'
import { mapGetters, mapMutations } from 'vuex'
// import marquee from '../../home/marquee'
export default {
  components: {
    // marquee
    // modalWatchMovieDesktop
  },
  data: () => ({
    page: 1,
    commentsToShow: 0,
    commentsToShowOffset: 0
    // dialogMovie: false,
    // movieData: ''
  }),
  computed: {
    ...mapGetters([
      'movieListCategory',
      'movieListType',
      'movieList',
      'movieDetail',
      'dataAccessToken',
      'statusMovie'
    ]),
    watchMovie () {
      var vm = this
      if (this.movieDetail) {
        // // console.log(123)
        vm.dialogMovie = true
      }
      return this.movieDetail
    }
  },
  mounted () {
    // this.$store.dispatch('getDataMovieCategory')
  },
  methods: {
    ...mapMutations([
      'setDataMovie',
      'setAlertDialogLoginDesktop'
    ]),
    getMovieLits (item) {
      // // console.log(item)
      this.commentsToShow = 0
      this.commentsToShowOffset = 0
      this.$store.dispatch('getDataMovieListByCategory', item)
    },
    getMovieListByType (item) {
      this.commentsToShow = 0
      this.commentsToShowOffset = 0
      this.$store.dispatch('getDataMovieListByTypeMovie', item)
    },
    loadMoreMovie (item, commentsToShow, commentsToShowOffset) {
      // var count += 40
      var data = {
        movie_cat: item,
        limit: commentsToShow,
        offset: commentsToShowOffset
      }
      // // console.log(data)
      this.$store.dispatch('getDataMovieListLoadMore', data)
    },
    getDetailMovie (item) {
      if (this.dataAccessToken) {
        this.$store.dispatch('getDataMovieDetail', item).then((res) => {
          if (res.data) {
            var x = res.data.toString()
            sessionStorage.setItem('setUrlMovie', x)
            window.open('/Movie/' + item.movieapi_name)
          }
        })
      } else {
        this.setAlertDialogLoginDesktop(true)
      }
    }
  }
}
</script>

<style lang="scss">
#movieDesktop{
  .bg{
    background: #7e0505
  }
  .bgCategory{
    background:rgb(229, 35, 38);
    height: 40px;
    font-weight: bold;
    color: white;
  }
  .bgListMovie{
    height: 40px;
    color: white;
    background:black;
    border-bottom: 1px solid gray;
    cursor: pointer;
  }
  .bgSelect{
    background: #f79c20;
    height: 40px;
    font-weight: bold;
    color: white;
  }
  .bgMovie{
    background: gray
  }
  .bgBtnLoadMore{
    background: black;
    color:white;
  }
  .bgGamePreview{
    background: rgba(196, 196, 196, 0.23);
    border-radius: 10px !important;
  }
}
</style>
