<template>
  <div id="pageMovieDesktop">
    <v-row no-gutters>
      <v-col cols="12">
        <v-card
          rounded="0"
          dark
          class="cardHeight head py-3">
          <v-row no-gutters>
            <v-col cols="12"
              class="d-flex justify-center">
              {{$route.params.name}}
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12"
              class="d-flex justify-center">
              <div class="player">
                <video-player
                  class="vjs-custom-skin"
                  :options="playerOptions">
                  >
                </video-player>
              </div>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import 'video.js/dist/video-js.css'
import { videoPlayer } from 'vue-video-player'
// import { mapGetters } from 'vuex'
export default {
  components: {
    videoPlayer
  },
  data: () => ({
    url: ''
    // playerOptions: {
    //   height: '100%',
    //   muted: true,
    //   language: 'en',
    //   playbackRates: [0.7, 1.0, 1.5, 2.0],
    //   sources: [{
    //     type: 'video/mp4',
    //     src: 'https://cdn.theguardian.tv/webM/2015/07/20/150716YesMen_synd_768k_vp8.webm'
    //   }]
    // }
  }),
  mounted () {
    // // console.log(this.dataMovie)
    this.url = sessionStorage.getItem('setUrlMovie')
    // // console.log(sessionStorage.getItem('setUrlMovie'))
    // // console.log(this.movieDetail)
  },
  computed: {
    playerOptions () {
      var url = this.url
      return {
        height: '700',
        width: '1200',
        muted: false,
        language: 'en',
        playbackRates: [0.7, 1.0, 1.5, 2.0],
        sources: [{
          type: 'video/mp4',
          src: url
        }],
        poster: 'https://surmon-china.github.io/vue-quill-editor/static/images/surmon-1.jpg'
      }
    }
  },
  methods: {
  }
}
</script>

<style lang="scss">
#pageMovieDesktop{
  .cardHeight{
    height: 100vh;
  }
  .head{
    font-weight: bold;
    font-size: 25px;
  }
  .vjs-big-play-button {
    top: 50%;
    left: 50%
  }
}
</style>
