<template>
  <div id="statementDesktop">
    <v-row no-gutters>
      <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col>
      <v-col class="bg pa-4 mt-5"
        cols="10"
        xs="10"
        sm="10"
        md="10"
        lg="10"
        xl="8">
        <v-row no-gutters>
          <v-col cols="2" class="mb-4">
            <sidebarMenu/>
          </v-col>
          <v-col cols="10"
            class="pl-3">
            <v-card v-if="getListGameByUser"
              class="pa-3"
              rounded="0"
              flat>
              <span class="bgHead font-md px-2 py-1">
                {{$t('statement.statement')}}
              </span>
              <v-row no-gutters
                class="mt-4">
                <v-col cols="4"
                  class="font-xs d-flex align-center">
                  <v-select
                    v-model="select"
                    :items="getListGameByUser"
                    item-text="provider_name"
                    item-value="provider_id"
                    :label="$t('statement.statementRecord')"
                    class="bgSelect font-xs"
                    solo
                    dense
                    hide-details>
                    <template v-slot:selection ="{item}">
                      <span class="white--text">{{item.provider_name}}</span>
                    </template>
                    <template v-slot:item ="{item}">
                      <span class="font-xs">{{item.provider_name}}</span>
                    </template>
                  </v-select>
                </v-col>
                <!-- <v-spacer></v-spacer> -->
                <v-col cols="8">
                  <!-- <v-row no-gutters>
                    <v-col
                      class="d-flex justify-center">
                      <v-btn @click="status = 1"
                        :class="status === 1 ? 'bgSelectBtn':'bgBtn'"
                        class="font-xs px-1"
                        small
                        :ripple="false"
                        elevation="0"
                        depressed>
                        {{$t('statement.today')}}
                      </v-btn>
                    </v-col>
                    <v-col
                      class="d-flex justify-center">
                      <v-btn @click="status = 2"
                        :class="status === 2 ? 'bgSelectBtn':'bgBtn'"
                        class="font-xs px-1"
                        small
                        :ripple="false"
                        elevation="0"
                        depressed>
                        {{$t('statement.thisWeek')}}
                      </v-btn>
                    </v-col>
                    <v-col
                      class="d-flex justify-center">
                      <v-btn @click="status = 3"
                        :class="status === 3 ? 'bgSelectBtn':'bgBtn'"
                        class="font-xs px-1"
                        small
                        :ripple="false"
                        elevation="0"
                        depressed>
                        {{$t('statement.lastWeek')}}
                      </v-btn>
                    </v-col>
                    <v-col
                      class="d-flex justify-center">
                      <v-btn  @click="status = 4"
                        :class="status === 4 ? 'bgSelectBtn':'bgBtn'"
                        class="font-xs px-1"
                        small
                        :ripple="false"
                        elevation="0"
                        depressed>
                        {{$t('statement.thisMonth')}}
                      </v-btn>
                    </v-col>
                    <v-col
                      class="d-flex justify-center">
                      <v-btn  @click="status = 5"
                        :class="status === 5 ? 'bgSelectBtn':'bgBtn'"
                        class="font-xs px-1"
                        small
                        :ripple="false"
                        elevation="0"
                        depressed>
                        {{$t('statement.lastMonth')}}
                      </v-btn>
                    </v-col>
                  </v-row> -->
                  <!-- ------------------------------- datetime ----------------------------------------- -->
                  <v-row no-gutters>
                    <!-- <v-spacer></v-spacer> -->
                    <v-col cols="2"
                      class="d-flex align-center font-xs pl-3">
                      {{$t('statement.startDate')}}
                    </v-col>
                    <v-col cols="3"
                      class="d-flex justify-center font-xs">
                      <v-menu
                        v-model="menuStartDate"
                        :close-on-content-click="false"
                        offset-y>
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            :disabled="!select"
                            class="pr-2 font-xs"
                            v-model="startDate"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                            hide-details
                            dense
                            outlined
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          width="250"
                          flat
                          v-model="startDate"
                          @input="menuStartDate = false"
                        ></v-date-picker>
                      </v-menu>
                    </v-col>
                    <v-col cols="2"
                      class="d-flex align-center font-xs">
                      {{$t('statement.endDate')}}
                    </v-col>
                    <v-col cols="3"
                      class="d-flex justify-center font-xs">
                      <v-menu
                        v-model="menuEndDate"
                        :close-on-content-click="false"
                        offset-y>
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            :disabled="!select"
                            class="pr-2 font-xs"
                            v-model="endDate"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                            hide-details
                            dense
                            outlined
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          width="250"
                          flat
                          v-model="endDate"
                          @input="menuEndDate = false"
                        ></v-date-picker>
                      </v-menu>
                    </v-col>
                    <v-col
                      class="d-flex justify-center align-center">
                      <v-btn @click="postStoreStatement"
                        block
                        rounded
                        depressed
                        class="bgSubmit font-xs"
                        height="35"
                        small>
                        {{$t('statement.submit')}}
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
              <!---------------------------------------------------------------- table -->
              <v-row v-if="!statusGetStatementByUser"
                no-gutters>
                <v-col cols="12">
                  <v-data-table
                    :items="getStatementByUser.data_lists"
                    :page.sync="page"
                    @page-count="pageCount = $event"
                    dense
                    :no-data-text="$t('statement.noHistory')"
                    :headers="header"
                    class="elevation-0"
                    hide-default-footer>
                    <template v-slot:[`item.win_lose`] = "{item}">
                      <span class="red--text"
                        v-if="item.status">
                        {{item.win_lose}}
                      </span>
                      <span v-else
                        class="green--text">
                        {{item.win_lose}}
                      </span>
                    </template>
                  </v-data-table>
                  <v-divider></v-divider>
                  <v-row no-gutters>
                    <v-spacer></v-spacer>
                    <v-col cols="2"
                      class="py-2">
                      {{$t('statement.totalBet')}}
                    </v-col>
                    <v-col cols="2"
                      class="py-2">
                      {{getStatementByUser.total_bet}}
                    </v-col>
                  </v-row>
                  <v-divider></v-divider>
                  <v-row no-gutters>
                    <v-spacer></v-spacer>
                    <v-col cols="2"
                      class="py-2">
                      {{$t('statement.totalWinLose')}}
                    </v-col>
                    <v-col cols="2"
                      class="py-2">
                      {{getStatementByUser.total_win_lose}}
                    </v-col>
                  </v-row>
                  <v-divider></v-divider>
                  <v-pagination
                    class="my-4"
                    v-model="page"
                    :length="pageCount"
                    circle
                  ></v-pagination>
                </v-col>
              </v-row>
              <v-row v-else
                no-gutters>
                <v-col cols="12">
                  <LoadingTable/>
                </v-col>
              </v-row>
            </v-card>
            <v-card
              v-else
              class="pa-3"
              rounded="0"
              flat
            >
              <LoadingInfo/>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col>
    </v-row>
  </div>
</template>

<script>
import LoadingInfo from '@/components/loading/LoadingInfo'
import LoadingTable from '@/components/loading/LoadingTable'
import moment from 'moment'
import Vue from 'vue'
import sidebarMenu from '../sidebarMenu'
import { mapGetters } from 'vuex'
export default {
  components: {
    sidebarMenu,
    LoadingInfo,
    LoadingTable
  },
  data: () => ({
    select: null,
    status: 1,
    menuStartDate: false,
    menuEndDate: false,
    startDate: new Date().toISOString().substr(0, 10),
    endDate: new Date().toISOString().substr(0, 10),
    page: 1,
    pageCount: 0
  }),
  mounted () {
    this.$store.dispatch('storeListGameByUser')
  },
  computed: {
    ...mapGetters([
      'statusGetStatementByUser'
    ]),
    getListGameByUser () {
      return this.$store.getters.getListGameByUser
    },
    getStatementByUser () {
      return this.$store.getters.getStatementByUser
    },
    header () {
      return [
        {
          text: this.$t('statement.no'),
          class: 'font-xxs pa-2',
          width: 80,
          value: 'key'
        },
        {
          text: this.$t('statement.numberTran'),
          class: 'font-xxs pa-2',
          value: 'transactionID'
        },
        {
          text: this.$t('statement.game'),
          class: 'font-xxs pa-2',
          value: 'gameTypeID'
        },
        // {
        //   text: this.$t('statement.pool'),
        //   class: 'font-xxs pa-2',
        //   value: 'time'
        // },
        {
          text: this.$t('statement.type'),
          class: 'font-xxs pa-2',
          value: 'gameName'
        },
        // {
        //   text: this.$t('statement.number'),
        //   class: 'font-xxs pa-2',
        //   value: 'status'
        // },
        {
          text: this.$t('statement.betAmount'),
          class: 'font-xxs pa-2',
          value: 'bet'
        },
        {
          text: this.$t('statement.winLose'),
          class: 'font-xxs pa-2',
          value: 'win_lose'
        },
        // {
        //   text: this.$t('statement.result'),
        //   class: 'font-xxs pa-2',
        //   value: 'option'
        // },
        {
          text: this.$t('statement.GameId'),
          class: 'font-xxs pa-2',
          value: 'start_time',
          width: 180
        }
        // {
        //   text: this.$t('statement.odds'),
        //   class: 'font-xxs pa-2',
        //   value: 'option'
        // }
      ]
    }
  },
  methods: {
    postStoreStatement () {
      if (this.startDate > this.endDate || !this.select) {
        Vue.$snotify.error(this.$t('alert.textFormatDate'), {
          position: 'rightBottom',
          timeout: 3000,
          titleMaxLength: 100,
          bodyMaxLength: 200,
          showProgressBar: false,
          closeOnClick: false,
          pauseOnHover: true
        })
      } else {
        var sDate = this.startDate + ' 00:00:00'
        var eDate = this.endDate + ' 23:59:59'
        var startDate = moment(sDate).format('X')
        var endDate = moment(eDate).format('X')
        var data = {
          provider_id: this.select,
          start_date: startDate,
          end_date: endDate
          // start_date: this.startDate,
          // end_date: this.endDate
        }
        this.$store.dispatch('postStoreListStatementByUser', data)
      }
    }
  }
}
</script>

<style lang="scss">
#statementDesktop{
  .bg{
    background: rgba(196, 196, 196, 0.23);
    border-radius: 10px !important;
    // background:#424242;
    width: 100%;
    height: 100%;
  }
  .bgHead{
    background: #333;
    border-radius: 0 20px 20px 0;
    color: white;
    font-weight: bold;
    // width: 200px;
  }
  // .theme--light.v-text-field--solo > .v-input__control > .v-input__slot
  .bgSelect{
    .v-input__slot{
      // background: url('../../../../assets/images/U365/headerBeforeHover.png');
      background: linear-gradient(180deg, #C02121 0%, #E35A5A 20.83%, #C92E2E 88.54%, #C92E2E 88.54%, #FA6363 100%);
      // background-size: 101% 101%;
      // background: #6f0406;
    }
    color:white !important;
  }
  .bgSelectBtn{
    background:#6f0406;
    color:white;
  }
  .bgBtn{
    background: gray;
    color:white
  }
  .bgSubmit{
    // background: url('../../../../assets/images/U365/headerBeforeHover.png');
    background: linear-gradient(180deg, #C02121 0%, #E35A5A 20.83%, #C92E2E 88.54%, #C92E2E 88.54%, #FA6363 100%);
    // background-size: 101% 101%;
    // background: linear-gradient(#6f0406, #4a0206);
    color: white;
  }
  .v-label{
    color:white
  }
  // .v-input__slot{
  //   padding: 0px 4px;
  //   font-size: 14px;
  // }
}
</style>
