<template>
  <div id="casinohead" class="d-flex justify-center">
    <span
      style="
      font-weight: bold;
      color: white;
      font-size: 20px"
    >
      {{$route.params.fullname}}
    </span>
  </div>
</template>

<script>
export default {
  data () {
    return {
      fullName: ''
    }
  },
  mounted () {
  }
}
</script>

<style lang="scss">
#casinohead{
}
</style>
