<template>
  <div id="casinolivepage"
    v-if="getListGameCasino">
    <v-row no-gutters>
      <v-col v-for="(item, index) in getListGameCasino" :key="index"
        cols="4"
        class="pa-3">
        <v-card
          @click="gogamecasino(item)"
          dark
          flat
          class="borderCard">
          <v-row no-gutters>
            <v-col class="d-flex justify-center align-center pa-2">
              <v-img class="my-0"
                contain
                height="90"
                :src="item.image">
              </v-img>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col class="d-flex justify-center align-center font-xs bgGame">
              {{item.fullname}}
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <modalLogin :modalLoginCall='modalLoginCall'/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import modalLogin from '../modal/modalLogin.vue'

export default {
  data () {
    return {
      modalLoginCall: false,
      gameListCasino: []
    }
  },
  components: {
    modalLogin
  },
  computed: {
    ...mapGetters([
      'dataAccessToken'
    ]),
    getListGameCasino () {
      var data = []
      for (var i = 0; i < this.gameListCasino.length; i++) {
        if (this.gameListCasino[i].show_web) {
          data.push(this.gameListCasino[i])
        }
      }
      return data
    },
    checkToken () {
      var vm = this
      if (vm.dataAccessToken) {
        vm.modalLoginCall = false
      }
      return vm.dataAccessToken
    }
  },
  mounted () {
    this.$store.dispatch('storeListGameCasino').then((res) => {
      this.gameListCasino = res.data.data
    })
    this.$root.$on('closeModalLogin', (data) => {
      this.modalLoginCall = data
    })
  },
  methods: {
    gogamecasino (item) {
      // // console.log(item.keylink)
      if (item.keylink === 'AECasino') {
        if (this.dataAccessToken) {
          this.$store.dispatch('storeListGameLinkCasino', item.apilink)
        } else {
          this.modalLoginCall = true
        }
      }
      if (item.keylink === 'BIGGaming') {
        if (this.dataAccessToken) {
          this.$store.dispatch('storeListGameLinkCasino', item.apilink)
        } else {
          this.modalLoginCall = true
        }
      }
      if (item.keylink === 'SAGaming') {
        if (this.dataAccessToken) {
          this.$store.dispatch('storeListGameLinkCasino', item.apilink)
        } else {
          this.modalLoginCall = true
        }
      }
      if (item.keylink === 'WMCasino') {
        if (this.dataAccessToken) {
          this.$store.dispatch('storeListGameLinkCasino', item.apilink)
        } else {
          this.modalLoginCall = true
        }
      }
      if (item.keylink === 'AGaming') {
        if (this.dataAccessToken) {
          this.$store.dispatch('storeListGameLinkCasino', item.apilink)
        } else {
          this.modalLoginCall = true
        }
      }
      if (item.keylink === 'CQ9Casino') {
        if (this.dataAccessToken) {
          // // // console.log(item)
          var data = {
            gameId: item.gameID,
            gameName: item.gameName
          }
          this.$store.dispatch('storeListGameCq9', data)
        } else {
          this.modalLoginCall = true
        }
      }
      if (item.keylink === 'PPCasino') {
        this.$router.push({ path: '/mobile/casinogame/' + item.apilink + '/' + item.fullname + '/' + item.keylink })
      }
    }
  }
}
</script>

<style lang="scss">
#casinolivepage{
  min-height: 100vh;
  height: auto;
  margin-bottom: 100px;
  .setcard{
    // width: 100px;
    height: 140px;
    background-color: black;
    // border: red solid 1px;
  }
  .settext{
    color: white;
  }
  .setct{
    text-align: center;
    justify-content: center;
  }
  .bg{
    // background: url('../../../../assets/images/U365/content_dg.jpg') no-repeat;
    background-size: 100% 100%;
    // height: 500px;
  }
  .borderCard{
    border: 1px solid rgb(209, 197, 124);
    border-radius: 10px;
  }
  .bgGame{
    background: rgb(46, 43, 40);
    border-radius: 0 0 10px 10px;
    height: 45px;
    color: rgb(209, 197, 124);
    text-align: -webkit-center;
  }
}
</style>
