<template>
  <div id="fishingpage"
    v-if="getGameSlotFishing">
    <v-row no-gutters>
      <v-col v-for="(item, index) in getGameSlotFishing.data_cq9" :key="index"
        cols="4"
        class="pa-3">
        <v-card
          @click="gg(item)"
          dark
          flat
          class="borderCard">
          <v-row no-gutters>
            <v-col class="d-flex justify-center align-center pa-0">
              <v-img class="my-0"
                contain
                height="90"
                :src="item.gameIcon">
              </v-img>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col class="d-flex justify-center align-center font-xs bgGame">
              {{item.gameName}}
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col v-for="(item, index) in getGameSlotFishing.data_joker" :key="'data_joker' + index"
        cols="4"
        class="pa-3">
        <v-card
          @click="gg(item)"
          dark
          flat
          class="borderCard">
          <v-row no-gutters>
            <v-col class="d-flex justify-center align-center pa-0">
              <v-img class="my-0"
                contain
                height="90"
                :src="item.gameIcon">
              </v-img>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col class="d-flex justify-center align-center font-xs bgGame">
              {{item.gameName}}
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col v-for="(item, index) in getGameSlotFishing.data_tpg" :key="'data_tpg' + index"
        cols="4"
        class="pa-3">
        <v-card
          @click="gg(item)"
          dark
          flat
          class="borderCard">
          <v-row no-gutters>
            <v-col class="d-flex justify-center align-center pa-0">
              <v-img class="my-0"
                contain
                height="90"
                :src="item.gameIcon">
              </v-img>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col class="d-flex justify-center align-center font-xs bgGame">
              {{item.gameName}}
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col v-for="(item, index) in getGameSlotFishing.data_yl" :key="'data_yl' + index"
        cols="4"
        class="pa-3">
        <v-card
          @click="gg(item)"
          dark
          flat
          class="borderCard">
          <v-row no-gutters>
            <v-col class="d-flex justify-center align-center pa-0">
              <v-img class="my-0"
                contain
                height="90"
                :src="item.gameIcon">
              </v-img>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col class="d-flex justify-center align-center font-xs bgGame">
              {{item.gameName}}
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <modalLogin :modalLoginCall='modalLoginCall'/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import modalLogin from '../modal/modalLogin.vue'

export default {
  data () {
    return {
      modalLoginCall: false
    }
  },
  computed: {
    ...mapGetters([
      'getGameSlotFishing',
      'dataAccessToken'
    ]),
    checkToken () {
      var vm = this
      if (vm.dataAccessToken) {
        vm.modalLoginCall = false
      }
      return vm.dataAccessToken
    }
  },
  components: {
    modalLogin
  },
  methods: {
    gg (item) {
      // // console.log(item)
      if (item.keylink === 'YLGaming') {
        if (this.dataAccessToken) {
          this.$store.dispatch('postStoreSlotLinkYLGaming', item)
        } else {
          this.modalLoginCall = true
        }
      }
      if (item.keylink === 'CQ9Slot') {
        if (this.dataAccessToken) {
          this.$store.dispatch('postStoreSlotLinkCQ9Slot', item)
        } else {
          this.modalLoginCall = true
        }
      }
      if (item.keylink === 'TPGGames') {
        if (this.dataAccessToken) {
          this.$store.dispatch('postStoreSlotLinkTPGGames', item)
        } else {
          this.modalLoginCall = true
        }
      }
      if (item.keylink === 'JokerGaming') {
        if (this.dataAccessToken) {
          this.$store.dispatch('postStoreSlotLinkJokerGaming', item)
        } else {
          this.modalLoginCall = true
        }
      }
    }
  },
  mounted () {
    this.$store.dispatch('getStoreSlotGameFishing')
    this.$root.$on('closeModalLogin', (data) => {
      this.modalLoginCall = data
    })
  }
}
</script>

<style lang="scss">
#fishingpage{
  min-height: 100vh;
  height: auto;
  margin-bottom: 100px;
  .setcard{
    // width: 100px;
    height: 140px;
    background-color: black;
    // border: red solid 1px;
  }
  .settext{
    color: white;
  }
  .setct{
    text-align: center;
    justify-content: center;
  }
  .bg{
    // background: url('../../../../assets/images/U365/content_dg.jpg') no-repeat;
    background-size: 100% 100%;
    // height: 500px;
  }
  .borderCard{
    // border: 1px solid #aa2c23;
    border-radius: 10px;
  }
  .bgGame{
    background: rgb(46, 43, 40);
    border-radius: 0 0 10px 10px;
    height: 45px;
    color:white;
    text-align: -webkit-center;
  }
}
</style>
