<template>
    <div id="listgameonly"
      >
      <span v-if="checkToken"></span>
      <v-row no-gutters v-if="!dataAccessToken">
        <v-col cols='12'
          class="d-flex justify-center pr-2">
          <v-btn
          @click.stop="modalLoginCall = true"
          block
          rounded
          dark
          style="background-color: #aa2c23;"
          >
            <v-icon
            class="aticon"
            >
              far fa-user
            </v-icon>
            {{$t('btn.textSignin')}}
          </v-btn>
        </v-col>
        <!-- <v-col cols='6'
          class="d-flex justify-center pl-2">
          <v-btn
          @click.stop="modalRegisCall = true"
          block
          rounded
          dark
          style="background-color: #fc0!important;"
          >
            <v-icon
            class="aticon"
            >
              fal fa-plus-circle
            </v-icon>
            {{$t('btn.textSingUp')}}
          </v-btn>
        </v-col> -->
      </v-row>
      <v-row no-gutters v-if="dataAccessToken">
        <v-col cols='12'>
          <v-card
            class="pa-5">
            <v-row no-gutters>
              <v-col cols='6'
                class="d-flex justify-center align-center">
                {{$t('toolbarMenu.textLogin')}} {{getMsgStoreUser.username}}
              </v-col>
            <v-col cols='6'
              class="d-flex justify-center align-center">
              THB {{getMsgStoreUser.credit}}
              <!-- <v-btn
                elevation='0'
                @click="gotodeposit()"
                dark
                color='#fc0'
                class="ml-5"
                fab
                small>
                <v-icon>
                  far fa-plus-circle
                </v-icon>
              </v-btn> -->
            </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row no-gutters class="mt-4">
        <v-col cols='4' class="d-flex justify-center align-center my-3" style="position: relative;">
          <img
          @click="gotosport()"
          class="sizepicgame"
          src="@/assets/images/U365/mobile/sport.png">
          <div class="bgnamegame d-flex justify-center"
          style="background-position: center;">
            <span class="fontgame font-xs">{{$t('toolbarMenu.menuSport')}}</span>
          </div>
        </v-col>
        <v-col cols='4' class="d-flex justify-center align-center my-3" style="position: relative;">
          <img
          @click="gotocasino()"
          class="sizepicgame"
          src="@/assets/images/U365/mobile/casino.png">
          <div class="bgnamegame d-flex justify-center"
          style="background-position: center;">
            <span class="fontgame font-xs">{{$t('toolbarMenu.menuCasino')}}</span>
          </div>
        </v-col>
        <v-col cols='4' class="d-flex justify-center align-center my-3" style="position: relative;">
          <img
          @click="gotoslot()"
          class="sizepicgame"
          src="@/assets/images/U365/mobile/slot.png">
          <div class="bgnamegame d-flex justify-center"
          style="background-position: center;">
            <span class="fontgame font-xs">{{$t('toolbarMenu.menuSlot')}}</span>
          </div>
        </v-col>
        <!-- <v-col cols='4' class="d-flex justify-center align-center my-3" style="position: relative;">
          <img
          class="sizepicgame"
          src="@/assets/images/U365/mobile/lottery.png">
          <div class="bgnamegame d-flex justify-center"
          style="background-position: center;">
            <span class="fontgame font-xs">{{$t('toolbarMenu.menuLotto')}}</span>
          </div>
        </v-col> -->
        <v-col cols='4' class="d-flex justify-center align-center my-3" style="position: relative;">
          <img
          @click="gotofishing()"
          class="sizepicgame"
          src="@/assets/images/U365/mobile/fishing.png">
          <div class="bgnamegame d-flex justify-center"
          style="background-position: center;">
            <span class="fontgame font-xs">{{$t('toolbarMenu.fishing')}}</span>
          </div>
        </v-col>
        <!-- <v-col cols='4' class="d-flex justify-center align-center my-3" style="position: relative;">
          <img
          class="sizepicgame"
          src="@/assets/images/U365/mobile/poker.png">
          <div class="bgnamegame d-flex justify-center"
          style="background-position: center;">
            <span class="fontgame font-xs">{{$t('toolbarMenu.menuPoker')}}</span>
          </div>
        </v-col> -->
        <!-- <v-col cols='4' class="d-flex justify-center align-center my-3" style="position: relative;">
          <img
          class="sizepicgame"
          src="@/assets/images/U365/mobile/keno.png">
          <div class="bgnamegame d-flex justify-center"
          style="background-position: center;">
            <span class="fontgame font-xs">{{$t('toolbarMenu.menuKeno')}}</span>
          </div>
        </v-col> -->
        <!-- <v-col cols='4' class="d-flex justify-center align-center my-3" style="position: relative;">
          <img
          @click="gotopromotion()"
          class="sizepicgame"
          src="@/assets/images/U365/mobile/promotion.png">
          <div class="bgnamegame d-flex justify-center"
          style="background-position: center;">
            <span class="fontgame font-xs">{{$t('toolbarMenu.menuPromotion')}}</span>
          </div>
        </v-col> -->
        <!-- <v-col cols='4' class="d-flex justify-center align-center my-3" style="position: relative;">
          <img
          @click="dialog = true"
          class="sizepicgame"
          src="@/assets/images/U365/mobile/more.png">
          <div class="bgnamegame d-flex justify-center"
          style="background-position: center;">
            <span class="fontgame font-xs">{{$t('toolbarMenu.load')}}</span>
          </div>
        </v-col> -->
        <v-col cols='4' class="d-flex justify-center align-center my-3" style="position: relative;">
          <img
          @click="gotomovie()"
          class="sizepicgame"
          src="@/assets/images/U365/mobile/movie.png">
          <div class="bgnamegame d-flex justify-center"
          style="background-position: center;">
            <span class="fontgame font-xs">{{$t('toolbarMenu.menuMovie')}}</span>
          </div>
        </v-col>
        <!-- <v-col cols='4' class="d-flex justify-center align-center my-3" style="position: relative;">
          <img
          class="sizepicgame"
          src="@/assets/images/U365/mobile/more.png">
          <div class="bgnamegame d-flex justify-center"
          style="background-position: center;">
            <span class="fontgame font-xxl">{{$t('toolbarMenu.ball')}}</span>
          </div>
        </v-col> -->
      </v-row>
      <modalLogin :modalLoginCall='modalLoginCall'/>
      <!-- <modalRegis :modalRegisCall='modalRegisCall'/> -->
      <v-dialog
        v-model="dialog"
        width="500">
        <v-col cols='12'
          style="
          text-align: right;
          padding-right: 25px;">
          <v-btn
              style="
              position: absolute;
              z-index: 1;"
              small
              dark
              fab
              @click="dialog=false">
              <v-icon
                dark>
                fas fa-times
              </v-icon>
            </v-btn>
        </v-col>
        <v-card class="pa-2"
          style="background: rgba(0,0,0,.8);">
          <v-row no-gutters>
            <v-col cols='12'
              class="d-flex justify-center mb-2">
              <v-btn
                style="width: 100px;"
                color='#aa2c23'
                dark
                rounded>
                <v-icon
                  dark
                  left>
                  fab fa-android
                </v-icon>
                Android
              </v-btn>
            </v-col>
            <v-col cols='12'
              class="d-flex justify-center">
              <v-btn
                style="width: 100px;"
                color='#aa2c23'
                dark
                rounded>
                <v-icon
                  dark
                  left>
                  fab fa-apple
                </v-icon>
                IOS
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-dialog>
    </div>
</template>

<script>
import modalLogin from '../modal/modalLogin.vue'
// import modalRegis from '../modal/modalRegis.vue'
import { mapGetters } from 'vuex'

export default {
  components: {
    modalLogin
    // modalRegis
  },
  data () {
    return {
      modalLoginCall: false,
      // modalRegisCall: false,
      dialog: false
    }
  },
  computed: {
    ...mapGetters(['dataAccessToken', 'getMsgStoreUser']),
    checkToken () {
      var vm = this
      if (vm.dataAccessToken) {
        vm.modalLoginCall = false
      }
      return vm.dataAccessToken
    }
  },
  methods: {
    gotodeposit () {
      this.$router.push({ path: '/mobile/deposit' })
    },
    gotopromotion () {
      this.$router.push({ path: '/mobile/promotion' })
    },
    gotosport () {
      if (this.dataAccessToken) {
        window.open('https://prod20107.bti.bet/th/sports?operatorToken=' + this.dataAccessToken, '_blank')
      } else {
        window.open('https://prod20107.bti.bet/th/sports', '_blank')
      }
    },
    gotocasino () {
      this.$router.push({ path: '/mobile/casinolive' })
    },
    gotoslot () {
      this.$router.push({ path: '/mobile/slot' })
    },
    gotofishing () {
      this.$router.push({ path: '/mobile/fishing' })
    },
    gotomovie () {
      this.$router.push({ path: '/mobile/movie' })
    }
  },
  mounted () {
    this.$root.$on('closeModalLogin', (data) => {
      this.modalLoginCall = data
    })
    this.$root.$on('closeModalRegis', (data) => {
      this.modalRegisCall = data
    })
    this.$root.$on('openModalRegis', (data) => {
      this.modalRegisCall = data
      this.modalLoginCall = false
    })
    this.$root.$on('closeModalLoginbar', (data) => {
      this.modalLoginCall = data
    })
  }
}
</script>

<style lang='scss'>
#listgameonly {
  min-height: 70vh;
  height: auto;
  // margin-bottom: 100px;
  // height: 63vh;
  .sizepicgame{
    width: 80%;
    height: 100%;
    // width: 92px;
    // height: 92px;
  }
  .bgnamegame{
    background-position: center;
    background: url(../../../assets/images/U365/mobile/name.svg);
    // width: 92px;
    // padding: 0 12px;
    margin-bottom: 0px;
    width: 80%;
    height: 15%;
    position: absolute;
    bottom: 0;
    // z-index: 10000;
    background-size: 100%;
    // margin-top: 72px;
  }
  .fontgame{
    color: white;
    font-size: 12px;
    width: 100%;
    text-align: center;
    // position: absolute;
    // margin-top: 75px;
  }
  .aticon{
    position: absolute;
    left: 0;
  }
  .carddownload{
    background: rgba(0,0,0,.8);
  }
  .closebtn{
    position: absolute;
    right: 0;
    top: 0;
  }
}
</style>
