<template>
  <div id="movielist">
    <v-row no-gutters>
      <v-col cols="12">
        <v-row no-gutters>
          <v-col v-for="(item, index) in movieList" :key="index"
            cols="6"
            class="">
            <v-card @click="getDetailMovie(item)"
              height="350"
              rounded="0"
              dark
              link
              flat
              class="ma-1 pa-1">
              <v-img
                :src="item.MovieImageUrl"
                class="white--text align-end"
                style="
                border: solid 0.5px #24243f;"
                gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                height="250px">
                <div
                  style="
                  height: 250px;
                  margin: 0;
                  position: absolute;
                  top: 60%;
                  left: 50%;
                  margin-right: -50%;
                  transform: translate(-50%, -50%) !important;
                  margin-top: 50%;"
                  class="text-center">
                  <img
                  width="60"
                  height="60"
                  src="@/assets/images/U365/Group 236.png">
                </div>
              </v-img>
              <div
                class="
                font-xs
                mt-2
                text-center">
                {{ item.movieapi_name }}
              </div>
            </v-card>
          </v-col>
        </v-row>
        <v-row no-gutters class="spacebtnloadmore">
          <v-col cols="12"
            class="d-flex justify-center">
            <v-btn @click="loadMoreMovie(
              movieList[0].movie_cat,
              commentsToShow += 40,
              commentsToShowOffset += 0
            )"
              height="40"
              width="200"
              rounded
              class="bgBtnLoadMore font-md"
              depressed>
              {{$t('movie.loadMore')}}
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <modalLogin :modalLoginCall='modalLoginCall'/>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import modalLogin from '../modal/modalLogin.vue'

export default {
  data () {
    return {
      page: 1,
      commentsToShow: 0,
      commentsToShowOffset: 0,
      modalLoginCall: false
    }
  },
  components: {
    modalLogin
  },
  computed: {
    ...mapGetters([
      'movieListCategory',
      'movieListType',
      'movieList',
      'movieDetail',
      'dataAccessToken'
    ]),
    checkToken () {
      var vm = this
      if (vm.dataAccessToken) {
        vm.modalLoginCall = false
      }
      return vm.dataAccessToken
    },
    watchMovie () {
      var vm = this
      if (this.movieDetail) {
        // // // console.log(123)
        vm.dialogMovie = true
      }
      return this.movieDetail
    }
  },
  mounted () {
    this.$store.dispatch('getDataMovieCategory')
    this.$root.$on('closeModalLogin', (data) => {
      // console.log(data)
      this.modalLoginCall = data
    })
  },
  methods: {
    ...mapMutations(['setDataMovie']),
    getMovieLits (item) {
      // // // console.log(item)
      this.commentsToShow = 0
      this.commentsToShowOffset = 0
      this.$store.dispatch('getDataMovieListByCategory', item)
    },
    getMovieListByType (item) {
      this.commentsToShow = 0
      this.commentsToShowOffset = 0
      this.$store.dispatch('getDataMovieListByTypeMovie', item)
    },
    loadMoreMovie (item, commentsToShow, commentsToShowOffset) {
      // var count += 40
      var data = {
        movie_cat: item,
        limit: commentsToShow,
        offset: commentsToShowOffset
      }
      // // // console.log(data)
      this.$store.dispatch('getDataMovieListLoadMore', data)
    },
    getDetailMovie (item) {
      if (this.dataAccessToken) {
        // // // console.log('doonung')
        this.$store.dispatch('getDataMovieDetail', item).then((res) => {
          // // // console.log(res)
          if (res.data) {
            var x = res.data.toString()
            // sessionStorage.setItem('setUrlMovie', 'https://cdn.theguardian.tv/webM/2015/07/20/150716YesMen_synd_768k_vp8.webm')
            sessionStorage.setItem('setUrlMovie', x)
            window.open('/Movie/' + item.movieapi_name)
          }
        })
      } else {
        // this.$root.$emit('modalLogInMovieMobile', true)
        this.modalLoginCall = true
      }
      // this.dialogMovie = true
    }
  }
}
</script>

<style lang="scss">
#movielist{
  .spacebtnloadmore{
    margin-bottom: 140px;
  }
}
</style>
