<template>
  <div id="movie" class="d-flex justify-center">
    <span
      style="
      font-weight: bold;
      color: white;
      font-size: 20px"
    >
      {{$t('toolbarMenu.menuMovie')}}
    </span>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
#movie{
}
</style>
