<template>
  <div id="moviepage">
    <v-row no-gutters>
      <v-col cols='12'
        class="pa-2 d-flex justify-end align-center">
        <span class="setfont">หมวดหมู่หนัง</span>
        <v-spacer></v-spacer>
        <v-icon
          @click="modalCatagoryMovie = !modalCatagoryMovie"
          dark>
          fas fa-list
        </v-icon>
      </v-col>
    <listMovie/>
    </v-row>
    <v-navigation-drawer
      class="bglogin"
      v-model="modalCatagoryMovie"
      width="80%"
      absolute
      temporary>
      <v-row no-gutters>
          <v-col cols="12">
          <v-btn
          class="ma-2"
          dark
          @click="$root.$emit('closeModalCategory', false)"
          icon
          tile
          >
            <v-icon dark>
            fas fa-chevron-left
          </v-icon>
          </v-btn>
        </v-col>
        <v-col cols="12">
            <v-card
              flat
              class="mt-3 mx-4 setcardlogin">
              <v-row no-gutters>
                <v-col cols="12"
                  class="bgCategory font-lg
                  d-flex align-center
                  pl-3">
                  {{$t('movie.movieCategory')}}
                </v-col>
              </v-row>
              <v-row no-gutters
                class="mt-0">
                <v-col
                  cols="12">
                  <v-list
                    class="pa-0">
                    <v-list-item
                      v-for="(item, index) in movieListCategory" :key="'movieListCategory' + index"
                      dense
                      class="pa-0">
                      <v-list-item-content class="pa-0">
                        <v-hover v-slot="{ hover }">
                          <div @click="getMovieLits(item)"
                            class="bgListMovie font-xs d-flex align-center"
                            :class="hover ? 'bgSelect':''">
                            <span
                              class="pl-3 setfont">
                              {{item.movie_category_name}}
                            </span>
                          </div>
                        </v-hover>
                      </v-list-item-content>
                    </v-list-item>
                    <v-list-item
                      v-for="(item, index) in movieListType" :key="'movieListType' + index"
                      dense
                      class="pa-0">
                      <v-list-item-content class="pa-0">
                        <v-hover v-slot="{ hover }">
                          <div @click="getMovieListByType(item)"
                            class="bgListMovie font-xs d-flex align-center"
                            :class="hover ? 'bgSelect':''">
                            <span
                              class="pl-3 setfont">
                              {{item.movie_type}}
                            </span>
                          </div>
                        </v-hover>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
      </v-row>
    </v-navigation-drawer>
  </div>
</template>

<script>
// import modalMovie from '../../mobile/modal/modalCatagoryMovie.vue'
import listMovie from '../../../components/mobile/listgame/movieList.vue'
import { mapGetters, mapMutations } from 'vuex'

export default {
  data () {
    return {
      modalCatagoryMovie: false
    }
  },
  components: {
    listMovie
  },
  methods: {
    ...mapMutations(['setDataMovie']),
    getMovieLits (item) {
      // // // console.log(item)
      this.commentsToShow = 0
      this.commentsToShowOffset = 0
      this.$store.dispatch('getDataMovieListByCategory', item)
    },
    getMovieListByType (item) {
      this.commentsToShow = 0
      this.commentsToShowOffset = 0
      this.$store.dispatch('getDataMovieListByTypeMovie', item)
    },
    loadMoreMovie (item, commentsToShow, commentsToShowOffset) {
      // var count += 40
      var data = {
        movie_cat: item,
        limit: commentsToShow,
        offset: commentsToShowOffset
      }
      // // // console.log(data)
      this.$store.dispatch('getDataMovieListLoadMore', data)
    },
    getDetailMovie (item) {
      this.$store.dispatch('getDataMovieDetail', item).then((res) => {
        // // console.log(res)
        if (res.data) {
          var x = res.data.toString()
          // sessionStorage.setItem('setUrlMovie', 'https://cdn.theguardian.tv/webM/2015/07/20/150716YesMen_synd_768k_vp8.webm')
          sessionStorage.setItem('setUrlMovie', x)
          window.open('/Movie/' + item.movieapi_name)
        }
      })
      // this.dialogMovie = true
    }
  },
  computed: {
    ...mapGetters([
      'movieListCategory',
      'movieListType',
      'movieList',
      'movieDetail'
    ])
  },
  mounted () {
    this.$root.$on('closeModalCategory', (data) => {
      this.modalCatagoryMovie = data
    })
  }
}
</script>

<style lang="scss">
#moviepage{
  .bglogin{
    background-position: center;
    background: url(../../../assets/images/U365/mobile/bglogin.jpg);
    background-size: 100%;
  }
  .setfont{
    color: white;
  }
  .setcardlogin{
        background: rgba(46,53,77,.8);
        color: white;
  }
  .v-input__prepend-inner{
    padding-right: 14px;
    padding-bottom: 12px;
  }
  .setloginbtn{
    background-color: #aa2c23;
    position: absolute;
    bottom: -30px;
    width: 70px;
    height: 70px;
  }
  .v-navigation-drawer{
    z-index: 160000 !important
  }
}
</style>
