<template>
  <div id="slotgame"
    v-if="getGameSlot">
    <v-row no-gutters>
      <v-col v-for="(item, index) in getGameSlot" :key="index"
        cols="4"
        class="pa-3">
        <v-card
          @click="playGame(item)"
          dark
          flat
          class="borderCard">
          <v-row no-gutters>
            <v-col class="d-flex justify-center align-center pa-0">
              <v-img class="my-0"
                contain
                height="90"
                :src="item.gameIcon">
              </v-img>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col class="d-flex justify-center align-center font-xs bgGame">
              {{item.gameName}}
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <modalLogin :modalLoginCall='modalLoginCall'/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import modalLogin from '../modal/modalLogin.vue'

export default {
  data () {
    return {
      modalLoginCall: false
    }
  },
  components: {
    modalLogin
  },
  computed: {
    ...mapGetters([
      'getGameSlot',
      'dataAccessToken'
    ]),
    checkToken () {
      var vm = this
      if (vm.dataAccessToken) {
        vm.modalLoginCall = false
      }
      return vm.dataAccessToken
    }
  },
  mounted () {
    this.$store.dispatch('getStoreSlotGame', this.$route.params.apilink)
    this.$root.$on('closeModalLogin', (data) => {
      this.modalLoginCall = data
    })
  },
  methods: {
    playGame (item) {
      // // // console.log(this.$route.params.keylink)
      // // // console.log(item)
      // if (this.$route.params.keylink === 'FishingGame') {
      //   if (this.dataAccessToken) {
      //     // // console.log('fish')
      // this.$store.dispatch('postStoreSlotLinkJokerGaming', item)
      // this.$router.push({ path: '/mobile/fishing' })
      //   } else {
      //     this.modalLoginCall = true
      //   }
      // }
      if (this.$route.params.keylink === 'JokerGaming') {
        if (this.dataAccessToken) {
          this.$store.dispatch('postStoreSlotLinkJokerGaming', item)
        } else {
          this.modalLoginCall = true
        }
      }
      if (this.$route.params.keylink === 'YLGaming') {
        if (this.dataAccessToken) {
          this.$store.dispatch('postStoreSlotLinkYLGaming', item)
        } else {
          this.modalLoginCall = true
        }
      }
      if (this.$route.params.keylink === 'PPSoft') {
        if (this.dataAccessToken) {
          this.$store.dispatch('postStoreSlotLinkPPSoft', item)
        } else {
          this.modalLoginCall = true
        }
      }
      if (this.$route.params.keylink === 'CQ9Slot') {
        if (this.dataAccessToken) {
          this.$store.dispatch('postStoreSlotLinkCQ9Slot', item)
        } else {
          this.modalLoginCall = true
        }
      }
      if (this.$route.params.keylink === 'TPGGames') {
        if (this.dataAccessToken) {
          this.$store.dispatch('postStoreSlotLinkTPGGames', item)
        } else {
          this.modalLoginCall = true
        }
      }
      if (this.$route.params.keylink === 'HabaneroCasinos') {
        if (this.dataAccessToken) {
          this.$store.dispatch('postStoreSlotLinkHabaneroCasinos', item)
        } else {
          this.modalLoginCall = true
        }
      }
      if (this.$route.params.keylink === 'DreamTech') {
        if (this.dataAccessToken) {
          this.$store.dispatch('postStoreSlotLinkDreamTech', item)
        } else {
          this.modalLoginCall = true
        }
      }
      if (this.$route.params.keylink === 'Evoplay') {
        if (this.dataAccessToken) {
          this.$store.dispatch('postStoreSlotLinkEvoplay', item)
        } else {
          this.modalLoginCall = true
        }
      }
      if (this.$route.params.keylink === 'PGSoft') {
        if (this.dataAccessToken) {
          this.$store.dispatch('postStoreSlotLinkPGSoft', item)
        } else {
          this.modalLoginCall = true
        }
      }
    }
  }
}

</script>

<style lang="scss">
#slotgame{
  min-height: 100vh;
  height: auto;
  margin-bottom: 100px;
  .setcard{
    // width: 100px;
    height: 140px;
    background-color: black;
    // border: red solid 1px;
  }
  .settext{
    color: white;
  }
  .setct{
    text-align: center;
    justify-content: center;
  }
  .bg{
    // background: url('../../../../assets/images/U365/content_dg.jpg') no-repeat;
    background-size: 100% 100%;
    // height: 500px;
  }
  .borderCard{
    // border: 1px solid #aa2c23;
    border-radius: 10px;
  }
  .bgGame{
    background: rgb(46, 43, 40);
    border-radius: 0 0 10px 10px;
    height: 45px;
    color:white;
    text-align: -webkit-center;
  }
}
</style>
