<template>
  <div id="slotpage"
    v-if="getListGameSlot">
    <v-row no-gutters>
      <v-col v-for="(item, index) in getListGameSlot" :key="index"
        cols="4"
        class="pa-3">
        <v-card
          @click="gogame(item)"
          dark
          flat
          class="borderCard">
          <v-row no-gutters>
            <v-col class="d-flex justify-center align-center pa-2">
              <v-img class="my-0"
                contain
                height="90"
                :src="item.image">
              </v-img>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col class="d-flex justify-center align-center font-xs bgGame">
              {{item.fullname}}
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
// import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      gameListSlot: []
    }
  },
  computed: {
    // ...mapGetters([
    //   'getListGameSlot'
    // ]),
    getListGameSlot () {
      var data = []
      for (var i = 0; i < this.gameListSlot.length; i++) {
        if (this.gameListSlot[i].show_web) {
          data.push(this.gameListSlot[i])
        }
      }
      return data
    }
  },
  mounted () {
    this.$store.dispatch('getStoreListGameSlot').then((res) => {
      // console.log(res)
      this.gameListSlot = res.data.data.data_GameSlot
    })
    // console.log(this.gameListSlot)
  },
  methods: {
    gogame (item) {
      // this.$router.push({ path: '/mobile/slot/' + item.apilink + '/' + item.fullname + '/' + item.keylink })
      // // // console.log(item)
      if (item.keylink === 'FishingGame') {
        this.$router.push({ path: '/mobile/fishing' })
      } else {
        this.$router.push({ path: '/mobile/slot/' + item.apilink + '/' + item.fullname + '/' + item.keylink })
      }
    }
  }
}
</script>

<style lang="scss">
#slotpage{
  min-height: 100vh;
  height: auto;
  margin-bottom: 100px;
  .setcard{
    // width: 100px;
    height: 140px;
    background-color: black;
    // border: red solid 1px;
  }
  .settext{
    color: white;
  }
  .setct{
    text-align: center;
    justify-content: center;
  }
  .bg{
    // background: url('../../../../assets/images/U365/content_dg.jpg') no-repeat;
    background-size: 100% 100%;
    // height: 500px;
  }
  .borderCard{
    border: 1px solid rgb(209, 197, 124);
    border-radius: 10px;
  }
  .bgGame{
    background: rgb(46, 43, 40);
    border-radius: 0 0 10px 10px;
    height: 45px;
    color: rgb(209, 197, 124);
    text-align: -webkit-center;
  }
}
</style>
