<template>
  <div id="changePasswordDesktop">
    <v-row no-gutters>
      <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col>
      <v-col class="bg pa-4 mt-5"
        cols="10"
        xs="10"
        sm="10"
        md="10"
        lg="10"
        xl="8">
        <v-row no-gutters>
          <v-col cols="2" class="mb-4">
            <sidebarMenu/>
          </v-col>
          <v-col cols="10"
            class="pl-3">
            <v-card
              class="pa-3"
              rounded="0"
              flat>
              <span class="bgHead font-md px-2 py-1">
                {{$t('changePassword.changePass')}}
              </span>
              <!---------------------------------- account name -->
              <!-- <v-row no-gutters
                class="mt-7 py-2">
                <v-spacer></v-spacer>
                <v-col cols="2"
                  class="d-flex justify-end align-center font-xs">
                  {{$t('changePassword.accountName')}}:
                </v-col>
                <v-col cols="5"
                  class="pl-2 font-xs">
                  <v-text-field v-model="test"
                    readonly
                    hide-details
                    dense
                    outlined>
                  </v-text-field>
                </v-col>
                <v-spacer></v-spacer>
              </v-row> -->
              <!---------------------------------- current password -->
              <v-row no-gutters
                class="mt-0 py-2">
                <v-spacer></v-spacer>
                <v-col cols="2"
                  class="d-flex justify-end align-center font-xs">
                  {{$t('changePassword.currentPass')}}:
                </v-col>
                <v-col cols="5"
                  class="pl-2 font-xs">
                  <v-text-field
                    v-model="oldPass"
                    :append-icon="showOldPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
                    @click:append="showOldPassword = !showOldPassword"
                    :type="showOldPassword ? 'text' : 'password'"
                    hide-details
                    dense
                    outlined>
                  </v-text-field>
                </v-col>
                <v-spacer></v-spacer>
              </v-row>
              <!---------------------------------- new password -->
              <v-row no-gutters
                class="mt-0 py-2">
                <v-spacer></v-spacer>
                <v-col cols="2"
                  class="d-flex justify-end align-center font-xs">
                  {{$t('changePassword.newPass')}}:
                </v-col>
                <v-col cols="5"
                  class="pl-2 font-xs">
                  <v-text-field
                    v-model="newPass"
                    :append-icon="showNewPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
                    @click:append="showNewPassword = !showNewPassword"
                    :type="showNewPassword ? 'text' : 'password'"
                    hide-details
                    dense
                    outlined>
                  </v-text-field>
                </v-col>
                <v-spacer></v-spacer>
              </v-row>
              <!---------------------------------- confirm password -->
              <v-row no-gutters
                class="mt-0 py-2">
                <v-spacer></v-spacer>
                <v-col cols="2"
                  class="d-flex justify-end align-center font-xs">
                  {{$t('changePassword.confirmPass')}}:
                </v-col>
                <v-col cols="5"
                  class="pl-2 font-xs">
                  <v-text-field
                    v-model="confirmPass"
                    :append-icon="showConfirmPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
                    @click:append="showConfirmPassword = !showConfirmPassword"
                    :type="showConfirmPassword ? 'text' : 'password'"
                    hide-details
                    dense
                    outlined>
                  </v-text-field>
                </v-col>
                <v-spacer></v-spacer>
              </v-row>
              <!---------------------------------- confirm password -->
              <v-row no-gutters
                class="my-8">
                <v-spacer></v-spacer>
                <v-col cols="3"
                  class="d-flex justify-end align-center font-xs">
                  <v-btn @click="changePassword"
                    block
                    class="btn font-md ml-3"
                    height="50"
                    rounded
                    depressed>
                    {{$t('changePassword.submit')}}
                  </v-btn>
                </v-col>
                <v-spacer></v-spacer>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col>
    </v-row>
  </div>
</template>

<script>
import Vue from 'vue'
import sidebarMenu from '../sidebarMenu'
export default {
  components: {
    sidebarMenu
  },
  data: () => ({
    showOldPassword: false,
    showNewPassword: false,
    showConfirmPassword: false,
    oldPass: '',
    newPass: '',
    confirmPass: ''
  }),
  methods: {
    changePassword () {
      if (!this.oldPass || !this.newPass || !this.confirmPass) {
        Vue.$snotify.error(this.$t('alert.textAlertInputPass'), {
          position: 'rightBottom',
          timeout: 3000,
          titleMaxLength: 100,
          bodyMaxLength: 200,
          showProgressBar: false,
          closeOnClick: false,
          pauseOnHover: true
        })
      } else {
        if (this.newPass !== this.confirmPass) {
          Vue.$snotify.error(this.$t('alert.textAlertPasswordIncorrect'), {
            position: 'rightBottom',
            timeout: 3000,
            titleMaxLength: 100,
            bodyMaxLength: 200,
            showProgressBar: false,
            closeOnClick: false,
            pauseOnHover: true
          })
        } else {
          var data = {
            password: this.oldPass,
            newpassword: this.newPass
          }
          // // console.log(data)
          this.$store.dispatch('postDataChangePassword', data)
        }
      }
    }
  }
}
</script>

<style lang="scss">
#changePasswordDesktop{
  .bg{
    background: rgba(196, 196, 196, 0.23);
    border-radius: 10px !important;
    // background:#424242;
    width: 100%;
    // overflow: hidden;
  }
  .bgHead{
    background: #333;
    border-radius: 0 20px 20px 0;
    color: white;
    font-weight: bold;
    width: 200px;
  }
  .btn{
    font-weight: bold;
    color: white;
    // background: url('../../../../assets/images/U365/headerBeforeHover.png');
    background: linear-gradient(180deg, #C02121 0%, #E35A5A 20.83%, #C92E2E 88.54%, #C92E2E 88.54%, #FA6363 100%);

    // background-size: 101% 101%;
    // background:linear-gradient(#6f0406, #4a0206)
  }
}
</style>
