<template>
  <div id="homePageDesktop">
    <v-main class="bgsetting">
      <v-row no-gutters v-if="maintennance == false">
        <v-col cols="12"
          style="position: relative">
          <v-dialog
            persistent
            v-model="dialogLoginDesktop"
            width="500">
              <modalAlertLoginDesktop/>
          </v-dialog>
          <v-dialog
            persistent
            v-model="modalSearch"
            width="600">
              <modalSearchSlot/>
          </v-dialog>
          <div class="fixHeader">
            <desktopHeader
              :jsonListGame="jsonListGame"
            />
              <!-- :gameSlot="gameSlot" /> -->
          </div>
          <div class="bgContentDesktop">
            <router-view
              class="desktopMarginHeader"
            />
            <Footer
              class="pt-3" />
          </div>
        </v-col>
      </v-row>
      <v-row no-gutters v-if="maintennance == true">
        <maintennancepage/>
      </v-row>
      <!-- <v-row no-gutters v-if="firstpage == true">
        <v-col cols="12">
          <fpage/>
        </v-col>
      </v-row> -->
    </v-main>
  </div>
</template>

<script>
// import modalContact from '../desktop/homeDesktop/modalContact'
import modalAlertLoginDesktop from '../desktop/homeDesktop/modalAlertLogin'
import modalSearchSlot from '../desktop/homeDesktop/modalSearchSlot'
import desktopHeader from '../desktop/header/header'
import Footer from '../desktop/footer/footer'
import { mapGetters } from 'vuex'
import router from '../../router/index'
import jsonListGameFix from '../../store/jsonFix/listGame.json'
import maintennancepage from '../maintenance/maintenance.vue'
// import fpage from '../firstpage/firstpage.vue'
export default {
  components: {
    desktopHeader,
    Footer,
    modalAlertLoginDesktop,
    modalSearchSlot,
    maintennancepage
    // fpage
    // modalContact
  },
  data: () => ({
    drawerRight: false,
    drawerLeft: false,
    jsonListGame: jsonListGameFix,
    maintennance: false
    // firstpage: false
  }),
  computed: {
    ...mapGetters([
      'dialogLoginDesktop',
      'modalSearch'
    ])
    // gameSlot () {
    //   return this.$store.getters.getListGameSlot
    // }
  },
  mounted () {
    // this.$root.$on('dialogContact', (dialog) => {
    //   this.dialogContact = dialog
    // })
    if (router.currentRoute.params.member_uuid) {
      this.$store.dispatch('getDataStoreAuthAuto', router.currentRoute.params.member_uuid)
    }
    // this.$store.dispatch('getStoreListGameSlot')
  }
}
</script>

<style lang="scss">
  .v-dialog__content--active{
    z-index: 200000 !important;
  }
  .v-overlay, .v-overlay--active {
    z-index: 150000 !important;
  }
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  background: #d8c3c7;
}
::-webkit-scrollbar-thumb {
  background: black;
}
.fixHeader{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100000;
}
.desktopMarginHeader{
  margin-top: 139px;
}
.bgContentDesktop{
  // background-attachment: fixed;
  background: #000000;
  // background: url('../../assets/images/New/bgnew.jpg');
  min-height: 100vh;
  // background-color: black;
  // min-height: 100vh;
  background-repeat: no-repeat;
  background-size:100% 100%;
}
#downloadSideRight{
  .v-navigation-drawer{
    overflow: unset !important;
    height: auto !important;
    top: 450px !important;
    width: 170px !important;
  }
  .btnDrawer{
    position: absolute;
    top: 0;
    left: -93px;
    z-index: 3;
    cursor: pointer;
    border-right:1px solid #424242
  }
  .v-navigation-drawer--close{
    visibility: unset !important;
  }
  .v-navigation-drawer{
    z-index: 160000 !important
  }
  .bgRightMenuBefore{
    background:#af0000;
  }
  .bgRightMenuBedoreBelow{
    background:#373737;
    height: 150px;
  }
  .bgRightMenu{
    background: #7a0000;
    height: 43px;
  }
  .bgRightMenuBelow{
    background: #373737;
    height: 100px;
  }
  .fontRight{
    font-size: 16px;
    font-weight: bold;
    color: #fff000;
  }
}
#downloadSideLeft{
  .v-navigation-drawer{
    overflow: unset !important;
    height: auto !important;
    top: 450px !important;
    width: 170px !important;
  }
  .btnDrawer{
    position: absolute;
    top: 0;
    right: -93px;
    z-index: 3;
    cursor: pointer;
    border-left:1px solid #424242
  }
  .v-navigation-drawer--close{
    visibility: unset !important;
  }
  .v-navigation-drawer{
    z-index: 160000 !important
  }
  .bgLeftMenuBefore{
    background:#af0000;
    width: 44px;
  }
  .bgLeftMenuBedoreBelow{
    background:#373737;
    width: 44px;
    height: 150px;
  }
  .bgRightMenu{
    background: #7a0000;
    height: 43px;
  }
  .bgLeftMenuBelow{
    background: #373737;
    height: 100px;
  }
  .fontRight{
    font-size: 16px;
    font-weight: bold;
    color: #fff000;
  }
}
</style>
