<template>
  <div>
    <v-main class="setbglistgame">
      <div>
        <mobilePage/>
        <!-- <div v-if="statusslide === '/mobile'">
          <slideHeader/>
        </div> -->
        <div>
          <router-view />
        </div>
        <v-card
        class="setmenubar">
          <mobilemenu/>
        </v-card>
      </div>
    </v-main>
  </div>
</template>

<script>
import mobilePage from '../mobile/header/headermobile.vue'
import mobilemenu from '../mobile/footermenu/viewMenu.vue'
// import slideHeader from '../../components/useAll/picCarouselMobile.vue'
export default {
  components: {
    mobilePage,
    // slideHeader,
    mobilemenu
  }
}
</script>

<style lang="scss">
.setmenubar{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .setbglistgame{
    background-color:rgba(0, 0, 0, 0.87);
  }
  .desktopMarginHeader{
  // margin-top: 178px;
  }
  .v-navigation-drawer{
    z-index: 160000 !important
  }
</style>
