<template>
  <div id="sidebarMenu" class="pb-2">
    <v-hover v-slot="{ hover }">
      <v-btn :to="{name: 'infoDesktop'}"
        :class="routerNow === 'infoDesktop'? statuNow():checkHover(hover)"
        small
        class="font-xs"
        height="40"
        depressed
        block>
        {{$t('userInfo.basicinfo')}}
      </v-btn>
    </v-hover>
    <!-- changepassword -->
    <v-hover v-slot="{ hover }">
      <v-btn :to="{name: 'changePasswordDesktop'}"
        :class="routerNow === 'changePasswordDesktop'? statuNow():checkHover(hover)"
        small
        class="font-xs mt-3"
        height="40"
        depressed
        block>
        {{$t('userInfo.changepassword')}}
      </v-btn>
    </v-hover>
    <!-- diposit -->
    <v-hover v-slot="{ hover }">
      <v-btn :to="{name: 'depositViewDesktop'}"
        :class="routerNow === 'depositViewDesktop' ? statuNow():checkHover(hover)"
        small
        class="font-xs mt-3"
        height="40"
        depressed
        block>
        {{$t('userInfo.diposit')}}
      </v-btn>
    </v-hover>
    <!-- withdraw -->
    <v-hover v-slot="{ hover }">
      <v-btn :to="{name: 'withdrawViewDesktop'}"
        :class="routerNow === 'withdrawViewDesktop' ? statuNow():checkHover(hover)"
        small
        class="font-xs mt-3"
        height="40"
        depressed
        block>
        {{$t('userInfo.withdraw')}}
      </v-btn>
    </v-hover>
    <!-- betreport -->
    <!-- <v-hover v-slot="{ hover }">
      <v-btn :to="{name: 'betReportViewDesktop'}"
        :class="routerNow === 'betReportViewDesktop' ? statuNow():checkHover(hover)"
        small
        class="font-xs mt-3"
        height="40"
        depressed
        block>
        {{$t('userInfo.betreport')}}
      </v-btn>
    </v-hover> -->
    <!-- statement -->
    <v-hover v-slot="{ hover }">
      <v-btn :to="{name: 'statementDesktop'}"
        :class="routerNow === 'statementDesktop' ? statuNow():checkHover(hover)"
        small
        class="font-xs mt-3"
        height="40"
        depressed
        block>
        {{$t('userInfo.statement')}}
      </v-btn>
    </v-hover>
    <!-- bonus -->
    <!-- <v-hover v-slot="{ hover }">
      <v-btn
        :class="hover ? 'btnHover':'btnBeforeHover'"
        small
        class="font-xs mt-3"
        height="40"
        depressed
        block>
        {{$t('userInfo.bonus')}}
      </v-btn>
    </v-hover> -->
    <!-- tranfer -->
    <!-- <v-hover v-slot="{ hover }">
      <v-btn
        :class="hover ? 'btnHover':'btnBeforeHover'"
        small
        class="font-xs mt-3"
        height="40"
        depressed
        block>
        {{$t('userInfo.tranfer')}}
      </v-btn>
    </v-hover> -->
    <!-- turnovercheckingDesktop -->
    <v-hover v-slot="{ hover }">
      <v-btn :to="{name: 'turnOverDesktop'}"
        :class="routerNow === 'turnOverDesktop' ? statuNow():checkHover(hover)"
        small
        class="font-xs mt-3"
        height="40"
        depressed
        block>
        {{$t('userInfo.turnovercheckingDesktop')}}
      </v-btn>
    </v-hover>
    <!-- achievementDesktop -->
    <!-- <v-hover v-slot="{ hover }">
      <v-btn
        :class="hover ? 'btnHover':'btnBeforeHover'"
        small
        class="font-xs mt-3"
        height="40"
        depressed
        block>
        {{$t('userInfo.achievementDesktop')}}
      </v-btn>
    </v-hover> -->
  </div>
</template>

<script>
export default {
  computed: {
    routerNow () {
      return this.$route.name
    }
  },
  methods: {
    statuNow () {
      return 'btnHover'
    },
    checkHover (hover) {
      if (hover) {
        return 'btnHover'
      } else {
        return 'btnBeforeHover'
      }
    }
  }
}
</script>

<style lang="scss">
#sidebarMenu{
  .btnHover{
    justify-content: start;
    // background: url('../../../assets/images/U365/headerHover.png');
    // background: linear-gradient(180deg, #C02121 0%, #E35A5A 20.83%, #E35B5B 67.71%, #C92E2E 88.54%, #FA6363 100%);
    background: rgb(73, 66, 66);
    background-size: 101% 101%;
    // background: linear-gradient(#6f0406, #4a0206);
    color:white
  }
  .btnBeforeHover{
    justify-content: start;
    // background: url('../../../assets/images/U365/headerBeforeHover.png');
    // background: linear-gradient(180deg, #C02121 0%, #E35A5A 20.83%, #E35B5B 67.71%, #C92E2E 88.54%, #FA6363 100%);
    background: linear-gradient(180deg, #C02121 0%, #E35A5A 20.83%, #C92E2E 88.54%, #C92E2E 88.54%, #FA6363 100%);
    background-size: 101% 101%;
    color: white;
  }
}
</style>
