<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1920">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
    <link rel="icon" href="<%= BASE_URL %>nlogo.png">
    <!-- <script src="flv.min.js"></script> -->
    <title>
      ECLUB
    </title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Themem Admin doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
