<template>
  <div id="toolbar">
    <v-app-bar
      fixed
      dense
      app
      flat>
      <v-avatar
        v-if="setTheme"
        :color="setTheme.sidebar"
        size="30">
        <v-app-bar-nav-icon
          class="avatarProfileDrawerActive"
          @click.stop="drawerToOpenAndClose()"
        />
      </v-avatar>
      <v-avatar
        v-if="!setTheme"
        size="30">
        <v-app-bar-nav-icon
          class="avatarProfileDrawer"
          @click.stop="drawerToOpenAndClose()"
        />
      </v-avatar>
      <v-toolbar-title class="pl-0">
        <span class="pl-2">
          Theme Admin
        </span>
      </v-toolbar-title>
      <v-spacer />
      <v-menu
        offset-y>
        <template v-slot:activator="{ on }">
          <v-chip
            link
            class="
            font-xs
            ma-1"
            v-on="on">
            <v-avatar
              v-if="$t('langId') === 'th'"
              left>
              <img src="@/assets/flag/thailand.png">
            </v-avatar>
            <v-avatar
              v-if="$t('langId') === 'en'"
              left>
              <img src="@/assets/flag/uk.png">
            </v-avatar>
            <v-avatar
              v-if="$t('langId') === 'cn'"
              left>
              <img src="@/assets/flag/china.png">
            </v-avatar>
            {{ $t('langName') }}
            <v-avatar
              right
              size="36">
              <span>
                <v-icon size="15">
                  fas fa-chevron-down
                </v-icon>
              </span>
            </v-avatar>
          </v-chip>
        </template>
        <v-list class="py-0">
          <v-list-item
            link
            class="px-2"
            dense
            v-for="(lang, index) in languages"
            :key="`lang${index}`"
            v-on:change="postDataLanguageType(lang)">
            <v-list-item-avatar class="ma-0">
              <v-avatar
                size="25"
                left>
                <img
                v-if="lang.id === 1"
                src="@/assets/flag/thailand.png">
                <img
                v-if="lang.id === 2"
                src="@/assets/flag/uk.png">
                <img
                v-if="lang.id === 3"
                src="@/assets/flag/china.png">
              </v-avatar>
            </v-list-item-avatar>
            <v-list-item-content class="font-xs">
              {{ lang.title }}
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-avatar
        v-if="setTheme"
        @click.stop="drawerBarProfileToOpenAndClose()"
        class="
        ml-1
        pointer"
        size="30"
        :color="setTheme.sidebar">
        <span class="white--text">
          S
        </span>
      </v-avatar>
      <v-avatar
        v-if="!setTheme"
        @click.stop="drawerBarProfileToOpenAndClose()"
        class="
        avatarProfile
        ml-1
        pointer"
        size="30"
        color="">
        <span class="white--text">
          S
        </span>
      </v-avatar>
    </v-app-bar>
  </div>
</template>

<script>
export default {
  props: [
    'setTheme'
  ],
  data () {
    return {
      drawer: true,
      drawerBarProfile: true,
      languages: [
        {
          id: 1,
          title: this.$t('languages.thai'),
          value: 'th'
        },
        {
          id: 2,
          title: this.$t('languages.english'),
          value: 'en'
        },
        {
          id: 3,
          title: this.$t('languages.china'),
          value: 'cn'
        }
      ]
    }
  },
  components: {
  },
  methods: {
    drawerToOpenAndClose () {
      this.$root.$emit('dataDrawerToOpenAndClose')
    },
    drawerBarProfileToOpenAndClose () {
      this.$root.$emit('dataDrawerBarProfileToOpenAndClose')
    },
    postDataLanguageType (item) {
      this.$i18n.locale = item.value
      this.$store.dispatch('language/setLanguage', item.value)
    }
  },
  mounted () {
  }
}
</script>

<style lang="scss">
#toolbar{
  .v-toolbar__content{
    padding-left: 5px;
    padding-right: 5px;
  }
  .theme--dark{
   .avatarProfile{
      background-color: #555555 !important;
    }
    .avatarProfileDrawer{
      background-color: #555555 !important;
      i{
        font-size: 20px;
      }
    }
  }
  .theme--light{
    .avatarProfile{
      background-color: #555555 !important;
    }
    .avatarProfileDrawer{
      background-color: #dddddd !important;
      i{
        font-size: 20px;

      }
    }
  }
  .avatarProfileDrawerActive{
    i{
      font-size: 20px;
      color: #ffffff;
    }
  }
}
</style>
