<template>
  <div id="casinoGameDesktop">
    <v-row no-gutters class="pb-0">
      <v-col class="px-10 pt-10 bg"
        cols="12"
        xs="12"
        sm="12"
        md="12"
        lg="12"
        xl="12">
        <v-row no-gutters class="pa-10 pb-0">
          <v-col cols="6" align="center">
            <img class="setmessi" width="70%" src="@/assets/images/New/ladycasino.png">
          </v-col>
          <v-col
            cols="6"
            class="pa-3"
            align="center">
            <div class="my-10">
              <span class="headsport">Casino Club</span>
            </div>
            <v-row no-gutters>
              <v-col class="d-flex justify-center align-center pa-3"
                cols="3"
                v-for="(item, index) in getListGameCasino" :key="index">
                <v-img
                  style="cursor:pointer"
                  @click="playGameCasino(item)"
                  class="my-0 zoom"
                  contain
                  max-height="300"
                  :src="item.image">
                </v-img>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import jsonListCasino from '../../../../store/jsonFix/listCasino.json'
export default {
  components: {
  },
  data: () => ({
    gameListCasino: [],
    jsonListCasino: jsonListCasino
  }),
  mounted () {
    // if (router.currentRoute.params.member_uuid) {
    //   this.$store.dispatch('getDataStoreAuthAuto', router.currentRoute.params.member_uuid)
    // }
    // this.$store.dispatch('storeListGameCasino').then((res) => {
    //   this.gameListCasino = res.data.data
    // })
  },
  computed: {
    ...mapGetters(['dataAccessToken']),
    getListGameCasino () {
      var data = []
      for (var i = 0; i < this.jsonListCasino.data.length; i++) {
        if (this.jsonListCasino.data[i].show_web) {
          data.push(this.jsonListCasino.data[i])
        }
      }
      return data
    }
  },
  methods: {
    ...mapMutations(['setAlertDialogLoginDesktop']),
    playGameCasino (item) {
      // console.log(item)
      if (this.dataAccessToken) {
        if (item.keylink === 'PPCasino') {
          this.$router.push({ path: '/desktop/casinoListGame/' + item.apilink + '/' + item.keylink + '/' + item.fullname })
        } else if (item.keylink === 'SkywindCasino') {
          this.$router.push({ path: '/desktop/skywindcasino/' + item.apilink + '/' + item.keylink + '/' + item.fullname })
        } else if (item.keylink === 'CQ9Casino') {
          // console.log(item)
          var data = {
            gameID: item.gameID,
            gameName: item.gameName
          }
          // console.log(data)
          this.$store.dispatch('storeListGameCq9', data)
        } else {
          this.$store.dispatch('storeListGameLinkCasino', item.apilink)
        }
      } else {
        this.setAlertDialogLoginDesktop(true)
      }
    }
  }
}
</script>

<style lang="scss">
#casinoGameDesktop{
  background: url('../../../../assets/images/New/bgcasino.png') no-repeat;
  background-size: 100% 100%;
  .bg{
    // border-radius: 10px;
    // background: url('../../../../assets/images/U365/content_dg.jpg') no-repeat;
    // background-size: 100% 100%;
    // height: 500px;
  }
  .borderCard{
    // border: 1px solid rgb(209, 197, 124);
    border-radius: 10px;
  }
  .bgGame{
    background: rgb(46, 43, 40);
    border-radius: 0 0 10px 10px;
    height: 45px;
    color: rgb(209, 197, 124);
  }
  .bgGamePreview{
    background: rgba(196, 196, 196, 0.23);
    border-radius: 10px !important;
  }
  .headsport{
    // font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 107.882px;
    color: #FFFFFF;
    text-shadow: 0px 0px 11.5699px rgba(255, 214, 0, 0.8);
  }
  .zoom {
    // padding: 50px;
    transition: transform .2s;
    // width: 200px;
    // height: 200px;
    margin: 0 auto;
  }
  .zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    cursor: pointer;
  }
}
</style>
