<template>
  <div id="casinoListGameDesktop">
    <v-row no-gutters>
      <v-col class=""
        cols="12"
        xs="12"
        sm="12"
        md="12"
        lg="12"
        xl="12">
        <v-card
          flat
          rounded="0"
          class="mx-10 mt-10 pb-4 bgGamePreview">
          <v-row no-gutters>
            <v-col cols="12"
              class="white--text px-4 pt-4 font-md" style="font-weight:bold">
              {{$route.params.name}}
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col v-for="( item,index) in jsonCasinoPP.data.lists_gameAll" :key="index"
              cols="2"
              class="pa-3">
              <v-card @click="playGame(item)"
                link
                height="100%"
                dark
                flat
                class="bgGamePreview">
                <v-row no-gutters>
                  <v-col class="d-flex justify-center align-center">
                    <v-img
                      contain
                      height="150"
                      :src="item.gameIcon">
                    </v-img>
                  </v-col>
                </v-row>
                <v-row no-gutters>
                  <v-col class="d-flex justify-center align-center font-xxs bgGame">
                    {{item.gameName}}
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import jsonCasinoPP from '../../../../store/jsonFix/casinoPP.json'
export default {
  components: {
  },
  data: () => ({
    jsonCasinoPP: jsonCasinoPP
  }),
  mounted () {
    // this.$store.dispatch('storeListGameCasinoByGame', this.$route.params.apiName)
  },
  computed: {
    // getListGameCasinoById () {
    //   return this.$store.getters.getListGameCasinoById
    // }
  },
  methods: {
    playGame (item) {
      // console.log(item)
      if (this.$route.params.keyLink === 'PPCasino') {
        this.$store.dispatch('postStoreCasinoLinkPPSoft', item)
      }
    }
  }
}
</script>

<style lang="scss">
#casinoListGameDesktop{
  .bg{
    background: rgba(196, 196, 196, 0);
    // background: url('../../../../assets/images/U365/content_dg.jpg') no-repeat;
    // background-size: 100% 100%;
    // height: 500px;
  }
  .borderCard{
    border-radius: 10px;
  }
  .bgGame{
    background: rgba(46, 43, 40, 0);
    border-radius: 0 0 10px 10px;
    height: 45px;
    color: rgb(209, 197, 124);
  }
  .bgGamePreview{
    background: rgba(196, 196, 196, 0);
    border-radius: 10px !important;
  }
}
</style>
