<template>
  <div id="dashboard">
    <v-row
      class="mt-1"
      no-gutters>
      <v-col
        cols="12"
        lg="12"
        md="12"
        class="hidden-sm-and-down">
        <v-row no-gutters>
          <v-col
            cols="12"
            lg="12"
            md="12">
            <dashboard/>
          </v-col>
        </v-row>
      </v-col>
      <v-col
        cols="12"
        xs="12"
        sm="12"
        class="hidden-md-and-up">
        <v-row no-gutters>
          <v-col
            cols="12"
            sm="12"
            xs="12">
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import dashboard from '@/components/dashboard/Dashboard'

export default {
  data () {
    return {
    }
  },
  components: {
    dashboard
  }
}
</script>

<style lang="scss">
</style>
