<template>
    <div id="modalRegis">
    <!-- ----------------------------------------register--------------------------------------------------------------------- -->
        <v-navigation-drawer
        class="bgregis"
        v-model="modalRegisCall"
        width="100%"
        absolute
        temporary
        >
        <v-row no-gutters>
            <v-col cols="12">
            <v-btn
            class="ma-2"
            dark
            @click="$root.$emit('closeModalRegis', false)"
            icon
            tile
            >
                <v-icon dark>
                fas fa-chevron-left
            </v-icon>
            </v-btn>
            </v-col>
            <v-col cols="12"
            class="
            mt-5
            d-flex justify-center"
            >
            <img width="30%" src="@/assets/images/U365/mobile/Logoregis.png">
            </v-col>
            <v-col cols="12"
            class="pa-4"
            >
            <v-col cols="12"
            class="d-flex justify-center white--text"
            >
                การลงทะเบียน
            </v-col>
            <v-card
            class="pa-4"
            >
                <v-text-field
                class="settextfild"
                :label="$t('textfield.testFieldUsername')"
                prepend-inner-icon="fas fa-user-circle"
            ></v-text-field>
            <v-text-field
                class="settextfild"
                :label="$t('textfield.testFieldPasword')"
                prepend-inner-icon="fas fa-lock-alt"
            ></v-text-field>
                <v-col cols="12"
                class="d-flex justify-center"
                >
                <v-btn
                dark
                class=""
                >
                    {{$t('btn.textSignin')}}
                </v-btn>
                </v-col>
            </v-card>
            </v-col>
        </v-row>
        </v-navigation-drawer>
    <!-- ----------------------------------------register--------------------------------------------------------------------- -->
    </div>
</template>

<script>
export default {
  data () {
    return {
      // modalRegis: null
    }
  },
  methods: {
  },
  props: [
    'modalRegisCall'
  ]
}
</script>

<style lang='scss'>
#modalRegis {
  .v-input__prepend-inner{
    padding-right: 14px;
    padding-bottom: 12px;
  }
  .bgregis{
    background-position: center;
    background: url(../../../assets/images/U365/mobile/bgregis.jpg);
    background-size: 100%;
  }
}
</style>
