<template>
    <div id="modalLogin">
    <!-- ----------------------------------------loginpage------------------------------------------------------------------- -->
      <v-navigation-drawer
      mobile-breakpoint
      class="bglogin"
      v-model="modalLoginCall"
      width="100%"
      fixed
      temporary
    >
      <v-row no-gutters>
        <v-col cols="12">
          <v-btn
          class="ma-2"
          dark
          @click="$root.$emit('closeModalLogin', false)"
          icon
          tile
          >
            <v-icon dark>
            fas fa-chevron-left
          </v-icon>
          </v-btn>
        </v-col>
        <v-col cols="12"
          class="
          mt-5
          d-flex justify-center"
        >
          <img src="@/assets/images/U365/mobile/newLogo.png">
        </v-col>
        <v-col cols="12"
        class="pa-4"
        >
          <v-card
          class="pa-4 setcardlogin"
          >
          <v-text-field
            dark
             v-model="login.username"
            class="settextfild"
            :label="$t('textfield.testFieldUsername')"
            prepend-inner-icon="fas fa-user-circle"
          ></v-text-field>
          <v-text-field
            dark
            type='password'
            v-model="login.password"
            class="settextfild"
            :label="$t('textfield.testFieldPasword')"
            prepend-inner-icon="fas fa-lock-alt"
          ></v-text-field>
            <v-col cols="12"
            class="d-flex justify-center"
            >
              <v-btn
              @click="postDataSignin(login)"
              fab
              dark
              class="setloginbtn"
              >
                {{$t('btn.textSignin')}}
              </v-btn>
            </v-col>
          </v-card>
        </v-col>
        <!-- <v-col cols="12"
        class="mt-10 px-5"
        >
          <v-btn
          @click="$root.$emit('openModalRegis', true)"
          dark
          block
          rounded
          color="#fc0"
          >
            {{$t('btn.textSingUp')}}
          </v-btn>
        </v-col> -->
      </v-row>
    </v-navigation-drawer>
    <!-- ----------------------------------------loginpage------------------------------------------------------------------- -->
    </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {
  data () {
    return {
      login: {
        username: '',
        password: ''
      }
    }
  },
  validations: {
    login: {
      username: {
        required
      },
      password: {
        required
      }
    }
  },
  methods: {
    postDataSignin (login) {
      this.$store.dispatch('postDataStoreSigninMobile', login)
    }
  },
  props: [
    'modalLoginCall'
  ]
}
</script>

<style lang='scss'>
#modalLogin {
  .bglogin{
    background-position: center;
    background: url(../../../assets/images/U365/mobile/bglogin.jpg);
    background-size: 100%;
  }
  .setcardlogin{
        background: rgba(46,53,77,.8);
  }
  .v-input__prepend-inner{
    padding-right: 14px;
    padding-bottom: 12px;
  }
  .setloginbtn{
    background-color: #aa2c23;
    position: absolute;
    bottom: -30px;
    width: 70px;
    height: 70px;
  }
}
</style>
