<template>
  <div id="contactpage" class="d-flex justify-center">
    <v-row no-gutters>
      <v-col
      cols="12"
      class="pa-2 my-2"
      >
        <v-card
        style="box-shadow: 0 0.08rem 1.5rem #aa2c23;"
        class="pa-5"
        >
          <!-- <v-btn
          dark
          color="red"
          rounded
          block
          >
          <v-icon
          class="aticon"
          >
            far fa-user-chart
          </v-icon>
            {{$t('toolbarMenu.contact1')}}
          </v-btn> -->
          <v-btn
          dark
          color="#08c"
          rounded
          block
          >
          <v-icon
          class="aticon"
          >
            fal fa-paper-plane
          </v-icon>
            {{$t('toolbarMenu.contact2')}}
          </v-btn>
          <v-btn
          dark
          color="#00c300"
          rounded
          block
          >
          <v-icon
          class="aticon"
          >
            fab fa-line
          </v-icon>
            {{$t('toolbarMenu.contact3')}}
          </v-btn>
          <v-btn
          dark
          color="teal"
          rounded
          block
          >
          <v-icon
          class="aticon"
          >
            fas fa-phone-alt
          </v-icon>
            {{$t('toolbarMenu.contact4')}}
          </v-btn>
          <!-- <v-btn
          dark
          color="#3a3a3a"
          rounded
          block
          >
          <v-icon
          class="aticon"
          >
            fas fa-comment-alt-lines
          </v-icon>
            {{$t('toolbarMenu.contact5')}}
          </v-btn> -->
          <v-btn
          dark
          color="#ff8000"
          rounded
          block
          >
          <v-icon
          class="aticon"
          >
            far fa-comments
          </v-icon>
             {{$t('toolbarMenu.contact6')}}
          </v-btn>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
#contactpage{
  .v-btn{
    margin-bottom: 21px;
    height: 52px;
  }
  .aticon{
    position: absolute;
    left: 0;
  }
}
</style>
