<template>
  <div id="viewMenu">
    <v-row no-gutters>
        <v-col cols="12">
            <menuBar/>
        </v-col>
    </v-row>
  </div>
</template>

<script>
import menuBar from '../../../components/mobile/menubar.vue'

export default {
  components: {
    menuBar
  }
}
</script>

<style lang='scss'>
#viewMenu {
}
</style>
