<template>
  <div id="userPage"
    v-if="getMsgStoreUser">
    <v-row no-gutters>
      <v-col cols="12"
        class="pa-2">
        <v-card
          style="box-shadow: 0 0.08rem 1.5rem #aa2c23;"
          class="pa-2">
          <v-row no-gutters>
            <v-col cols='12'
              class="d-flex justify-center mb-2 mt-2">
              {{$t('userInfo.balance')}}
            </v-col>
            <!-- <v-col cols='4'
              class="d-flex justify-center mb-2 mt-2">
              {{$t('userInfo.totalbonus')}}
            </v-col>
            <v-col cols='4'
              class="d-flex justify-center mb-2 mt-2">
              {{$t('userInfo.lastbonus')}}
            </v-col> -->
          </v-row>
          <v-divider></v-divider>
          <v-row no-gutters>
            <v-col cols='12'
              class="d-flex justify-center mt-2 mb-2">
              <span>THB {{getMsgStoreUser.credit}}</span>
            </v-col>
            <!-- <v-col cols='4'
              class="d-flex justify-center mt-2 mb-2">
              0.00
            </v-col>
            <v-col cols='4'
              class="d-flex justify-center mt-2 mb-2">
              0.00
            </v-col> -->
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="12">
        <listUser/>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import listUser from '../../../components/mobile/userList/userList.vue'
import { mapGetters } from 'vuex'

export default {
  components: {
    listUser
  },
  computed: {
    ...mapGetters(['getMsgStoreUser'])
  }
}
</script>

<style lang="scss">
#userPage{
}
</style>
