<template>
  <div id="statement">
    <v-card
      class="pa-2 mt-10"
      style="box-shadow: 0 0.08rem 1.5rem #aa2c23;">
      <v-row no-gutters
        class="spacecard">
        <v-col cols='12'
          class="d-flex justify-center">
          <span>ไม่พบบันทึก</span>
        </v-col>
      </v-row>
      <v-divider class="colorline"></v-divider>
    </v-card>
    <!-- <v-btn
      class="mt-4"
      rounded
      block
      dark
      color='red'>
      {{$t('changePassword.submit')}}
    </v-btn> -->
  </div>
</template>

<script>
export default {
  data: () => ({
  })
}
</script>

<style lang="scss">
#statement{
  .colorline{
    border-bottom: 1px #b4d4ff solid !important;
    height: .7rem;
    line-height: .7rem;
  }
  .spacecard{
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
</style>
