<template>
  <div id="basicinfo" v-if="getDataUserInfo">
    <div
      class="d-flex justify-center mb-5">
      <span
        style="
        font-weight: bold;
        color: white;
        font-size: 20px"
      >
      {{$t('userInfo.basicinfo')}}
      </span>
    </div>
    <v-card
      class="pa-2"
      style="box-shadow: 0 0.08rem 1.5rem #aa2c23;">
      <v-row no-gutters
        class="pa-2">
        <v-col cols='6'
          class="d-flex align-center">
          <v-icon
            color='black'
            class="pr-2">
            fas fa-user
          </v-icon>
          <span
            style="
            font-size: 15px"
          >
          {{$t('info.account')}}
          </span>
        </v-col>
        <v-col cols='6'
          class="d-flex justify-end">
          <span
            style="
            font-weight: bold;
            font-size: 15px"
          >
          {{getDataUserInfo.username}}
          </span>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <!-- <v-row no-gutters
        class="pa-2">
        <v-col cols='6'
          class="d-flex align-center">
          <v-icon
            color='black'
            class="pr-2">
            fas fa-users
          </v-icon>
          <span
            style="
            font-size: 15px"
          >
          {{$t('info.refLink')}}
          </span>
        </v-col>
        <v-col cols='6'
          class="d-flex justify-end">
          <span
            style="
            font-weight: bold;
            font-size: 15px"
          >
          http://m.uplay365.com/
          </span>
        </v-col>
      </v-row> -->
      <!-- <v-divider></v-divider> -->
      <!-- <v-row no-gutters
        class="pa-2">
        <v-col cols='6'
          class="d-flex align-center">
          <v-icon
            color='black'
            class="pr-2">
            fas fa-envelope
          </v-icon>
          <span
            style="
            font-size: 15px"
          >
          {{$t('info.email')}}
          </span>
        </v-col>
        <v-col cols='6'
          class="d-flex justify-end">
          <span
            style="
            font-weight: bold;
            font-size: 15px"
          >
          ----
          </span>
        </v-col>
      </v-row>
      <v-divider></v-divider> -->
      <v-row no-gutters
        class="pa-2">
        <v-col cols='6'
          class="d-flex align-center">
          <v-icon
            color='black'
            class="pr-2">
            fas fa-phone-alt
          </v-icon>
          <span
            style="
            font-size: 15px"
          >
          {{$t('info.tel')}}
          </span>
        </v-col>
        <v-col cols='6'
          class="d-flex justify-end">
          <span
            style="
            font-weight: bold;
            font-size: 15px"
          >
          {{getDataUserInfo.phone}}
          </span>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-row no-gutters
        class="pa-2">
        <v-col cols='6'
          class="d-flex align-center">
          <v-icon
            color='black'
            class="pr-2">
            fas fa-dollar-sign
          </v-icon>
          <span
            style="
            font-size: 15px"
          >
          ยอดเงิน
          {{$t('info.accountBalance')}}
          </span>
        </v-col>
        <v-col cols='6'
          class="d-flex justify-end">
          <span
            style="
            font-weight: bold;
            font-size: 15px"
          >
          {{getDataUserInfo.credit}}(THB)
          </span>
        </v-col>
      </v-row>
      <!-- <v-divider class="linedivider"></v-divider> -->
      <!-- <v-row no-gutters
        class="pa-2">
        <v-col cols='6'
          class="d-flex align-center">
          <v-icon
            color='black'
            class="pr-2">
            fas fa-user-secret
          </v-icon>
          <span
            style="
            font-size: 15px"
          >
          {{$t('info.withdrawBankName')}}
          </span>
        </v-col>
        <v-col cols='6'
          class="d-flex justify-end">
          <span
            style="
            font-weight: bold;
            font-size: 15px"
          >
          sitthikor****
          </span>
        </v-col>
      </v-row> -->
      <!-- <v-divider></v-divider> -->
      <!-- <v-row no-gutters
        class="pa-2">
        <v-col cols='6'
          class="d-flex align-center">
          <v-icon
            color='black'
            class="pr-2">
            far fa-credit-card
          </v-icon>
          <span
            style="
            font-size: 15px"
          >
          {{$t('info.withdrawBankNo')}}
          </span>
        </v-col>
        <v-col cols='6'
          class="d-flex justify-end">
          <span
            style="
            font-weight: bold;
            font-size: 15px"
          >
          485232****
          </span>
        </v-col>
      </v-row>
      <v-divider></v-divider> -->
      <!-- <v-row no-gutters
        class="pa-2">
        <v-col cols='6'
          class="d-flex align-center">
          <v-icon
            color='black'
            class="pr-2">
            fas fa-university
          </v-icon>
          <span
            style="
            font-size: 15px"
          >
          {{$t('info.withdrawBank')}}
          </span>
        </v-col>
        <v-col cols='6'
          class="d-flex justify-end">
          <span
            style="
            font-weight: bold;
            font-size: 15px"
          >
          ทหารไทย
          </span>
        </v-col>
      </v-row>
      <v-divider class="linedivider"></v-divider> -->
      <!-- <v-row no-gutters
        class="pa-2">
        <v-col cols='6'
          class="d-flex align-center">
          <v-icon
            color='black'
            class="pr-2">
            far fa-money-bill-alt
          </v-icon>
          <span
            style="
            font-size: 15px"
          >
          {{$t('info.totalBonus')}}
          </span>
        </v-col>
        <v-col cols='6'
          class="d-flex justify-end">
          <span
            style="
            font-weight: bold;
            font-size: 15px"
          >
          0.00
          </span>
        </v-col>
      </v-row>
      <v-divider></v-divider> -->
      <!-- <v-row no-gutters
        class="pa-2">
        <v-col cols='6'
          class="d-flex align-center">
          <v-icon
            color='black'
            class="pr-2">
            far fa-money-bill-alt
          </v-icon>
          <span
            style="
            font-size: 15px"
          >
          {{$t('info.lastBonus')}}
          </span>
        </v-col>
        <v-col cols='6'
          class="d-flex justify-end">
          <span
            style="
            font-weight: bold;
            font-size: 15px"
          >
          0.00
          </span>
        </v-col>
      </v-row>
      <v-divider></v-divider> -->
      <!-- <v-row no-gutters
        class="pa-2">
        <v-col cols='6'
          class="d-flex align-center">
          <v-icon
            color='black'
            class="pr-2">
            fas fa-dollar-sign
          </v-icon>
          <span
            style="
            font-size: 15px"
          >
          ยอดเงิน
          {{$t('info.accountBalance')}}
          </span>
        </v-col>
        <v-col cols='6'
          class="d-flex justify-end">
          <span
            style="
            font-weight: bold;
            font-size: 15px"
          >
          0.00(THB)
          </span>
        </v-col>
      </v-row> -->
      <!-- <v-divider class="linedivider"></v-divider> -->
      <!-- <v-row no-gutters
        class="pa-2">
        <v-col cols='6'
          class="d-flex align-center">
          <v-icon
            color='black'
            class="pr-2">
            fa fa-registered
          </v-icon>
          <span
            style="
            font-size: 15px"
          >
          {{$t('info.regisDateTime')}}
          </span>
        </v-col>
        <v-col cols='6'
          class="d-flex justify-end">
          <span
            style="
            font-weight: bold;
            font-size: 15px"
          >
          2021-01-27 16:33:06
          </span>
        </v-col>
      </v-row>
      <v-divider></v-divider> -->
      <!-- <v-row no-gutters
        class="pa-2">
        <v-col cols='6'
          class="d-flex align-center">
          <v-icon
            color='black'
            class="pr-2">
            fa fa-sign-in
          </v-icon>
          <span
            style="
            font-size: 15px"
          >
          {{$t('info.LoginLastTime')}}
          </span>
        </v-col>
        <v-col cols='6'
          class="d-flex justify-end">
          <span
            style="
            font-weight: bold;
            font-size: 15px"
          >
          2021-01-27 16:33:06
          </span>
        </v-col>
      </v-row>
      <v-divider></v-divider> -->
    </v-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    items: ['เลือกธนาคาร']
  }),
  mounted () {
    this.$store.dispatch('getStoreUserInfo')
  },
  computed: {
    ...mapGetters([
      'getDataUserInfo'
    ])
  }
}
</script>

<style lang="scss">
#basicinfo{
  .linedivider{
    background: #f0f0f0;
    border-bottom: 5px #dfe2ee solid;
    height: .7rem;
    display: -webkit-box;
  }
}
</style>
