<template>
  <div id="tranfer">
    <div
      class="d-flex justify-center mb-4">
      <span
        style="
        font-weight: bold;
        color: white;
        font-size: 20px"
      >
      Bet Report
      </span>
    </div>
    <!-- <v-card
      class="pa-2"
      style="box-shadow: 0 0.08rem 1.5rem #aa2c23;">
      <v-select
        :items="items"
        :label="$t('tranfer.betlist')"
      ></v-select>
    </v-card> -->
    <v-card
      class="pa-2 mt-3"
      style="box-shadow: 0 0.08rem 1.5rem #aa2c23;">
      <v-row no-gutters
        class="py-2">
        <v-col cols='12'
          style="text-align: center;">
          <span>
          ไม่พบบันทึก!
        </span>
        </v-col>
      </v-row>
      <v-divider></v-divider>
    </v-card>
    <!-- <v-btn
      class="mt-4"
      rounded
      block
      dark
      color='red'>
      {{$t('changePassword.submit')}}
    </v-btn> -->
  </div>
</template>

<script>
export default {
  data: () => ({
    items: ['betlist']
  })
}
</script>

<style lang="scss">
#tranfer{
}
</style>
