<template>
  <div id="bonus">
    <div
      class="d-flex justify-center mb-4">
      <span
        style="
        font-weight: bold;
        color: white;
        font-size: 20px"
      >
      {{$t('userInfo.bonus')}}
      </span>
    </div>
    <v-card
      class="pa-2"
      style="box-shadow: 0 0.08rem 1.5rem #aa2c23;">
      <v-row no-gutters class="px-2">
        <v-col cols="12" class=" my-2"
          @click="gotobsicinfo()">
          <v-row no-gutters>
            <v-col cols='6'
              class="d-flex align-center">
              <v-icon
                class="colorarrow mr-3">
                far fa-money-bill-alt
              </v-icon>
              <span
                class="colorarrow">
                {{$t('userInfo.bonus')}}
              </span>
            </v-col>
            <v-col cols='6'
              style="text-align: right">
              <v-icon
                small
                class="colorarrow">
                fal fa-chevron-right
              </v-icon>
            </v-col>
          </v-row>
        <div class="">
          <v-divider class="colorline"></v-divider>
        </div>
        </v-col>
        <v-col cols="12" class=" my-2"
          @click="gotobsicinfo()">
          <v-row no-gutters>
            <v-col cols='6'
              class="d-flex align-center">
              <v-icon
                class="colorarrow mr-3">
                fas fa-users
              </v-icon>
              <span
                class="colorarrow">
                {{$t('tranfer.referrallist')}}
              </span>
            </v-col>
            <v-col cols='6'
              style="text-align: right">
              <v-icon
                small
                class="colorarrow">
                fal fa-chevron-right
              </v-icon>
            </v-col>
          </v-row>
        <div class="">
          <v-divider class="colorline"></v-divider>
        </div>
        </v-col>
        <v-col cols="12" class=" my-2"
          @click="gotobsicinfo()">
          <v-row no-gutters>
            <v-col cols='6'
              class="d-flex align-center">
              <v-icon
                class="colorarrow mr-3">
                far fa-money-bill-alt
              </v-icon>
              <span
                class="colorarrow">
                {{$t('tranfer.updatebonus')}}
              </span>
            </v-col>
            <v-col cols='6'
              style="text-align: right">
              <v-icon
                small
                class="colorarrow">
                fal fa-chevron-right
              </v-icon>
            </v-col>
          </v-row>
        <div class="">
          <v-divider class="colorline"></v-divider>
        </div>
        </v-col>
        <v-col cols="12" class=" my-2"
          @click="gotobsicinfo()">
          <v-row no-gutters>
            <v-col cols='6'
              class="d-flex align-center">
              <v-icon
                class="colorarrow mr-3">
                fas fa-list
              </v-icon>
              <span
                class="colorarrow">
                {{$t('tranfer.applyforbonuslist')}}
              </span>
            </v-col>
            <v-col cols='6'
              style="text-align: right">
              <v-icon
                small
                class="colorarrow">
                fal fa-chevron-right
              </v-icon>
            </v-col>
          </v-row>
        <div class="">
          <v-divider class="colorline"></v-divider>
        </div>
        </v-col>
        <v-col cols="12" class=" my-2"
          @click="gotobsicinfo()">
          <v-row no-gutters>
            <v-col cols='6'
              class="d-flex align-center">
              <v-icon
                class="colorarrow mr-3">
                fas fa-list
              </v-icon>
              <span
                class="colorarrow">
                {{$t('tranfer.promotionlist')}}
              </span>
            </v-col>
            <v-col cols='6'
              style="text-align: right">
              <v-icon
                small
                class="colorarrow">
                fal fa-chevron-right
              </v-icon>
            </v-col>
          </v-row>
        <div class="">
          <v-divider class="colorline"></v-divider>
        </div>
        </v-col>
        <v-col cols="12" class=" my-2"
          @click="gotobsicinfo()">
          <v-row no-gutters>
            <v-col cols='6'
              class="d-flex align-center">
              <v-icon
                class="colorarrow mr-3">
                fas fa-list
              </v-icon>
              <span
                class="colorarrow">
                {{$t('tranfer.autopromotion')}}
              </span>
            </v-col>
            <v-col cols='6'
              style="text-align: right">
              <v-icon
                small
                class="colorarrow">
                fal fa-chevron-right
              </v-icon>
            </v-col>
          </v-row>
        <div class="">
          <v-divider class="colorline"></v-divider>
        </div>
        </v-col>
      </v-row>
    </v-card>
    <v-btn
      class="mt-4"
      rounded
      block
      dark
      color='red'>
      {{$t('changePassword.submit')}}
    </v-btn>
  </div>
</template>

<script>
export default {
  data: () => ({
    items: ['เลือกธนาคาร']
  })
}
</script>

<style lang="scss">
#bonus{
  .colorline{
    border-bottom: 1px #b4d4ff solid !important;
    height: .7rem;
    line-height: .7rem;
  }
  .colorarrow{
    color: black;
  }
}
</style>
