<template>
  <div id="changepassword">
    <div
      class="d-flex justify-center">
      <span
        style="
        font-weight: bold;
        color: white;
        font-size: 20px"
      >
      {{$t('changePassword.changePass')}}
      </span>
    </div>
    <v-card
      class="pa-2"
      style="box-shadow: 0 0.08rem 1.5rem #aa2c23;">
      <v-text-field
        v-model="oldPass"
        :append-icon="showOldPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
        @click:append="showOldPassword = !showOldPassword"
        :type="showOldPassword ? 'text' : 'password'"
        :label="$t('changePassword.currentPass')"
      ></v-text-field>
      <v-text-field
        v-model="newPass"
        :append-icon="showNewPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
        @click:append="showNewPassword = !showNewPassword"
        :type="showNewPassword ? 'text' : 'password'"
        :label="$t('changePassword.newPass')"
      ></v-text-field>
      <v-text-field
        v-model="confirmPass"
        :append-icon="showConfirmPassword ? 'fas fa-eye' : 'fas fa-eye-slash'"
        @click:append="showConfirmPassword = !showConfirmPassword"
        :type="showConfirmPassword ? 'text' : 'password'"
        :label="$t('changePassword.confirmPass')"
      ></v-text-field>
    </v-card>
    <v-btn
      @click="changePassword()"
      class="mt-4"
      rounded
      block
      dark
      color='red'>
      {{$t('changePassword.submit')}}
    </v-btn>
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  data: () => ({
    items: ['เลือกธนาคาร'],
    showOldPassword: false,
    showNewPassword: false,
    showConfirmPassword: false,
    oldPass: '',
    newPass: '',
    confirmPass: ''
  }),
  methods: {
    changePassword () {
      if (!this.oldPass || !this.newPass || !this.confirmPass) {
        Vue.$snotify.error(this.$t('alert.textAlertInputPass'), {
          position: 'rightBottom',
          timeout: 3000,
          titleMaxLength: 100,
          bodyMaxLength: 200,
          showProgressBar: false,
          closeOnClick: false,
          pauseOnHover: true
        })
      } else {
        if (this.newPass !== this.confirmPass) {
          Vue.$snotify.error(this.$t('alert.textAlertPasswordIncorrect'), {
            position: 'rightBottom',
            timeout: 3000,
            titleMaxLength: 100,
            bodyMaxLength: 200,
            showProgressBar: false,
            closeOnClick: false,
            pauseOnHover: true
          })
        } else {
          var data = {
            password: this.oldPass,
            newpassword: this.newPass
          }
          // // // console.log(data)
          this.$store.dispatch('postDataChangePasswordMobile', data)
        }
      }
    }
  }
}
</script>

<style lang="scss">
#changepassword{
}
</style>
