<template>
  <div id="listdeposit">
    <v-row no-gutters>
      <v-col cols='12'
        class="d-flex justify-center">
        <span
          style="
          font-weight: bold;
          color: white;
          font-size: 20px">
          {{$t('toolbarMenu.listdeposit')}}
        </span>
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols='12'>
        <v-card
          class="pa-3">
          <v-row no-gutters
            style="font-size: 15px;">
            <v-col cols='4' class="mb-2">
              วันเวลา:
            </v-col>
            <v-col cols='8'>
              2021-02-11 16:24:05
            </v-col>
            <v-col cols='4' class="mb-2">
              สถานะ:
            </v-col>
            <v-col cols='8'>
              ความสำเร็จ
            </v-col>
            <v-col cols='4' class="mb-2">
              จำนวน:
            </v-col>
            <v-col cols='8'>
              100
            </v-col>
            <v-col cols='4'>
              ตัวเลือก:
            </v-col>
            <v-col cols='8'>
              API#20210211152200100X327883#15:22
            </v-col>
          </v-row>
          <div>
            <v-divider></v-divider>
          </div>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
#listdeposit{
}
</style>
