<template>
  <div id="listwithdraw">
    <v-row no-gutters>
      <v-col cols='12'
        class="d-flex justify-center">
        <span
          style="
          font-weight: bold;
          color: white;
          font-size: 20px"
        >
          {{$t('toolbarMenu.listwithdraw')}}
        </span>
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols='12'
        style="text-align: center;">
        <v-card class="pa-5">
          ไม่พบข้อมูล
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
#listwithdraw{
}
</style>
