<template>
  <div id="statement"
    v-if="getListGameByUser && getStatementByUser">
    <div
      class="d-flex justify-center mb-4">
      <span
        style="
        font-weight: bold;
        color: white;
        font-size: 20px"
      >
      {{$t('tranfer.statement')}}
      </span>
    </div>
    <v-card
      class="pa-2"
      style="box-shadow: 0 0.08rem 1.5rem #aa2c23;">
      <v-row no-gutters>
        <v-col cols='6'>
          <v-menu
            v-model="menuStartDate"
            :close-on-content-click="false"
            offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                class="pr-2 font-xs"
                v-model="startDate"
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details
                dense
                outlined
              ></v-text-field>
            </template>
            <v-date-picker
              width="250"
              flat
              v-model="startDate"
              @input="menuStartDate = false"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols='6'>
          <v-menu
            v-model="menuEndDate"
            :close-on-content-click="false"
            offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                class="pl-2 font-xs"
                v-model="endDate"
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details
                dense
                outlined
              ></v-text-field>
            </template>
            <v-date-picker
              width="250"
              flat
              v-model="endDate"
              @input="menuEndDate = false"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols='12'>
          <v-select
            v-model="select"
            :items="getListGameByUser"
            item-text="provider_name"
            item-value="provider_id"
            :label="$t('statement.statementRecord')"
            class="mt-2 font-xs"
            dense
            outlined
            hide-details>
            <template v-slot:selection ="{item}">
              <span>{{item.provider_name}}</span>
            </template>
            <template v-slot:item ="{item}">
              <span class="font-xs">{{item.provider_name}}</span>
            </template>
          </v-select>
        </v-col>
      </v-row>
    </v-card>
    <v-btn
      @click="postStoreStatement"
      class="mt-4"
      rounded
      block
      dark
      color='red'>
      {{$t('changePassword.submit')}}
    </v-btn>
    <v-card
      class="pa-2 mt-3"
      style="box-shadow: 0 0.08rem 1.5rem #aa2c23;">
      <v-row no-gutters v-if="getStatementByUser">
                <v-col cols="12">
                  <v-data-table
                    :items="getStatementByUser.data_lists"
                    :page.sync="page"
                    @page-count="pageCount = $event"
                    dense
                    :no-data-text="$t('statement.noHistory')"
                    :headers="header"
                    class="elevation-0"
                    hide-default-footer>
                    <template v-slot:[`item.win_lose`] = "{item}">
                      <span class="red--text"
                        v-if="item.status">
                        {{item.win_lose}}
                      </span>
                      <span v-else
                        class="green--text">
                        {{item.win_lose}}
                      </span>
                    </template>
                  </v-data-table>
                  <v-divider></v-divider>
                  <v-row no-gutters>
                    <v-spacer></v-spacer>
                    <v-col cols="2"
                      class="py-2">
                      {{$t('statement.totalBet')}}
                    </v-col>
                    <v-col cols="2"
                      class="py-2">
                      {{getStatementByUser.total_bet}}
                    </v-col>
                  </v-row>
                  <v-divider></v-divider>
                  <v-row no-gutters>
                    <v-spacer></v-spacer>
                    <v-col cols="2"
                      class="py-2">
                      {{$t('statement.totalWinLose')}}
                    </v-col>
                    <v-col cols="2"
                      class="py-2">
                      {{getStatementByUser.total_win_lose}}
                    </v-col>
                  </v-row>
                  <v-divider></v-divider>
                  <v-pagination
                    class="my-4"
                    v-model="page"
                    :length="pageCount"
                    circle
                  ></v-pagination>
                </v-col>
              </v-row>
      <v-divider></v-divider>
    </v-card>
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  data: () => ({
    select: null,
    menuStartDate: false,
    menuEndDate: false,
    startDate: new Date().toISOString().substr(0, 10),
    endDate: new Date().toISOString().substr(0, 10),
    page: 1,
    pageCount: 0
  }),
  mounted () {
    this.$store.dispatch('storeListGameByUser')
  },
  computed: {
    getListGameByUser () {
      return this.$store.getters.getListGameByUser
    },
    getStatementByUser () {
      return this.$store.getters.getStatementByUser
    },
    header () {
      return [
        {
          text: this.$t('statement.no'),
          class: 'font-xxs pa-2',
          width: 80,
          value: 'key'
        },
        {
          text: this.$t('statement.game'),
          class: 'font-xxs pa-2',
          value: 'gameTypeID'
        },
        // {
        //   text: this.$t('statement.pool'),
        //   class: 'font-xxs pa-2',
        //   value: 'time'
        // },
        {
          text: this.$t('statement.type'),
          class: 'font-xxs pa-2',
          value: 'gameName'
        },
        // {
        //   text: this.$t('statement.number'),
        //   class: 'font-xxs pa-2',
        //   value: 'status'
        // },
        {
          text: this.$t('statement.betAmount'),
          class: 'font-xxs pa-2',
          value: 'bet'
        },
        {
          text: this.$t('statement.winLose'),
          class: 'font-xxs pa-2',
          value: 'win_lose'
        },
        // {
        //   text: this.$t('statement.result'),
        //   class: 'font-xxs pa-2',
        //   value: 'option'
        // },
        {
          text: this.$t('statement.GameId'),
          class: 'font-xxs pa-2',
          value: 'start_time',
          width: 180
        }
        // {
        //   text: this.$t('statement.odds'),
        //   class: 'font-xxs pa-2',
        //   value: 'option'
        // }
      ]
    }
  },
  methods: {
    postStoreStatement () {
      if (this.startDate > this.endDate || !this.select) {
        Vue.$snotify.error(this.$t('alert.textFormatDate'), {
          position: 'rightBottom',
          timeout: 3000,
          titleMaxLength: 100,
          bodyMaxLength: 200,
          showProgressBar: false,
          closeOnClick: false,
          pauseOnHover: true
        })
        // // console.log(this.startDate)
        // // console.log(this.endDate)
      } else {
        var data = {
          provider_id: this.select,
          start_date: this.startDate,
          end_date: this.endDate
        }
        // // console.log(data)
        this.$store.dispatch('postStoreListStatementByUser', data)
      }
    }
  }
}
</script>

<style lang="scss">
#statement{
  min-height: 100vh;
  height: auto;
  margin-bottom: 100px;
}
</style>
