<template>
  <div id="tranfer">
    <div
      class="d-flex justify-center mb-4">
      <span
        style="
        font-weight: bold;
        color: white;
        font-size: 20px"
      >
      {{$t('info.tranferHeadText')}}
      </span>
    </div>
    <v-card
      class="pa-3"
      style="box-shadow: 0 0.08rem 1.5rem #aa2c23;">
      <v-row no-gutters
        class="py-2">
        <v-col cols='6'>
          <span>
          {{$t('tranfer.mainBalance')}}
        </span>
        </v-col>
        <v-col cols='6'
          style="text-align: right;">
          <span
            class="textmoney">
            0.00
        </span>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <!-- <div class="py-2">
        <span>
          {{$t('info.tranferHeadText')}}
        </span>
      </div>
      <v-divider></v-divider>
      <div class="py-2">
        <span>
          {{$t('info.tranferHeadText')}}
        </span>
      </div>
      <v-divider></v-divider> -->
    </v-card>
    <v-card
      class="pa-2 mt-3"
      style="box-shadow: 0 0.08rem 1.5rem #aa2c23;">
      <v-select
        :items="items"
        :label="$t('tranfer.mainBalance')"
      ></v-select>
      <v-select
        :items="items"
        :label="$t('tranfer.mainBalance')"
      ></v-select>
      <v-text-field
        :label="$t('tranfer.amount')"
      ></v-text-field>
    </v-card>
    <v-btn
      class="mt-4"
      rounded
      block
      dark
      color='red'>
      {{$t('changePassword.submit')}}
    </v-btn>
  </div>
</template>

<script>
export default {
  data: () => ({
    items: ['mainBalance']
  })
}
</script>

<style lang="scss">
#tranfer{
  .textmoney{
    color: #ff8000;
  }
}
</style>
