<template>
  <div id="turnover">
    <div
      class="d-flex justify-center mb-4">
      <span
        style="
        font-weight: bold;
        color: white;
        font-size: 20px"
      >
      {{$t('userInfo.turnoverchecking')}}
      </span>
    </div>
    <v-card
      class=""
      style="box-shadow: 0 0.08rem 1.5rem #aa2c23;">
      <v-row no-gutters
        class="pa-2">
        <v-col cols='6'>
          <v-menu
            v-model="menuStartDate"
            :close-on-content-click="false"
            offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                class="pr-2 font-xs"
                v-model="startDate"
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details
                dense
                outlined
              ></v-text-field>
            </template>
            <v-date-picker
              width="250"
              flat
              v-model="startDate"
              @input="menuStartDate = false"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols='6'>
          <v-menu
            v-model="menuEndDate"
            :close-on-content-click="false"
            offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                class="pr-2 font-xs"
                v-model="endDate"
                readonly
                v-bind="attrs"
                v-on="on"
                hide-details
                dense
                outlined
              ></v-text-field>
            </template>
            <v-date-picker
              width="250"
              flat
              v-model="endDate"
              @input="menuEndDate = false"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
      <div class="px-2">
        <v-divider></v-divider>
      </div>
      <v-row no-gutters class="mt-4">
        <v-col cols='6'
          v-for="(item, index) in getListGameTurnOver" :key="index"
          class="px-2"
          style="text-align: center;">
          <v-checkbox
            v-model="item.status"
            :ripple="false"
            class="mt-2"
            dense
            hide-details
            :label="item.provider_name">
          </v-checkbox>
        </v-col>
      </v-row>
      <v-row no-gutters
        class="mt-10">
        <v-col cols='12'
          style="text-align: center">
          <div
            @click="stautsCheckAll = !stautsCheckAll, clickAll()"
            :class="stautsCheckAll ? 'onselecttab':'offselecttab'"
            class="font-xs pa-2">
            ทั้งหมด
          </div>
        </v-col>
        <!-- <v-col cols='3'
          style="text-align: center">
          <div
            @click="statustab2 = !statustab2"
            :class="statustab2 ? 'offselecttab':'onselecttab'"
            class="font-xs pa-2">
            บ่อนคาสิโน
          </div>
        </v-col> -->
        <!-- <v-col cols='3'
          style="text-align: center">
          <div
            @click="statustab3 = !statustab3"
            :class="statustab3 ? 'offselecttab':'onselecttab'"
            class="font-xs pa-2">
            กีฬา
          </div>
        </v-col> -->
        <!-- <v-col cols='3'
          style="text-align: center">
          <div
            @click="statustab4 = !statustab4"
            :class="statustab4 ? 'offselecttab':'onselecttab'"
            class="font-xs pa-2">
            คาสิโนออนไลน์
          </div>
        </v-col> -->
      </v-row>
    </v-card>
    <v-btn
      @click="getListTurnOver"
      class="mt-4"
      rounded
      block
      dark
      color='red'>
      {{$t('changePassword.submit')}}
    </v-btn>
    <v-card
      class="mt-4">
      <v-simple-table
        dense>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left font-xs">
                {{$t('turnOver.id')}}
              </th>
              <th class="text-left font-xs">
                {{$t('turnOver.tableStartDate')}}
              </th>
              <th class="text-left font-xs">
                {{$t('turnOver.tableEndDate')}}
              </th>
              <th class="text-left font-xs">
                {{$t('turnOver.tableProvider')}}
              </th>
              <th class="text-left font-xs">
                {{$t('turnOver.tableOver')}}
              </th>
            </tr>
          </thead>
          <tbody v-if="getTurnOver">
            <tr v-for="(item, index) in getTurnOver.data_lists" :key="index">
              <td class="font-xs">
                {{item.key}}
              </td>
              <td class="font-xs">
                {{item.start_date}}
              </td>
              <td class="font-xs">
                {{item.end_date}}
              </td>
              <td class="font-xs">
                {{item.provider_name}}
              </td>
              <td class="font-xs">
                {{item.turnover | currency}}
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td class="font-xs">
                {{$t('turnOver.total')}}
              </td>
              <td class="font-xs">
                {{getTurnOver.total_turnover | currency}}
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <!-- <v-data-table
        mobile-breakpoint= '250'
        hide-default-footer
        disable-sort
        :headers="headers"
        :items="desserts"
        class="elevation-1"
      ></v-data-table> -->
    </v-card>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      menuStartDate: false,
      menuEndDate: false,
      startDate: new Date().toISOString().substr(0, 10),
      endDate: new Date().toISOString().substr(0, 10),
      status: false,
      status2: false,
      statustab1: true,
      statustab2: true,
      statustab3: true,
      statustab4: true,
      text: 'center',
      icon: 'justify',
      toggle_none: null,
      toggle_one: 0,
      toggle_exclusive: 2,
      stautsCheckAll: false,
      simpleData: [
        {
          id: 1,
          startDate: '2020-02-15 00:00:00',
          endDate: '2020-02-16 00:00:00',
          provider: 'AG CASINO',
          turnOver: 0
        },
        {
          id: 2,
          startDate: '2020-02-15 00:00:00',
          endDate: '2020-02-16 00:00:00',
          provider: 'AG CASINO',
          turnOver: 1506
        }
      ],
      toggle_multiple: [0, 1, 2],
      headers: [
        {
          text: 'ID',
          align: 'start',
          sortable: false,
          value: 'name'
        },
        { text: 'Start Date', value: 'calories' },
        { text: 'End Date', value: 'fat' },
        { text: 'Provider', value: 'carbs' },
        { text: 'Turn Over', value: 'protein' }
      ],
      desserts: [
        {
          name: '1',
          calories: '2021-02-15 00:00',
          fat: '2021-02-16 12:59',
          carbs: 'AG Casino',
          protein: '0.000'
        }
      ]
    }
  },
  mounted () {
    this.$store.dispatch('getStoreListGameTurnOverByUser')
  },
  computed: {
    ...mapGetters([
      'getListGameTurnOver',
      'getTurnOver'
    ])
  },
  methods: {
    clickAll () {
      // // // console.log(this.stautsCheckAll)
      for (var i = 0; i < this.getListGameTurnOver.length; i++) {
        if (this.stautsCheckAll) {
          this.getListGameTurnOver[i].status = true
        } else {
          this.getListGameTurnOver[i].status = false
        }
      }
      // // console.log(this.getListGameTurnOver)
    },
    getListTurnOver () {
      // var data = ''
      if (this.startDate > this.endDate) {
        Vue.$snotify.error(this.$t('alert.textFormatDate'), {
          position: 'rightBottom',
          timeout: 3000,
          titleMaxLength: 100,
          bodyMaxLength: 200,
          showProgressBar: false,
          closeOnClick: false,
          pauseOnHover: true
        })
      } else {
        var gameID = []
        for (var i = 0; i < this.getListGameTurnOver.length; i++) {
          if (this.getListGameTurnOver[i].status) {
            gameID.push(this.getListGameTurnOver[i].provider_id)
          }
        }
        var data = {
          provider_id: gameID,
          start_date: this.startDate,
          end_date: this.endDate
        }
        // // console.log(data)
        this.$store.dispatch('getStoreListTurnOverByUser', data)
      }
    }
  }
}
</script>

<style lang="scss">
#turnover{
  .onselect{
    background-color: #aa2c23;
    color: white;
  }
  .offselect{
    background-color: white;
    color: black;
  }
  .offselecttab{
    background-color: #aa2c23;
    color: white;
  }
  .onselecttab{
    background-color: #fc0;
    color: white;
  }
}
</style>
