<template>
  <div id="listUser">
    <v-row no-gutters class="pa-2">
      <v-col cols="12" class=" my-2"
        @click="gotobsicinfo()">
        <v-row no-gutters>
          <v-col cols='6'
            class="d-flex align-center">
            <span
              class="colorarrow">
              {{$t('userInfo.basicinfo')}}
            </span>
          </v-col>
          <v-col cols='6'
            style="text-align: right">
            <v-icon
              small
              class="colorarrow">
              fal fa-chevron-right
            </v-icon>
          </v-col>
        </v-row>
      <div class="px-2">
        <v-divider class="colorline"></v-divider>
      </div>
      </v-col>
      <v-col cols="12" class=" my-2"
        @click="gotochangepass()">
        <v-row no-gutters>
          <v-col cols='6'
            class="d-flex align-center">
            <span
              class="colorarrow">
              {{$t('userInfo.changepassword')}}
            </span>
          </v-col>
          <v-col cols='6'
            style="text-align: right">
            <v-icon
              small
              class="colorarrow">
              fal fa-chevron-right
            </v-icon>
          </v-col>
        </v-row>
      <div class="px-2">
        <v-divider class="colorline"></v-divider>
      </div>
      </v-col>
      <!-- <v-col cols="12" class=" my-2"
        @click="gotodeposit()">
        <v-row no-gutters>
          <v-col cols='6'
            class="d-flex align-center">
            <span
              class="colorarrow">
              {{$t('userInfo.diposit')}}
            </span>
          </v-col>
          <v-col cols='6'
            style="text-align: right">
            <v-icon
              small
              class="colorarrow">
              fal fa-chevron-right
            </v-icon>
          </v-col>
        </v-row>
      <div class="px-2">
        <v-divider class="colorline"></v-divider>
      </div>
      </v-col> -->
      <!-- <v-col cols="12" class=" my-2"
        @click="gotowithdraw()">
        <v-row no-gutters>
          <v-col cols='6'
            class="d-flex align-center">
            <span
              class="colorarrow">
              {{$t('userInfo.withdraw')}}
            </span>
          </v-col>
          <v-col cols='6'
            style="text-align: right">
            <v-icon
              small
              class="colorarrow">
              fal fa-chevron-right
            </v-icon>
          </v-col>
        </v-row>
      <div class="px-2">
        <v-divider class="colorline"></v-divider>
      </div>
      </v-col> -->
      <!-- <v-col cols="12" class=" my-2"
        @click="gototranfer()">
        <v-row no-gutters>
          <v-col cols='6'
            class="d-flex align-center">
            <span
              class="colorarrow">
              {{$t('userInfo.tranfer')}}
            </span>
          </v-col>
          <v-col cols='6'
            style="text-align: right">
            <v-icon
              small
              class="colorarrow">
              fal fa-chevron-right
            </v-icon>
          </v-col>
        </v-row>
      <div class="px-2">
        <v-divider class="colorline"></v-divider>
      </div>
      </v-col> -->
      <!-- <v-col cols="12" class=" my-2"
        @click="gotobetreport()">
        <v-row no-gutters>
          <v-col cols='6'
            class="d-flex align-center">
            <span
              class="colorarrow">
              {{$t('userInfo.betreport')}}
            </span>
          </v-col>
          <v-col cols='6'
            style="text-align: right">
            <v-icon
              small
              class="colorarrow">
              fal fa-chevron-right
            </v-icon>
          </v-col>
        </v-row>
      <div class="px-2">
        <v-divider class="colorline"></v-divider>
      </div>
      </v-col> -->
      <v-col cols="12" class=" my-2"
        @click="gotostatement()">
        <v-row no-gutters>
          <v-col cols='6'
            class="d-flex align-center">
            <span
              class="colorarrow">
              {{$t('userInfo.statement')}}
            </span>
          </v-col>
          <v-col cols='6'
            style="text-align: right">
            <v-icon
              small
              class="colorarrow">
              fal fa-chevron-right
            </v-icon>
          </v-col>
        </v-row>
      <div class="px-2">
        <v-divider class="colorline"></v-divider>
      </div>
      </v-col>
      <!-- <v-col cols="12" class=" my-2"
        @click="gotobonus()">
        <v-row no-gutters>
          <v-col cols='6'
            class="d-flex align-center">
            <span
              class="colorarrow">
              {{$t('userInfo.bonus')}}
            </span>
          </v-col>
          <v-col cols='6'
            style="text-align: right">
            <v-icon
              small
              class="colorarrow">
              fal fa-chevron-right
            </v-icon>
          </v-col>
        </v-row>
      <div class="px-2">
        <v-divider class="colorline"></v-divider>
      </div>
      </v-col> -->
      <v-col cols="12" class=" my-2"
        @click="gototurnover()">
        <v-row no-gutters>
          <v-col cols='6'
            class="d-flex align-center">
            <span
              class="colorarrow">
              {{$t('userInfo.turnoverchecking')}}
            </span>
          </v-col>
          <v-col cols='6'
            style="text-align: right">
            <v-icon
              small
              class="colorarrow">
              fal fa-chevron-right
            </v-icon>
          </v-col>
        </v-row>
      <div class="px-2">
        <v-divider class="colorline"></v-divider>
      </div>
      </v-col>
      <!-- <v-col cols="12" class=" my-2"
        @click="gotoAchievement()">
        <v-row no-gutters>
          <v-col cols='6'
            class="d-flex align-center">
            <span
              class="colorarrow">
              {{$t('userInfo.achievement')}}
            </span>
          </v-col>
          <v-col cols='6'
            style="text-align: right">
            <v-icon
              small
              class="colorarrow">
              fal fa-chevron-right
            </v-icon>
          </v-col>
        </v-row>
      <div class="px-2">
        <v-divider class="colorline"></v-divider>
      </div>
      </v-col> -->
      <!-- <v-col cols="12" class=" my-2"
        @click="gotoAchievementReport()">
        <v-row no-gutters>
          <v-col cols='6'
            class="d-flex align-center">
            <span
              class="colorarrow">
              {{$t('userInfo.achievementreport')}}
            </span>
          </v-col>
          <v-col cols='6'
            style="text-align: right">
            <v-icon
              small
              class="colorarrow">
              fal fa-chevron-right
            </v-icon>
          </v-col>
        </v-row>
      <div class="px-2">
        <v-divider class="colorline"></v-divider>
      </div>
      </v-col> -->
      <v-col cols="12" class=" my-2">
        <v-row no-gutters>
          <v-col cols='6'
            @click="gotologout()"
            class="d-flex align-center">
            <span
              class="colorarrow">
              {{$t('userInfo.logout')}}
            </span>
          </v-col>
          <v-col cols='6'
            style="text-align: right">
            <v-icon
              small
              class="colorarrow">
              fal fa-chevron-right
            </v-icon>
          </v-col>
        </v-row>
      <div class="px-2">
        <v-divider class="colorline"></v-divider>
      </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  methods: {
    gotobsicinfo () {
      this.$router.push({ path: '/mobile/basicinfo' })
    },
    gotochangepass () {
      this.$router.push({ path: '/mobile/changepass' })
    },
    gotodeposit () {
      this.$router.push({ path: '/mobile/deposit' })
    },
    gotowithdraw () {
      this.$router.push({ path: '/mobile/withdraw' })
    },
    gotoAchievementReport () {
      this.$router.push({ path: '/mobile/achievementreport' })
    },
    gotoAchievement () {
      this.$router.push({ path: '/mobile/achievement' })
    },
    gototranfer () {
      this.$router.push({ path: '/mobile/tranfermobile' })
    },
    gotobetreport () {
      this.$router.push({ path: '/mobile/betreport' })
    },
    gotostatement () {
      this.$router.push({ path: '/mobile/statement' })
    },
    gotobonus () {
      this.$router.push({ path: '/mobile/bonus' })
    },
    gototurnover () {
      this.$router.push({ path: '/mobile/turnover' })
    },
    gotologout () {
      this.$store.dispatch('postDataStoreSignOutMobile')
    }
  }
}
</script>

<style lang="scss">
#listUser{
  min-height: 100vh;
  height: auto;
  // margin-bottom: 100px;
  .colorarrow{
    color: #b4d4ff;
    padding: 8px;
  }
  .colorline{
    border-bottom: 1px #b4d4ff solid !important;
    height: .7rem;
    line-height: .7rem;
  }
}
</style>
