<template>
  <div id="loading">
    <span v-if="preLoadingMsgFullScreen"/>
    <transition
      v-if="preloading === true"
      name="fade">
      <div id="loadingResponse">
        <div class="loadingCenter">
          <v-row
            no-gutters>
            <v-col
              class="
              d-flex
              justify-center
              text-center"
              cols="12"
              md="12"
              xs="12">
              <img
                src="@/assets/images/U365/loading.gif" />
              <!-- </img> -->
              <!-- <half-circle-spinner
                :animation-duration="1000"
                :size="65"
                :color="this.$store.getters.themeMainColor">
              </half-circle-spinner> -->
            </v-col>
            <!-- <v-col
              cols="12"
              md="12"
              xs="12"
              class="
              mt-2
              text-center">
              <div class="white--text font-lg">
                {{ title }}
              </div>
            </v-col> -->
          </v-row>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
// import loading from '@/assets/images/U365/loading.gif'
// import { HalfCircleSpinner } from 'epic-spinners'
export default {
  data () {
    return {
      preloading: false,
      title: null,
      subTitle: null
    }
  },
  components: {
    // HalfCircleSpinner
  },
  computed: {
    /* eslint-disable */
    preLoadingMsgFullScreen () {
      if (this.$store.getters.preLoadingFullScreen) {
        this.preloading = this.$store.getters.preLoadingFullScreen.status
        this.title = this.$t('loading.textPreloadTitle')
        this.subTitle = this.$t('loading.textPreloadSubTitle')
        // this.title = this.$store.getters.preLoadingFullScreen.title
        // this.subTitle = this.$store.getters.preLoadingFullScreen.subTitle
      }
    }
  }
}
</script>

<style lang="scss">
#loading{
  #loadingResponse{
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 700000;
    background: #000000ed;
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to {
      opacity: 0;                                                
    }
    img{
      height: 100vh;
      width: 100%;
    }
    // .loadingCenter{
    //   position: fixed;
    //   top: 47%;
    //   left: 43%;
    //   margin-top: -47px;
    // }
  }
}
@media only screen and (max-width: 768px) {
  #loadingResponse{
    .loadingCenter{
      left: 30% !important;
    }
  }
}
</style>
