<template>
  <div id="loadingTable">
    <!-- <v-responsive class="mx-auto"> -->
      <v-skeleton-loader
        ref="skeleton"
        type="article, list-item-two-line"
        class="mx-auto">
      </v-skeleton-loader>
    <!-- </v-responsive> -->
  </div>
</template>

<script>
export default {
  data () {
    return {
      boilerplate: false,
      tile: false,
      type: 'card',
      types: []
    }
  },
  inject: [
    'theme'
  ],
  mounted () {
  },
  components: {
  },
  computed: {
  }
}
</script>

<style lang="scss">
</style>
