<template>
  <div id="loadingListItemAvatar">
    <v-responsive class="mx-auto">
      <v-skeleton-loader
        ref="skeleton"
        :boilerplate="boilerplate"
        :type="type"
        :tile="tile"
        class="px-0">
      </v-skeleton-loader>
    </v-responsive>
  </div>
</template>

<script>
export default {
  data () {
    return {
      boilerplate: false,
      tile: false,
      type: 'list-item-three-line'
    }
  },
  inject: [
    'theme'
  ],
  mounted () {
  },
  components: {
  },
  computed: {
  }
}
</script>

<style lang="scss">
#loadingListItemAvatar{
  .v-skeleton-loader__list-item-avatar{
    padding: 0px !important;
  }
}
</style>
