<template>
  <div id="loadingButton">
    <v-responsive class="mx-auto">
      <v-skeleton-loader
        ref="skeleton"
        :boilerplate="boilerplate"
        :type="type"
        :tile="tile"
        class="mx-auto">
      </v-skeleton-loader>
    </v-responsive>
  </div>
</template>

<script>
export default {
  data () {
    return {
      boilerplate: false,
      tile: false,
      type: 'button',
      types: []
    }
  },
  inject: [
    'theme'
  ],
  mounted () {
    this.types = Object.keys(this.$refs.skeleton.rootTypes)
  },
  components: {
  },
  computed: {
  }
}
</script>

<style lang="scss">
</style>
