<template>
  <div id="promotionAllDesktop">
    <v-row no-gutters
      class="bg">
      <v-col cols="8">
        <v-img
          src="@/assets/images/U365/promotion/newMem50.jpg">
        </v-img>
      </v-col>
      <v-col cols="4"
        style="background:#2d2d2d">
        <v-row no-gutters>
          <v-col
            class="text font-md
            d-flex justify-center pt-2 mb-4"
            cols="12">
            <span>{{$t('promotion.newMemberRegister')}}</span>
          </v-col>
          <v-col
            class="mb-1 px-3"
            cols="12">
            <v-btn @click="dialogNewMember = true"
              block
              height="30"
              class="font-xs white--text"
              color="#f79c20">
              {{$t('promotion.moreInfo')}}
            </v-btn>
          </v-col>
          <v-col
            class="px-3"
            cols="12">
            <v-btn
              block
              height="30"
              depressed
              class="font-xs white--text"
              color="#f79c20">
              {{$t('promotion.join')}}
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <!------------------------------------------- dialog -->
    <v-dialog class="position"
      v-model="dialogNewMember"
      width="800" >
      <modalNewmember50/>
    </v-dialog>
  </div>
</template>

<script>
import modalNewmember50 from './modalNewMember50'
export default {
  data: () => ({
    dialogNewMember: false
  }),
  components: {
    modalNewmember50
  },
  computed: {
  },
  mounted () {
    this.$root.$on('dialogNewMember', (dialog) => {
      this.dialogNewMember = dialog
    })
  }
}
</script>

<style lang="scss">
#promotionAllDesktop{
  .bg{
    background: #2d2d2d;
    height: auto !important;
  }
  .text{
    color:#f79c20;
    // font-weight: bold;
  }
  .position{
    position: relative;
    z-index: 10000;
  }
}
</style>
