<template>
  <div id="modalnewMember50Desktop">
    <v-card
      class="pa-3"
      width="100%">
      <v-row no-gutters
        justify="end">
        <v-icon @click="$root.$emit('dialogNewMember', false)"
          color="gray">
          fas fa-times
        </v-icon>
      </v-row>
      <v-row no-gutters
        class="">
        <v-img
          height="150"
          src="@/assets/images/U365/promotion/newMem50.jpg">
        </v-img>
      </v-row>
      <v-row no-gutters
        style="font-weight:bold">
        สมาชิกใหม่ รับโบนัส 50%
      </v-row>
      <v-row no-gutters>
        ฝากเงินครั้งแรก 300 ขึ้นไป รับโบนัส 50% สูงสุด 2,000 บาท
      </v-row>
      <v-row no-gutters
        class="py-5">
        เงื่อนไขการถอน
      </v-row>
      <v-row no-gutters>
        แบบที่ 1 มียอดเล่นได้ 10 เท่าขึ้นไป สามารถแจ้งถอนได้ทันที (ทางระบบดึงโบนัส50%คืน)
      </v-row>
      <v-row no-gutters>
        แบบที่ 2 มียอดเล่นได้ 20 เท่าขึ้นไป สามารถแจ้งถอนได้ทันทีพร้อมโบนัส
      </v-row>
      <v-row no-gutters
        class="red--text">
        หมายเหตุ : เฉพาะเว็บไซต์ที่ร่วมรายการ เฉพาะโซน เกมสล็อต,ยิงปลา,คาสิโน,สปอร์ต
      </v-row>
      <v-row no-gutters
        class="red--text">
        Uplay365 ขอสงวนสิทธ์ในการเปลี่ยนแปลงเงื่อนไข ยกเลิกโปรโมชั่นกับสมาชิกบางท่าน
      </v-row>
      <v-row no-gutters
        class="red--text">
        โดยไม่ต้องแจ้งให้ทราบล่วงหน้าและการตัดสินของเว็บไซต์ถือเป็นที่สิ้นสุด
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
#modalnewMember50Desktop{
  position: relative;
  z-index: 1000000;
}
</style>
