<template>
  <div id="promotionDesktop">
    <v-row no-gutters>
      <v-col
        cols="2"
        xs="2"
        sm="2"
        md="2"
        lg="2"
        xl="2">
      </v-col>
      <v-col
        cols="8"
        xs="8"
        sm="8"
        md="8"
        lg="8"
        xl="8">
        <v-row no-gutters
          class="mt-5">
          <v-col @click="changeStatus(1)"
            :class="promotionStatus === 1 ? 'bgNow':'bg'"
            class="font-xs white--text mr-2
            d-flex justify-center align-center">
            {{$t('promotion.all')}}
          </v-col>
          <v-col @click="changeStatus(2)"
            :class="promotionStatus === 2 ? 'bgNow':'bg'"
            class="font-xs white--text mr-2
            d-flex justify-center align-center">
            {{$t('promotion.vip')}}
          </v-col>
          <v-col @click="changeStatus(3)"
            :class="promotionStatus === 3 ? 'bgNow':'bg'"
            class="font-xs white--text mr-2
            d-flex justify-center align-center">
            {{$t('promotion.newMember')}}
          </v-col>
          <v-col @click="changeStatus(4)"
            :class="promotionStatus === 4 ? 'bgNow':'bg'"
            class="font-xs white--text mr-2
            d-flex justify-center align-center">
            {{$t('promotion.special')}}
          </v-col>
          <v-col @click="changeStatus(5)"
            :class="promotionStatus === 5 ? 'bgNow':'bg'"
            class="font-xs white--text mr-2
            d-flex justify-center align-center">
            {{$t('promotion.sport')}}
          </v-col>
          <v-col @click="changeStatus(6)"
            :class="promotionStatus === 6 ? 'bgNow':'bg'"
            class="font-xs white--text mr-2
            d-flex justify-center align-center">
            {{$t('promotion.casino')}}
          </v-col>
          <v-col @click="changeStatus(7)"
            :class="promotionStatus === 7 ? 'bgNow':'bg'"
            class="font-xs white--text mr-2
            d-flex justify-center align-center">
            {{$t('promotion.slot')}}
          </v-col>
          <v-col @click="changeStatus(8)"
            :class="promotionStatus === 8 ? 'bgNow':'bg'"
            class="font-xs white--text mr-2
            d-flex justify-center align-center">
            {{$t('promotion.winner')}}
          </v-col>
        </v-row>
        <v-row no-gutters
          >
          <v-col
            v-if="promotionStatus === 1"
            cols="12">
            <promotionAll/>
          </v-col>
        </v-row>
      </v-col>
      <v-col
        cols="2"
        xs="2"
        sm="2"
        md="2"
        lg="2"
        xl="2">
      </v-col>
    </v-row>
  </div>
</template>

<script>
import promotionAll from './all'
export default {
  components: {
    promotionAll
  },
  data: () => ({
    promotionStatus: 1
  }),
  methods: {
    changeStatus (item) {
      this.promotionStatus = item
    }
  }
}
</script>

<style lang="scss">
#promotionDesktop{
  .bg{
    background: #746f6f;
    height: 36px;
  }
  .bgNow{
    background: #fb9212;
    height: 36px;
  }
}
</style>
