<template>
  <div id="barProfileList">
    <v-list-item class="px-2">
      <v-list-item-title class="font-xs">
        {{ $t('barProfile.textAccount') }}
      </v-list-item-title>
      <v-list-item-action>
        <v-avatar
          @click.stop="drawerBarProfileToOpenAndClose()"
          class="pointer"
          size="20">
          <v-icon
            size="15">
            fas fa-times
          </v-icon>
        </v-avatar>
      </v-list-item-action>
    </v-list-item>
    <v-divider/>
    <v-list-item
      class="
      py-2
      px-2">
      <v-list-item-avatar size="50">
        <v-avatar
          size="50">
          <v-img
            src="https://keenthemes.com/metronic/preview/vue/demo1/media/users/300_21.jpg">
          </v-img>
        </v-avatar>
      </v-list-item-avatar>
      <v-list-item-title class="font-xs">
        <div class="mb-1">
          Sakkarin Channorkeaw
        </div>
        <div>
          sakkarin.james19615@gmail.com
        </div>
        <div class="mt-2">
          <v-btn
            v-on:click="postDataSignOut()"
            small
            color="error">
            <v-icon
              class="pr-2"
              size="15">
              fas fa-sign-out-alt
            </v-icon>
            {{ $t('btn.textSignout') }}
          </v-btn>
        </div>
      </v-list-item-title>
    </v-list-item>
    <v-divider/>
    <v-list-item class="px-2">
      <v-list-item-title class="font-xs">
        {{ $t('barProfile.textThemeColor') }}
      </v-list-item-title>
    </v-list-item>
    <v-divider/>
    <v-list-item
      class="
      px-2">
      <v-list-item-title>
        <v-row
          class="py-1"
          no-gutters>
          <v-col
            class="text-center"
            cols="2">
            <v-avatar
              v-on:click="setDataThemeVuetify(true)"
              class="pointer"
              size="25"
              color="#000000">
              &nbsp;
            </v-avatar>
          </v-col>
          <v-col
            class="text-center"
            cols="2">
            <v-avatar
              v-on:click="setDataThemeVuetify(false)"
              class="pointer"
              size="25"
              color="#dddddd">
              &nbsp;
            </v-avatar>
          </v-col>
        </v-row>
      </v-list-item-title>
    </v-list-item>
    <v-divider/>
    <v-list-item
      class="
      py-2
      px-2">
      <v-list-item-title>
        <v-row
          class="py-2"
          no-gutters>
          <v-col
            class="text-center"
            cols="2">
            <v-avatar
              v-on:click="setDataTheme('red')"
              class="pointer"
              size="25"
              color="#F44336">
              &nbsp;
            </v-avatar>
          </v-col>
          <v-col
            class="text-center"
            cols="2">
            <v-avatar
              v-on:click="setDataTheme('pink')"
              class="pointer"
              size="25"
              color="#E91E63">
              &nbsp;
            </v-avatar>
          </v-col>
          <v-col
            class="text-center"
            cols="2">
            <v-avatar
              v-on:click="setDataTheme('purple')"
              class="pointer"
              size="25"
              color="#9C27B0">
              &nbsp;
            </v-avatar>
          </v-col>
          <v-col
            class="text-center"
            cols="2">
            <v-avatar
              v-on:click="setDataTheme('deeppurple')"
              class="pointer"
              size="25"
              color="#673AB7">
              &nbsp;
            </v-avatar>
          </v-col>
          <v-col
            class="text-center"
            cols="2">
            <v-avatar
              v-on:click="setDataTheme('indigo')"
              class="pointer"
              size="25"
              color="#3F51B5">
              &nbsp;
            </v-avatar>
          </v-col>
          <v-col
            class="text-center"
            cols="2">
            <v-avatar
              v-on:click="setDataTheme('blue')"
              class="pointer"
              size="25"
              color="#2196F3">
              &nbsp;
            </v-avatar>
          </v-col>
        </v-row>
        <v-row
          class="mb-2"
          no-gutters>
          <v-col
            class="text-center"
            cols="2">
            <v-avatar
              v-on:click="setDataTheme('brown')"
              class="pointer"
              size="25"
              color="#795548">
              &nbsp;
            </v-avatar>
          </v-col>
          <v-col
            class="text-center"
            cols="2">
            <v-avatar
              v-on:click="setDataTheme('bluegrey')"
              class="pointer"
              size="25"
              color="#607D8B">
              &nbsp;
            </v-avatar>
          </v-col>
          <v-col
            class="text-center"
            cols="2">
            <v-avatar
              v-on:click="setDataTheme('teal')"
              class="pointer"
              size="25"
              color="#009688">
              &nbsp;
            </v-avatar>
          </v-col>
          <v-col
            class="text-center"
            cols="2">
            <v-avatar
              v-on:click="setDataTheme('green')"
              class="pointer"
              size="25"
              color="#4CAF50">
              &nbsp;
            </v-avatar>
          </v-col>
          <v-col
            class="text-center"
            cols="2">
            <v-avatar
              v-on:click="setDataTheme('lightgreen')"
              class="pointer"
              size="25"
              color="#8BC34A">
              &nbsp;
            </v-avatar>
          </v-col>
          <v-col
            class="text-center"
            cols="2">
            <v-avatar
              v-on:click="setDataTheme('orange')"
              class="pointer"
              size="25"
              color="#FF9800">
              &nbsp;
            </v-avatar>
          </v-col>
        </v-row>
      </v-list-item-title>
    </v-list-item>
    <v-divider/>
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  props: [
    'setTheme'
  ],
  data () {
    return {
    }
  },
  components: {
  },
  mounted () {
  },
  methods: {
    setDataThemeVuetify (type) {
      this.$vuetify.theme.dark = type
      Vue.localStorage.set('themeVuetify', type)
      localStorage.removeItem('setDataTheme')
      this.$store.dispatch('setStoreDataTheme')
    },
    setDataTheme (type) {
      this.$store.dispatch('setStoreDataTheme', type)
    },
    drawerBarProfileToOpenAndClose () {
      this.$root.$emit('dataDrawerBarProfileToOpenAndClose')
    },
    postDataSignOut () {
      this.$store.dispatch('postDataStoreSignOut')
    }
  }
}
</script>

<style lang="scss">
#sidebar{
  .v-card{
    border-radius: 0px !important;
  }
}
</style>
