<template>
  <div id="sidebar">
    <v-card v-if="setTheme">
      <v-navigation-drawer
        dark
        :color="setTheme.barProfile"
        v-model="drawerBarProfile"
        :right="true"
        width="300"
        fixed
        temporary
        hide-overlay>
        <barProfileList/>
      </v-navigation-drawer>
    </v-card>
    <v-card v-if="!setTheme">
      <v-navigation-drawer
        v-model="drawerBarProfile"
        :right="true"
        width="300"
        fixed
        temporary
        hide-overlay>
        <barProfileList/>
      </v-navigation-drawer>
    </v-card>
  </div>
</template>

<script>
import barProfileList from '@/components/sidebar/BarProfileList'

export default {
  props: [
    'setTheme'
  ],
  data () {
    return {
      drawerBarProfile: false
    }
  },
  components: {
    barProfileList
  },
  mounted () {
    this.$root.$on('dataDrawerBarProfileToOpenAndClose', () => {
      this.drawerBarProfile = !this.drawerBarProfile
    })
  },
  methods: {
  }
}
</script>

<style lang="scss">
#sidebar{
  .v-card{
    border-radius: 0px !important;
  }
}
</style>
