<template>
  <div id="sidebarList">
    <v-list-item
      class="
      px-2">
      <v-list-item-avatar>
        <v-avatar
          size="40">
          <v-icon
            size="30">
            fas fa-user
          </v-icon>
        </v-avatar>
      </v-list-item-avatar>
      <v-list-item-title>
        <div class="mb-1">
          RT505SUB
        </div>
        <div>
          Credit: 50,271,527.58
        </div>
      </v-list-item-title>
    </v-list-item>
    <v-divider/>
    <v-list-item
      class="
      px-2"
      dense
      link>
      <v-list-item-avatar size="30">
        <v-avatar
          v-if="setTheme"
          color="#dddddd"
          size="30">
          <v-icon
            :color="setTheme.sidebar"
            size="20">
            fas fa-tachometer-alt
          </v-icon>
        </v-avatar>
         <v-avatar
          v-if="!setTheme"
          class="avatarSidebarList"
          size="30">
          <v-icon
            size="20">
            fas fa-tachometer-alt
          </v-icon>
        </v-avatar>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title class="font-xs">
          {{ $t('sidebar.textDashboard') }}
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-divider/>
    <!--
    /**
    * ! => GROUP textUserManagement --------------------
    */
    -->
  <v-list-group>
    <template v-slot:activator>
      <v-list-item-avatar
        class="ml-2"
        size="30">
        <v-avatar
          v-if="setTheme"
          color="#dddddd"
          size="30">
          <v-icon
            :color="setTheme.sidebar"
            size="20">
            fas fa-user-cog
          </v-icon>
        </v-avatar>
        <v-avatar
          v-if="!setTheme"
          class="avatarSidebarList"
          size="30">
          <v-icon
            size="20">
            fas fa-user-cog
          </v-icon>
        </v-avatar>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title class="font-xs">
          {{ $t('sidebar.textUserManagement') }}
        </v-list-item-title>
      </v-list-item-content>
    </template>
    <v-list-item
        class="
        px-2"
        dense
        link>
        <v-list-item-avatar
          class="pl-1"
          size="30">
          <v-avatar
            v-if="setTheme"
            color="#dddddd"
            size="20">
            <v-icon
              :color="setTheme.sidebar"
              size="15">
              fas fa-chevron-circle-right
            </v-icon>
          </v-avatar>
          <v-avatar
            v-if="!setTheme"
            class="avatarSidebarList"
            size="20">
            <v-icon
              size="15">
              fas fa-chevron-circle-right
            </v-icon>
          </v-avatar>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="font-xs">
            {{ $t('sidebar.textUserManagementAddAgent') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item
        class="
        px-2"
        dense
        link>
        <v-list-item-avatar
          class="pl-1"
          size="30">
          <v-avatar
            v-if="setTheme"
            color="#dddddd"
            size="20">
            <v-icon
              :color="setTheme.sidebar"
              size="15">
              fas fa-chevron-circle-right
            </v-icon>
          </v-avatar>
          <v-avatar
            v-if="!setTheme"
            class="avatarSidebarList"
            size="20">
            <v-icon
              size="15">
              fas fa-chevron-circle-right
            </v-icon>
          </v-avatar>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="font-xs">
            {{ $t('sidebar.textUserManagementDownlineList') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
  </v-list-group>
  <!--
  /**
  * ! => GROUP textTransactionReport --------------------
  */
  -->
  <v-divider/>
  <v-list-group>
    <template v-slot:activator>
      <v-list-item-avatar
        class="ml-2"
        size="30">
        <v-avatar
          v-if="setTheme"
          color="#dddddd"
          size="30">
          <v-icon
            :color="setTheme.sidebar"
            size="20">
            fas fa-book-open
          </v-icon>
        </v-avatar>
        <v-avatar
          v-if="!setTheme"
          class="avatarSidebarList"
          size="30">
          <v-icon
            size="20">
            fas fa-book-open
          </v-icon>
        </v-avatar>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title class="font-xs">
          {{ $t('sidebar.textTransactionReport') }}
        </v-list-item-title>
      </v-list-item-content>
    </template>
    <!--
    /**
    * todo => GROUP textTransactionReport  / Win Lose --------------------
    */
    -->
    <v-list-item
      class="
      px-2"
      dense
      link>
      <v-list-item-avatar
        class="pl-1"
        size="30">
        <v-avatar
          v-if="setTheme"
          color="#dddddd"
          size="20">
          <v-icon
            :color="setTheme.sidebar"
            size="15">
            fas fa-chevron-circle-right
          </v-icon>
        </v-avatar>
        <v-avatar
          v-if="!setTheme"
          class="avatarSidebarList"
          size="20">
          <v-icon
            size="15">
            fas fa-chevron-circle-right
          </v-icon>
        </v-avatar>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title class="font-xs">
          {{ $t('sidebar.textTransactionReportWinLose') }}
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <!--
    /**
    * todo => GROUP textTransactionReport  / Win Lose Details --------------------
    */
    -->
    <v-list-item
        class="
        px-2"
        dense
        link>
        <v-list-item-avatar
          class="pl-1"
          size="30">
          <v-avatar
            v-if="setTheme"
            color="#dddddd"
            size="20">
            <v-icon
              :color="setTheme.sidebar"
              size="15">
              fas fa-chevron-circle-right
            </v-icon>
          </v-avatar>
          <v-avatar
            v-if="!setTheme"
            class="avatarSidebarList"
            size="20">
            <v-icon
              size="15">
              fas fa-chevron-circle-right
            </v-icon>
          </v-avatar>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="font-xs">
            {{ $t('sidebar.textTransactionReportWinLoseDetails') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <!--
      /**
      * todo => GROUP textTransactionReport  / Win Lose (Kiosk) --------------------
      */
      -->
      <v-list-item
        class="
        px-2"
        dense
        link>
        <v-list-item-avatar
          class="pl-1"
          size="30">
          <v-avatar
            v-if="setTheme"
            color="#dddddd"
            size="20">
            <v-icon
              :color="setTheme.sidebar"
              size="15">
              fas fa-chevron-circle-right
            </v-icon>
          </v-avatar>
          <v-avatar
            v-if="!setTheme"
            class="avatarSidebarList"
            size="20">
            <v-icon
              size="15">
              fas fa-chevron-circle-right
            </v-icon>
          </v-avatar>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="font-xs">
            {{ $t('sidebar.textTransactionReportWinLoseKiosk') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <!--
      /**
      * todo => GROUP textTransactionReport  / Online Users --------------------
      */
      -->
      <v-list-item
        class="
        px-2"
        dense
        link>
        <v-list-item-avatar
          class="pl-1"
          size="30">
          <v-avatar
            v-if="setTheme"
            color="#dddddd"
            size="20">
            <v-icon
              :color="setTheme.sidebar"
              size="15">
              fas fa-chevron-circle-right
            </v-icon>
          </v-avatar>
          <v-avatar
            v-if="!setTheme"
            class="avatarSidebarList"
            size="20">
            <v-icon
              size="15">
              fas fa-chevron-circle-right
            </v-icon>
          </v-avatar>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="font-xs">
            {{ $t('sidebar.textTransactionReportOnlineUsers') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <!--
      /**
      * todo => GROUP textTransactionReport  / Prize Transactions --------------------
      */
      -->
      <v-list-item
        class="
        px-2"
        dense
        link>
        <v-list-item-avatar
          class="pl-1"
          size="30">
          <v-avatar
            v-if="setTheme"
            color="#dddddd"
            size="20">
            <v-icon
              :color="setTheme.sidebar"
              size="15">
              fas fa-chevron-circle-right
            </v-icon>
          </v-avatar>
          <v-avatar
            v-if="!setTheme"
            class="avatarSidebarList"
            size="20">
            <v-icon
              size="15">
              fas fa-chevron-circle-right
            </v-icon>
          </v-avatar>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="font-xs">
            {{ $t('sidebar.textTransactionReportPrizeTransactions') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list-group>
    <v-divider/>
    <!--
    /**
    * ! => GROUP textTransactionReport --------------------
    */
    -->
    <v-list-group>
      <template v-slot:activator>
        <v-list-item-avatar
          class="ml-2"
          size="30">
          <v-avatar
            v-if="setTheme"
            color="#dddddd"
            size="30">
            <v-icon
              :color="setTheme.sidebar"
              size="20">
              fas fa-cog
            </v-icon>
          </v-avatar>
          <v-avatar
            v-if="!setTheme"
            class="avatarSidebarList"
            size="30">
            <v-icon
              size="20">
              fas fa-cog
            </v-icon>
          </v-avatar>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="font-xs">
            {{ $t('sidebar.textSystemLog') }}
          </v-list-item-title>
        </v-list-item-content>
      </template>
      <!--
      /**
      * todo => GROUP textTransactionReport  / Credit log --------------------
      */
      -->
      <v-list-item
        class="
        px-2"
        dense
        link>
        <v-list-item-avatar
          class="pl-1"
          size="30">
          <v-avatar
            v-if="setTheme"
            color="#dddddd"
            size="20">
            <v-icon
              :color="setTheme.sidebar"
              size="15">
              fas fa-chevron-circle-right
            </v-icon>
          </v-avatar>
          <v-avatar
            v-if="!setTheme"
            class="avatarSidebarList"
            size="20">
            <v-icon
              size="15">
              fas fa-chevron-circle-right
            </v-icon>
          </v-avatar>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="font-xs">
            {{ $t('sidebar.textSystemLogCreditlog') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <!--
      /**
      * todo => GROUP textTransactionReport  /  View Log --------------------
      */
      -->
      <v-list-item
        class="
        px-2"
        dense
        link>
        <v-list-item-avatar
          class="pl-1"
          size="30">
          <v-avatar
            v-if="setTheme"
            color="#dddddd"
            size="20">
            <v-icon
              :color="setTheme.sidebar"
              size="15">
              fas fa-chevron-circle-right
            </v-icon>
          </v-avatar>
          <v-avatar
            v-if="!setTheme"
            class="avatarSidebarList"
            size="20">
            <v-icon
              size="15">
              fas fa-chevron-circle-right
            </v-icon>
          </v-avatar>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="font-xs">
            {{ $t('sidebar.textSystemLogViewLog') }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list-group>
    <v-divider/>
  </div>
</template>

<script>
export default {
  props: [
    'setTheme'
  ],
  data () {
    return {
    }
  },
  components: {
  },
  mounted () {
  },
  computed: {
  }
}
</script>

<style lang="scss">
#sidebarList{
  .theme--dark{
   .avatarSidebarList{
      background-color: #555555 !important;
    }
  }
  .theme--light{
    .avatarSidebarList{
      background-color: #dddddd !important;
    }
  }
  .v-list-group__header{
    padding-left: 0px;
  }
  .v-list-item__icon:last-of-type:not(:only-child) {
    .v-icon{
        font-size: 15px !important;
      }
  }
  .primary--text{
    color: #fff !important;
    caret-color: #fff !important;
  }
}
</style>
