<template>
  <div id="sidebar">
    <v-card v-if="setTheme">
      <v-navigation-drawer
        dark
        :color="setTheme.sidebar"
        v-model="drawer"
        fixed
        app
        hide-overlay>
        <sidebarList
        :setTheme="setTheme"/>
      </v-navigation-drawer>
    </v-card>
    <v-card v-if="!setTheme">
      <v-navigation-drawer
        v-model="drawer"
        fixed
        app
        hide-overlay>
        <sidebarList
        :setTheme="setTheme"/>
      </v-navigation-drawer>
    </v-card>
  </div>
</template>

<script>
import sidebarList from '@/components/sidebar/SidebarList'

export default {
  props: [
    'setTheme'
  ],
  data () {
    return {
      drawer: true
    }
  },
  components: {
    sidebarList
  },
  mounted () {
    this.$root.$on('dataDrawerToOpenAndClose', () => {
      this.drawer = !this.drawer
    })
  }
}
</script>

<style lang="scss">
#sidebar{
  .v-card{
    border-radius: 0px !important;
  }
}
</style>
