<template>
  <div id="dashboard">
    <v-card class="pa-2">
      <div class="font-lg">
        DASHBOARD
      </div>
      <div class="font-lg">
        หน้าหลัก
      </div>
    </v-card>
  </div>
</template>

<script>

export default {
  data () {
    return {
    }
  },
  components: {
  }
}
</script>

<style lang="scss">
</style>
