<template>
  <div id="deposit">
    <div
      class="d-flex justify-center">
      <span
        class="mb-2"
        style="
        font-weight: bold;
        color: white;
        font-size: 20px"
      >
      {{$t('toolbarMenu.deposit')}}
      </span>
    </div>
    <v-card
      class="pa-2"
      style="box-shadow: 0 0.08rem 1.5rem #aa2c23;">
      <v-select
        :items="items"
        label="เลือกธนาคาร"
      ></v-select>
      <span>หมายเลขบัญชี : -</span>
      <v-text-field
        label="จำนวนเงิน"
      ></v-text-field>
      <v-row no-gutters>
        <v-col cols='10'>
          <v-select
            :items="items"
            label="โปรโมชั่น"
          ></v-select>
        </v-col>
        <v-col cols='2'>
          <v-switch></v-switch>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols='5'>
          <v-btn
            style="width: 100px"
            rounded
            dark
            color='red'>
            เลือกไฟล์
          </v-btn>
        </v-col>
        <v-col cols='7'
          class="d-flex align-center">
          <span>ไม่มีการเลือกไฟล์</span>
        </v-col>
      </v-row>
    </v-card>
    <v-btn
      class="mt-4"
      rounded
      block
      dark
      color='red'>
      ยืนยัน
    </v-btn>
  </div>
</template>

<script>
export default {
  data: () => ({
    items: ['เลือกธนาคาร']
  })
}
</script>

<style lang="scss">
#deposit{
}
</style>
