<template>
  <div class="d-flex justify-center">
    <span
      style="
      font-weight: bold;
      color: white;
      font-size: 20px"
    >
      {{$t('toolbarMenu.menuPromotion')}}
    </span>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
#promotion{
  .headfont{
    font-size: 20px;
    color: white;
  }
}
</style>
