<template>
  <div id="maintenance">
    <div class="white--text" style="text-align: center;">
      ปิดปรับปรุงระบบ 8.00(GMT+7)26/07/2564 - 23.59(GMT+7)01/08/2564
    </div>
    <img height="100%" width="100%" src="@/assets/images/New/PC_Break.jpeg">
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
#maintenance{
  background-color: black;
}
</style>
