<template>
  <div id="firstpage">
    <v-row no-gutters>
      <v-col class="setspace" cols="12" align="center">
        <!-- <v-img
          contain
          src="@/assets/images/New/topbgfirstpage.png">
        </v-img> -->
        <span class="headtext">E-Club เว็บเดิมพันอันดับหนึ่งของไทย</span>
      </v-col>
      <v-col class="mb-12" cols="12" align="center">
        <v-btn @click="gotoweb()" large width="360px" dark class="colorbtn1 mx-5 font-lg">
          <span>เข้าสู่เว็บไซต์</span>
        </v-btn>
        <v-btn @click="gotoweb()" class="setbtnnn" dark outlined large width="360px">
          <span class="font-lg fontbtn">เข้าสู่ระบบ</span>
        </v-btn>
      </v-col>
      <v-col cols="12" align="center">
        <span class="white--text textsub">เกมส์เดิมพันครบจบในที่เดียว</span>
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col class="pa-2" cols="6" align="end">
        <img @click="pushPage('casinoGame')" width="100%" class="setpicgameleft" src="@/assets/images/New/picf1.png">
      </v-col>
      <v-col class="pa-2" cols="6" align="start">
        <img @click="pushSport()" width="100%" class="setpicgameright" src="@/assets/images/New/picf2.png">
      </v-col>
      <v-col class="pa-2" cols="6" align="end">
        <img @click="pushSlot()" width="100%" class="setpicgameleft" src="@/assets/images/New/picf3.png">
      </v-col>
      <v-col class="pa-2" cols="6" align="start">
        <img @click="pushFishing()" width="100%" class="setpicgameright" src="@/assets/images/New/picf4.png">
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="12" align="center">
        <span class="mt-3 white--text textsub">บทความ</span>
      </v-col>
      <v-col cols="12" class="setcard">
        <v-card dark class="pa-8 pl-12 pr-12" align="center">
          <div>
            <span
              class="text">
              สำหรับการเล่นคาสิโนออนไลน์บนเว็บไซต์ของเรานั้นง่ายมากๆเพียงท่านลูกค้ามี
              อินเทอร์เน็ตท่านลูกค้าสามารถเล่นผ่านสมาร์ทโฟนได้ทุกระบบหรือคอมพิวเตอร์ได้ ง่ายๆ หรือ บางท่านอาจจะยังไม่เคยเข้าเล่นคาสิโนออนไลน์กับทางเว็บไซต์ของเรา
              วันนี้เราจึงจะมาอธิบายวิธีการเข้าเล่นคาสิโนออนไลน์กับทาง Eclub ถ้าพร้อมแล้วมาดูกันเลยครับ
            </span>
          </div>
          <div class="my-5">
            <span
              class="white--text"
              style="font-size: 60px;">
              วิธีเล่นคาสิโนออนไลน์
            </span>
          </div>
          <div>
            <span
              class="text">
              เมื่อท่าน Login เข้าสู่หน้าเว็บไซต์ของ Eclub แล้วให้ท่านเลือก “คาสิโนสด” เมื่อท่านเข้ามาแล้ว ท่านจะอยู่ในหน้าเลือกค่ายคาสิโนออนไลน์
              มีให้ท่านเลือกได้เล่น 4 คาสิโน ที่ลูกเล่นไม่ซ้ำใคร ท่านเลือกคาสิโนเสร็จแล้ว คลิกปุ่ม “โยกเงินเข้า” เพื่อทำการโอนเงินเข้า จากนั้นจะเข้าสู่หน้าห้องเดิมพัน
              เลือกห้องเดิมพันที่ท่านต้องการเมื่อเลือกห้องเดิมพันแล้วท่านจะเข้ามาที่ห้องเดิมพัน ซึ่งท่านสามารถเล่นได้เลย สามารถใส่จำนวน เพิ่มหรือลดจำนวนได้ และเปลี่ยนห้องเดิมพันได้ทุกเมื่อ
              เมื่อท่านลูกค้าเล่นเสร็จแล้ว กดปุ่ม “โยกเงินออก”เพื่อทำการถอนเงินที่ได้จากการเดิมพัน หากท่านเล่นจนพอใจแล้ว ท่านสามารถออกจากระบบคาสิโนได้ตลอดเวลา และนี่คือ วิธีเข้าเล่น Eclub
              อย่างง่ายสำหรับท่านลูกค้า ขอให้สนุกในการเดิมพัน
            </span>
          </div>
        </v-card>
      </v-col>
    </v-row>
    <v-row no-gutters class="setcard my-5">
      <v-col class="px-3" align="center">
        <v-card
          tile
          width="100%"
          height="100%"
          color="grey">
          ภาพบทความ
        </v-card>
      </v-col>
      <v-col class="px-3" align="center">
        <v-card
          width="100%"
          height="100%"
          tile
          color="grey">
          ภาพบทความ
        </v-card>
      </v-col>
      <v-col class="px-3" align="center">
        <v-card
          width="100%"
          height="100%"
          tile
          color="grey">
          ภาพบทความ
        </v-card>
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="12" align="center" class="py-10">
        <span class="white--text textsub">สิทธิ์พิเศษกว่าใคร</span>
      </v-col>
      <v-col cols="12" align="center">
        <img src="@/assets/images/New/moviefirstpage.png">
      </v-col>
    </v-row>
    <v-row no-gutters>
      <v-col cols="12" class="my-10" align="center">
        <footer2/>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import footer2 from '../desktop/footer/footer.vue'
import jsonListGame from '../../store/jsonFix/listSlot.json'
export default {
  data () {
    return {
      jsonListGame: jsonListGame
    }
  },
  components: {
    footer2
  },
  methods: {
    gotoweb () {
      this.$router.push({ path: '/mainpage' })
    },
    pushPage (item) {
      this.$router.push({ name: item }).catch(() => {})
    },
    pushSport () {
      this.$router.push({ name: 'sportmain' })
    },
    pushSlot () {
      this.$router.push({ name: 'typeGameSlot' })
    },
    pushFishing () {
      this.$router.push(
        {
          path: '/desktop/Fish/'
        }
      ).catch(() => {})
    }
  }
}
</script>

<style lang="scss">
#firstpage{
  background-image: url("../../assets/images/New/topbgfirstpage.png");
  background-position: center top;
  .setspace{
    margin-top: 775px;
    margin-bottom: 48px;
  }
  .headtext{
    color: #FFD875;
    text-shadow: 0px 0px 14px #FAFF00;
    font-size: 60px;
    // position: absolute !important;
    // bottom: 20%;
    // left: 26%;
  }
  .textsub{
    text-shadow: 0px 0px 14px #FAFF00;
    font-size: 80px;
  }
  .setcard{
    padding-left: 500px;
    padding-right: 500px;
  }
  .text{
    font-size: 20px;
  }
  .setpicgameleft{
    padding-left: 240px;
    cursor: pointer;
  }
  .setpicgameright{
    padding-right: 240px;
    cursor: pointer;
  }
  .colorbtn1{
    background: linear-gradient(90deg, #BE8619 0%, #EBA900 100%);
  }
  .colorbtn2{
    background: linear-gradient(90deg, #BE8619 0%, #EBA900 100%);
  }
  .setbtnnn{
    border: 2.24481px solid #FFC700;
  }
  .fontbtn{
    color: #FFC700;
  }
}
</style>
