<template>
  <div id="pokerGameDesktop">
    <v-row no-gutters>
      <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col>
      <v-col class="bg mt-4"
        cols="10"
        xs="10"
        sm="10"
        md="10"
        lg="10"
        xl="8">
        <marquee/>
        <v-row no-gutters
          class="bg2 mx-5 mb-5 py-5">
          <v-col v-for="(item, index) in picPoker" :key="index"
            cols="4"
            class="pa-3">
            <div>
              <v-img
                height="300"
                :src="item.pic">
              </v-img>
              <v-row no-gutters>
                <v-col class="font-sm white--text
                  d-flex justify-center">
                  {{item.text}}
                </v-col>
                <v-col class="font-sm textGamePlay
                  d-flex justify-center">
                  {{$t('btn.pokerPlayNow')}}
                </v-col>
              </v-row>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col>
    </v-row>
  </div>
</template>

<script>
import ham from '../../../../assets/images/U365/poker/ham.png'
import klaKlouk from '../../../../assets/images/U365/poker/kla-klouk.png'
import ongdo from '../../../../assets/images/U365/poker/ongdo.png'
import poke from '../../../../assets/images/U365/poker/poke.png'
import tienlen from '../../../../assets/images/U365/poker/tienlen.png'
import we1poker from '../../../../assets/images/U365/poker/we1poker.png'
import marquee from '../../home/marquee'
export default {
  components: {
    marquee
  },
  data: () => ({
    picPoker: [
      {
        pic: ham,
        text: 'HAM'
      },
      {
        pic: klaKlouk,
        text: 'KLA KLOUK'
      },
      {
        pic: ongdo,
        text: 'ONGDO'
      },
      {
        pic: poke,
        text: 'POKE'
      },
      {
        pic: tienlen,
        text: 'TIENLEN'
      },
      {
        pic: we1poker,
        text: 'WE1POKER'
      }
    ]
  })
}
</script>

<style lang="scss">
#pokerGameDesktop{
  .bg{
    background: #670509
  }
  .bg2{
    background: #5a0408
  }
  .textGamePlay{
    color: #e2a443;
    font-weight: bold;
  }
}
</style>
