<template>
  <div id="depositDesktop">
    <v-card v-if="getListBankProps"
      class=""
      rounded="0"
      flat>
      <div v-if="listBank">
        <v-row
          v-for="(item, index) in listBank" :key="index"
          no-gutters
          class="my-5">
          <v-col cols="2"></v-col>
          <v-col>
            <v-card
              class="pa-3">
              <v-row no-gutters>
                <!-- <v-col cols="4">
                  pic
                </v-col> -->
                <v-col>
                  <v-row no-gutters class="font-md">
                    {{item.banks}}
                  </v-row>
                  <v-row no-gutters class="font-md">
                    {{item.bank_name}}
                  </v-row>
                  <v-row no-gutters class="font-md">
                    {{item.banks_acc}}
                  </v-row>
                </v-col>
                <v-col cols="1"
                  class="d-flex justify-center">
                  <v-icon
                    v-clipboard:copy="item.banks_acc"
                    v-clipboard:success="copySuccess"
                    v-clipboard:error="copyFail">
                    far fa-copy
                  </v-icon>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
          <v-col cols="2"></v-col>
        </v-row>
      </div>
      <div v-else>
        <LoadingInfo/>
      </div>
      <!---------------------------------- select bank -->
      <!-- <v-row no-gutters
        class="mt-10">
        <v-col cols="2"></v-col>
        <v-col cols="2"
          class="font-xs d-flex justify-end align-center">
          {{$t('deposit.depositBank')}}:
        </v-col>
        <v-col cols="5"
          class="font-xs ml-4">
          <v-select
            outlined
            dense
            hide-details
            :label="$t('deposit.dropdownBank')">
          </v-select>
        </v-col>
        <v-spacer></v-spacer>
      </v-row> -->
      <!---------------------------------- account name -->
      <!-- <v-row no-gutters
        class="mt-4">
        <v-col cols="2"></v-col>
        <v-col cols="2"
          class="font-xs d-flex justify-end align-center">
          {{$t('deposit.accountName')}}:
        </v-col>
        <v-col cols="4"
          class="font-xs ml-4">
          -----------------
        </v-col>
        <v-col cols="1"
          class="d-flex justify-end">
          <v-chip
            class="font-xs"
            small>
            Copy
          </v-chip>
        </v-col>
        <v-spacer></v-spacer>
      </v-row> -->
      <!---------------------------------- account number -->
      <!-- <v-row no-gutters
        class="mt-4">
        <v-col cols="2"></v-col>
        <v-col cols="2"
          class="font-xs d-flex justify-end align-center">
          {{$t('deposit.accountNumber')}}:
        </v-col>
        <v-col cols="4"
          class="font-xs ml-4">
          -----------------
        </v-col>
        <v-col cols="1"
          class="d-flex justify-end">
          <v-chip
            class="font-xs"
            small>
            Copy
          </v-chip>
        </v-col>
        <v-spacer></v-spacer>
      </v-row> -->
      <!---------------------------------- amount deposit -->
      <!-- <v-row no-gutters
        class="mt-4">
        <v-col cols="2"></v-col>
        <v-col cols="2"
          class="font-xs d-flex justify-end align-center">
          {{$t('deposit.amountDeposit')}}:
        </v-col>
        <v-col cols="5"
          class="font-xs ml-4">
          <v-select
            outlined
            dense
            hide-details>
          </v-select>
        </v-col>
        <v-spacer></v-spacer>
      </v-row> -->
      <!---------------------------------- time deposit -->
      <!-- <v-row no-gutters
        class="mt-4">
        <v-col cols="2"></v-col>
        <v-col cols="2"
          class="font-xs d-flex justify-end align-center">
          {{$t('deposit.timeDeposit')}}:
        </v-col>
        <v-col cols="1"
          class="font-xs pl-4">
          <v-text-field
            dense
            outlined
            hide-details>
          </v-text-field>
        </v-col>
        <v-col cols="1"
          class="font-xs pl-2">
          <v-text-field
            dense
            outlined
            hide-details>
          </v-text-field>
        </v-col>
        <v-col cols="3"
          class="font-xs ml-4">
          <v-text-field
            dense
            outlined
            hide-details>
          </v-text-field>
        </v-col>
        <v-spacer></v-spacer>
      </v-row> -->
      <!---------------------------------- promotion -->
      <!-- <v-row no-gutters
        class="mt-4">
        <v-col cols="2"></v-col>
        <v-col cols="2"
          class="font-xs d-flex justify-end align-center">
          {{$t('deposit.promoition')}}:
        </v-col>
        <v-col cols="5"
          class="font-xs ml-4">
          <v-select
            :label="$t('deposit.dropdownPromotion')"
            outlined
            dense
            hide-details>
          </v-select>
        </v-col>
        <v-col cols="2"
          class="d-flex align-center pl-5">
          <v-switch
            :label="test? $t('deposit.switchPromotionOn'): $t('deposit.switchPromotionOff')"
            class="mt-0"
            hide-details
            v-model="test">
          </v-switch>
        </v-col>
        <v-spacer></v-spacer>
      </v-row> -->
      <!---------------------------------- uploadFile -->
      <!-- <v-row no-gutters
        class="mt-4">
        <v-col cols="4"></v-col>
        <v-col cols="5"
          class="font-xs ml-4">
          <v-btn
            color="#E0E0E0"
            class="font-xs"
            small
            depressed>
            {{$t('deposit.chooseFile')}}
          </v-btn>
          <div class="font-xs mt-1">
            {{$t('deposit.notiFile')}}
          </div>
        </v-col>
        <v-spacer></v-spacer>
      </v-row> -->
      <!---------------------------------- button -->
      <!-- <v-row no-gutters
        class="mt-8 pb-8">
        <v-col cols="4"></v-col>
        <v-col
          class="font-xs ml-4 mr-2">
          <v-btn
            block
            rounded
            depressed
            class="bgBtn font-md">
            {{$t('deposit.submit')}}
          </v-btn>
        </v-col>
        <v-col class="mx-5">
          <v-btn
            block
            rounded
            depressed
            class="bgBtn font-md">
            {{$t('deposit.reset')}}
          </v-btn>
        </v-col>
        <v-spacer></v-spacer>
      </v-row> -->
    </v-card>
    <v-card v-else
      class=""
      rounded="0"
      flat>
      <v-row no-gutters class="font-md font-weight-bold my-5" justify="center">
       {{$t('deposit.noData')}}
      </v-row>
    </v-card>
  </div>
</template>

<script>
import LoadingInfo from '@/components/loading/LoadingInfo'
import Vue from 'vue'
// import { mapGetters } from 'vuex'
// import sidebarMenu from '../sidebarMenu'
var notificationToolbarAgent = {
  position: 'rightBottom',
  timeout: 5000,
  titleMaxLength: 100,
  bodyMaxLength: 200,
  showProgressBar: false,
  closeOnClick: false,
  pauseOnHover: true
}
export default {
  props: [
    'listBank'
  ],
  components: {
    LoadingInfo
    // sidebarMenu
  },
  data: () => ({
    test: false
  }),
  mounted () {
    this.$store.dispatch('getDataStoreListBank')
  },
  computed: {
    // ...mapGetters(['listBank'])
    getListBankProps () {
      // console.log(this.listBank)
      if (this.listBank) {
        var x = null
        if (this.listBank.length !== 0) {
          x = true
        } else {
          x = false
        }
      }
      return x
    }
  },
  methods: {
    pushLink () {
      // this.$router.push({ name: 'depositListDesktop' })
    },
    copySuccess () {
      Vue.$snotify.success(
        'Copy Success',
        notificationToolbarAgent
      )
    },
    copyFail () {
      Vue.$snotify.error(
        'Copy Fail',
        notificationToolbarAgent
      )
    }
  }
}
</script>

<style lang="scss">
#depositDesktop{
  .bg{
    background:#424242;
    width: 100%;
  }
  .bgHead{
    background:linear-gradient( #6f0406, #4a0206);
    height: 40px;
  }
  .bgSelect{
    background: white;
    color: #555;
    font-weight: bold;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .bgNotSelect{
    color: white;
    font-weight: bold;
    width: 100%;
    height: 100%;
  }
  .bgBtn{
    // background:linear-gradient( #6f0406, #4a0206);
    background: url('../../../../assets/images/U365/headerBeforeHover.png');
    background-size: 101% 101%;
    font-weight: bold;
    color: white;
    height: 45px;
  }
}
</style>
