<template>
  <div id="depositListDesktop">
    <v-card
      rounded="0"
      flat>
      <v-row no-gutters
        class="mt-3">
        <v-col v-if="checkLengthData"
          cols="12">
          <v-data-table
            :page.sync="page"
            @page-count="pageCount = $event"
            dense
            :no-data-text="$t('deposit.noHistory')"
            :headers="header"
            :items="historyDeposit"
            class="elevation-0"
            hide-default-footer>
          </v-data-table>
          <v-divider></v-divider>
          <v-pagination
            class="my-4"
            v-model="page"
            :length="pageCount"
            circle
          ></v-pagination>
        </v-col>
        <v-col v-else
          class="font-md font-weight-bold d-flex justify-center my-5"
          cols="12">
            {{$t('deposit.notSupport')}}
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  props: [
    'historyDeposit'
  ],
  data: () => ({
    page: 1,
    pageCount: 0,
    item: [
      {
        no: 1,
        type: 'ฝากเงิน',
        time: '2021-02-11 16:24:05',
        amount: '100',
        status: 'เสร็จ',
        receipt: '',
        option: 'afwagfgawgwgwagwa'
      }
    ]
  }),
  computed: {
    checkLengthData () {
      var x = false
      if (this.historyDeposit.length > 0) {
        x = true
      } else {
        x = false
      }
      return x
    },
    header () {
      return [
        // {
        //   text: this.$t('deposit.no'),
        //   class: 'font-xxs pa-2',
        //   width: 80,
        //   value: 'id'
        // },
        // {
        //   text: this.$t('deposit.type'),
        //   class: 'font-xxs pa-2',
        //   value: 'type'
        // },
        {
          text: this.$t('deposit.time'),
          class: 'font-xxs pa-2',
          value: 'create_date'
        },
        {
          text: this.$t('deposit.amount'),
          class: 'font-xxs pa-2',
          value: 'credit'
        },
        // {
        //   text: this.$t('deposit.status'),
        //   class: 'font-xxs pa-2',
        //   value: 'status'
        // },
        // {
        //   text: this.$t('deposit.receipt'),
        //   class: 'font-xxs pa-2',
        //   value: 'receipt'
        // },
        {
          text: this.$t('deposit.option'),
          class: 'font-xxs pa-2',
          value: 'notes'
        }
      ]
    }
  },
  methods: {
  }
}
</script>

<style lang="scss">
#depositListDesktop{
  .bg{
    background:#424242;
    width: 100%;
  }
  .bgHead{
    background:linear-gradient( #6f0406, #4a0206);
    // height: 40px;
  }
  .v-tab--active{
    background: white;
    color:black !important;
  }
  .tabHead{
    letter-spacing: 0;
    font-weight: bold;
    color:white
  }
  // .v-tab:hover {
  //   background:white
  // }
}
</style>
