<template>
  <div id="userheader"
    v-if="getMsgStoreUser">
      <v-row no-gutters>
        <v-col cols="12"
          class="pa-2
          d-flex justify-center">
          <span
            class="texthead">
            {{$t('userInfo.member')}} UPLAY365
          </span>
        </v-col>
        <v-col cols="12"
          class="pa-2
           d-flex justify-center">
          <v-avatar
            color='red'>
            <v-icon
              color='white'>
              fas fa-user
            </v-icon>
          </v-avatar>
        </v-col>
        <v-col cols="12"
          class="pa-2
           d-flex justify-center">
          <span
            class="texthead">
            {{getMsgStoreUser.username}}
          </span>
        </v-col>
      </v-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['getMsgStoreUser'])
  }
}
</script>

<style lang='scss'>
#userheader{
//   margin-bottom: 72vh;
  .texthead{
    color: white;
  }
}
</style>
