<template>
  <div id="betReportViewDesktop">
    <v-row no-gutters>
      <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col>
      <v-col class="bg pl-3 pt-3"
        cols="10"
        xs="10"
        sm="10"
        md="10"
        lg="10"
        xl="8">
        <v-row no-gutters>
          <v-col cols="2" class="mb-4">
            <sidebarMenu/>
          </v-col>
          <v-col cols="10"
            class="pl-3">
            <v-card
              class="pa-3"
              rounded="0"
              flat>
              <span class="bgHead font-md px-2 py-1">
                {{$t('betReport.betReport')}}
              </span>
              <!---------------------------------- dropdown  -->
              <!-- <v-row no-gutters
                class="mt-7 py-2">
                <v-col cols="5"
                  class="font-xs">
                  <v-select
                    v-model="select"
                    :items="item"
                    item-text="text"
                    item-value="value"
                    class="bgSelect"
                    dense
                    outlined
                    hide-details>
                    <template v-slot:selection ="{item}">
                      <span class="white--text">{{item.text}}</span>
                    </template>
                    <template v-slot:item ="{item}">
                      <span class="font-xs">{{item.text}}</span>
                    </template>
                  </v-select>
                </v-col>
                <v-spacer></v-spacer>
              </v-row> -->
              <!------------------------------------ table -->
              <v-row no-gutters class="mt-3">
                <v-col cols="12">
                  <v-data-table
                    :page.sync="page"
                    @page-count="pageCount = $event"
                    dense
                    :no-data-text="$t('betReport.noHistory')"
                    :headers="header"
                    class="elevation-0"
                    hide-default-footer>
                  </v-data-table>
                  <v-divider></v-divider>
                  <v-pagination
                    class="my-4"
                    v-model="page"
                    :length="pageCount"
                    circle
                  ></v-pagination>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col>
    </v-row>
  </div>
</template>

<script>
import sidebarMenu from '../sidebarMenu'
export default {
  components: {
    sidebarMenu
  },
  data: () => ({
    select: 1,
    item: [
      {
        text: 'BET LIST',
        value: 1
      }
    ],
    page: 1,
    pageCount: 0,
    items: [
      {
        no: 1,
        type: 'ฝากเงิน',
        time: '2021-02-11 16:24:05',
        amount: '100',
        status: 'เสร็จ',
        receipt: '',
        option: 'afwagfgawgwgwagwa'
      }
    ]
  }),
  computed: {
    header () {
      return [
        {
          text: this.$t('betReport.no'),
          class: 'font-xxs pa-2',
          width: 80,
          value: 'no'
        },
        {
          text: this.$t('betReport.game'),
          class: 'font-xxs pa-2',
          value: 'type'
        },
        {
          text: this.$t('betReport.pool'),
          class: 'font-xxs pa-2',
          value: 'time'
        },
        {
          text: this.$t('betReport.type'),
          class: 'font-xxs pa-2',
          value: 'amount'
        },
        {
          text: this.$t('betReport.number'),
          class: 'font-xxs pa-2',
          value: 'status'
        },
        {
          text: this.$t('betReport.rate'),
          class: 'font-xxs pa-2',
          value: 'option'
        },
        {
          text: this.$t('betReport.discount'),
          class: 'font-xxs pa-2',
          value: 'option'
        },
        {
          text: this.$t('betReport.betAmount'),
          class: 'font-xxs pa-2',
          value: 'option'
        },
        {
          text: this.$t('betReport.gameId'),
          class: 'font-xxs pa-2',
          value: 'option'
        },
        {
          text: this.$t('betReport.betTime'),
          class: 'font-xxs pa-2',
          value: 'option'
        }
      ]
    }
  }
}
</script>

<style lang="scss">
#betReportViewDesktop{
  .bg{
    background:#424242;
    width: 100%;
    height: 100%;
  }
  .bgHead{
    background: #333;
    border-radius: 0 20px 20px 0;
    color: white;
    font-weight: bold;
    // width: 200px;
  }
  .bgSelect{
    background: #6f0406;
    color:white !important;
  }
  // .v-data-table__wrapper {
  //   overflow-x: hidden;
  // }
}
</style>
