<template>
  <div id="picCarousel">
    <v-row no-gutters>
      <v-col
        style="background:black !important"
        cols="12"
        md="12"
        xl="12"
        lg="12">
        <VueSlickCarousel v-bind="settings">
          <div v-for="(item, index) in dataPicTh" :key="index">
            <a @click="openLink(item)">
              <img
                class=""
                :src="item.pic"
                />
            </a>
          </div>
        </VueSlickCarousel>
        <!-- <v-carousel
          interval='5000'
          height="auto"
          hide-delimiters>
            <v-carousel-item
              @click="openLink(item)"
              v-for="(item,i) in dataPicTh"
              :key="i"
              :src="item.pic"
            ></v-carousel-item>
        </v-carousel> -->
      </v-col>
    </v-row>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
// import Banner1 from '../../assets/images/U365/banner.png'
import banner1 from '@/assets/images/New/banner1.jpg'
import banner2 from '@/assets/images/New/banner2.jpg'
import banner3 from '@/assets/images/New/banner3.jpg'
import banner4 from '@/assets/images/New/banner4.jpg'
export default {
  components: {
    VueSlickCarousel
  },
  data: () => ({
    settings: {
      dots: false,
      arrows: false,
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      // speed: 500,
      autoplaySpeed: 3000
      // accessibility: false
      // speed: 300,
      // autoplay: true,
      // slidesToShow: 1,
      // slidesToScroll: 1,
      // autoplaySpeed: 2000
    },
    // pic: welComdeTh
    dataPicTh: [
      // {
      //   pic: Banner1
      // },
      {
        pic: banner4,
        url: 'https://static-tw-gcpbucket.hep200512.com/sweh-assets-box/network/luckyenvelopes/index.html'
      },
      {
        pic: banner1,
        url: ''
      },
      {
        pic: banner2,
        url: ''
      },
      {
        pic: banner3,
        url: ''
      }
      // {
      //   pic: iphoneTh
      // },
      // {
      //   pic: newMemTh
      // },
      // {
      //   pic: birthDayTh
      // },
      // {
      //   pic: pgSlotTh
      // }
    ]
    // dataPicEn: [
    //   {
    //     pic: welComdeEn
    //   },
    //   {
    //     pic: iphoneEn
    //   },
    //   {
    //     pic: newMemEn
    //   },
    //   {
    //     pic: birthDayEn
    //   },
    //   {
    //     pic: pgSlotEn
    //   }
    // ]
  }),
  methods: {
    openLink (item) {
      if (item.url) {
        window.open(item.url, '_blank')
      }
    }
  }
}
</script>

<style lang="scss">
#picCarousel{
  img{
    height: 700px;
    width: 100%;
  }
  @media only screen and (max-width: 1904px) {
    img{
      height: 600px;
      width: 100%;
    }
  }
   @media only screen and (max-width: 1600px) {
    img{
      height: 550px;
      width: 100%;
    }
  }
  @media only screen and (max-width: 1264px) {
    img{
      height: 450px;
      width: 100%;
    }
  }
  .v-image__image{
    // background-size: contain;
  }
}
</style>
