<template>
  <div id="picCarouselMobile">
    <v-row no-gutters
      class="pa-2">
      <v-col v-if="$t('langId') === 'th'"
        cols="12">
        <v-carousel
          cycle
          hide-delimiter-background
          height="115"
          :show-arrows= 'false'>
          <v-carousel-item
            v-for="(item, index) in dataPicTh" :key="index"
            :src="item.pic">
          </v-carousel-item>
        </v-carousel>
      </v-col>
      <v-col v-if="$t('langId') === 'en'"
        cols="12">
        <v-carousel
          cycle
          hide-delimiter-background
          height="115"
          :show-arrows= 'false'>
          <v-carousel-item
            v-for="(item, index) in dataPicEn" :key="index"
            :src="item.pic">
          </v-carousel-item>
        </v-carousel>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import welComdeTh from '../../assets/images/U365/Welcome-th.jpg'
import welComdeEn from '../../assets/images/U365/Welcome-eng.jpg'
import iphoneTh from '../../assets/images/U365/Iphone-th.jpg'
import iphoneEn from '../../assets/images/U365/Iphone-eng.jpg'
import newMemTh from '../../assets/images/U365/newMem-Th.jpg'
import newMemEn from '../../assets/images/U365/newMem-eng.jpg'
import birthDayTh from '../../assets/images/U365/birthDay-th.jpg'
import birthDayEn from '../../assets/images/U365/birthDay-eng.jpg'
import pgSlotTh from '../../assets/images/U365/PGSlot-th.jpg'
import pgSlotEn from '../../assets/images/U365/PGSlot-eng.jpg'
export default {
  data: () => ({
    // pic: welComdeTh
    dataPicTh: [
      {
        pic: welComdeTh
      },
      {
        pic: iphoneTh
      },
      {
        pic: newMemTh
      },
      {
        pic: birthDayTh
      },
      {
        pic: pgSlotTh
      }
    ],
    dataPicEn: [
      {
        pic: welComdeEn
      },
      {
        pic: iphoneEn
      },
      {
        pic: newMemEn
      },
      {
        pic: birthDayEn
      },
      {
        pic: pgSlotEn
      }
    ]
  })
}
</script>

<style lang='scss'>
#picCarouselMobile{
  .v-icon{
    font-size: 8px !important;
    color: black;
  }
}
</style>
