<template>
  <div id="registerDesktop4">
    <v-row no-gutters>
      <v-col cols="12"
        class="d-flex justify-center mt-5 mb-0">
        <v-avatar
          size="100"
          color="green">
          <v-icon size="70" color="white">
            fas fa-check
          </v-icon>
        </v-avatar>
      </v-col>
      <v-col cols="12"
        class="d-flex justify-center head">
        {{$t('register.success')}}
      </v-col>
      <v-col cols="12"
        class="d-flex justify-center text">
        {{$t('register.successText')}}
      </v-col>
      <v-col cols="12"
        class="mb-7 mt-1 d-flex justify-center">
        <v-btn @click="$root.$emit('statusRegis', 1)"
          height="40"
          depressed
          width="170"
          class="font-xs btnContinue">
          {{$t('register.btnDeposit')}}
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data: () => ({
    time: 3
  }),
  mounted () {
    setTimeout(() => {
      this.$router.push({ name: 'homePage' })
    }, 3000)
    // var setTime = setInterval(this.countTime, 1000)
  },
  methods: {
    // countTime () {
    //   this.time--
    //   // // console.log(this.time)
    //   // // // console.log(count)
    //   if (this.time === 0) {
    //     // // console.log('88888')
    //     this.$router.push({ name: 'homePage' })
    //     clearInterval(setTime)
    //   }
    // }
  }
}
</script>

<style lang="scss">
#registerDesktop4{
  .head{
    font-size: 40px;
    font-weight: bold;
  }
  .text{
    font-size: 20px;
    font-weight: bold;
  }
  .btnContinue{
    font-weight: bold;
    background: linear-gradient(to left, #f82e4e 0%, #fa7d1b 100%);
    color: white;
    border-radius: 10px;
  }
}
</style>
