<template>
  <div id="registerDesktop3">
    <v-row no-gutters>
      <v-col cols="12"
        class="font-md d-flex justify-center mt-7">
        {{$t('register.textNumber')}}
      </v-col>
      <v-col cols="12"
        class="font-lg mt-5 mb-4">
        <v-select v-model="bank"
          :label="$t('register.bankName')"
          item-value="value"
          item-text="text"
          :items="listBank"
          dense
          hide-details
          outlined>
          <template v-slot:item="{item}">
            <span class="pl-4 font-sm">{{item.text}}</span>
          </template>
        </v-select>
      </v-col>
      <v-col cols="12"
        class="mb-4">
        <v-text-field
          :label="$t('register.bankAccount')"
          outlined
          dense
          hide-details>
        </v-text-field>
      </v-col>
      <v-col cols="12"
        class="mb-4">
        <v-text-field
          :label="$t('register.bankNo')"
          outlined
          dense
          hide-details>
        </v-text-field>
      </v-col>
      <v-col cols="12"
        class="mb-4">
        <v-select
          v-model="changeCurrency"
          :label="$t('register.currency')"
          item-value="value"
          item-text="text"
          :items="listCurrency"
          dense
          hide-details
          outlined>
          <template v-slot:item="{item}">
            <span class="pl-4 font-sm">{{item.text}}</span>
          </template>
        </v-select>
      </v-col>
      <v-col cols="7"
        class="mb-4">
        <v-text-field
          :label="$t('register.code')"
          outlined
          dense
          hide-details>
        </v-text-field>
      </v-col>
      <v-col cols="5"
        class="pl-8">
        <div class="code font-xl d-flex justify-center align-center">
          22794
        </div>
      </v-col>
      <v-col cols="12"
        class="mb-4 d-flex justify-center">
        <v-btn @click="$root.$emit('statusRegis', 4)"
          height="40"
          depressed
          width="170"
          class="font-xs btnContinue">
          {{$t('register.continue')}}
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data: () => ({
    bank: '',
    listBank: [
      {
        text: 'กสิกรไทย',
        value: 1
      },
      {
        text: 'ทหารไทย',
        value: 2
      },
      {
        text: 'กรุงเทพ',
        value: 3
      },
      {
        text: 'กรุงไทย',
        value: 4
      }
    ],
    listCurrency: [
      {
        text: 'THB',
        value: 1
      }
    ]
  }),
  computed: {
    changeCurrency () {
      var vm = this
      var data = ''
      if (vm.bank) {
        data = 1
      }
      return data
    }
  }
}
</script>

<style lang="scss">
#registerDesktop3{
  .code{
    font-weight: bold;
    color: white;
    background: #242c35;
    border-radius: 10px;
    height: 40px;
  }
  .btnContinue{
    font-weight: bold;
    background: linear-gradient(to left, #f82e4e 0%, #fa7d1b 100%);
    color: white;
    border-radius: 10px;
  }
}
</style>
