<template>
  <div id="register">
    <v-row no-gutters>
      <!-- <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col> -->
      <v-spacer></v-spacer>
      <v-col class="bg mt-8"
        cols="7">
        <v-card light class="mb-5">
          <v-row no-gutters>
            <v-spacer></v-spacer>
            <v-col cols="7">
              <v-row no-gutters>
                <v-col
                  cols="12"
                  class="d-flex justify-center title mt-2 mb-3">
                  {{$t('register.title')}}
                </v-col>
                <v-divider />
                <v-col
                  cols="12"
                  class="d-flex justify-center font-lg mt-1 mb-3">
                  {{$t('register.text')}}
                </v-col>
                <v-col
                  cols="12"
                  class="mt-10">
                  <v-stepper v-model="step" class="elevation-0">
                    <v-stepper-header>
                      <v-stepper-step
                        :complete="step > 1"
                        color="#55c4c3"
                        step="1">
                      </v-stepper-step>
                      <v-divider></v-divider>
                      <v-stepper-step
                        :complete="step > 2"
                        color="#55c4c3"
                        step="2">
                      </v-stepper-step>
                      <v-divider></v-divider>
                      <v-stepper-step
                        color="#55c4c3"
                        :complete="step > 3"
                        step="3">
                      </v-stepper-step>
                      <v-divider></v-divider>
                      <v-stepper-step color="#55c4c3"
                        step="4">
                      </v-stepper-step>
                    </v-stepper-header>
                  </v-stepper>
                  <div v-if="step === 1">
                    <register1 />
                  </div>
                  <div v-if="step === 2">
                    <register2 />
                  </div>
                  <div v-if="step === 3">
                    <register3 />
                  </div>
                  <div v-if="step === 4">
                    <register4 />
                  </div>
                </v-col>
              </v-row>
            </v-col>
            <v-spacer></v-spacer>
          </v-row>
        </v-card>
      </v-col>
      <v-spacer></v-spacer>
      <!-- <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col> -->
    </v-row>
  </div>
</template>

<script>
import register1 from './register1'
import register2 from './register2'
import register3 from './register3'
import register4 from './register4'
export default {
  components: {
    register1,
    register2,
    register3,
    register4
  },
  data: () => ({
    step: 1
  }),
  mounted () {
    this.$root.$on('statusRegis', (data) => {
      this.step = data
    })
  }
}
</script>

<style lang="scss">
#register{
  // background:#4a0206;
  // min-height: calc(100vh - 262px);
  .title{
    font-size: 22px !important;
    font-weight: bold;
  }
  .theme--light.v-stepper .v-stepper__step__step{
    height: 40px;
    width: 40px;
    font-size: 20px;
  }
}
</style>
