<template>
  <div id="registerDesktop1">
    <v-row no-gutters>
      <v-col cols="12"
        class="font-md d-flex justify-center mt-7">
        {{$t('register.textNumber')}}
      </v-col>
      <v-col cols="12"
        class="font-lg d-flex justify-center mt-5 mb-4">
        <v-select v-if="$t('langId') === 'th'"
          v-model="country"
          item-value="value"
          item-text="text"
          :items="dataCountryTh"
          dense
          hide-details
          outlined>
          <template v-slot:selection="{item}">
            <img
              width="30"
              height="30"
              :src="item.pic">
            <span class="pl-4">{{item.text}}</span>
          </template>
          <template v-slot:item="{item}">
            <span class="pl-4 font-sm">{{item.text}}</span>
          </template>
        </v-select>
        <v-select v-if="$t('langId') === 'en'"
          v-model="country"
          item-value="value"
          item-text="text"
          :items="dataCountryEng"
          dense
          hide-details
          outlined>
          <template v-slot:selection="{item}">
            <img
              width="30"
              height="30"
              :src="item.pic">
            <span class="pl-4">{{item.text}}</span>
          </template>
          <template v-slot:item="{item}">
            <span class="pl-4 font-sm">{{item.text}}</span>
          </template>
        </v-select>
      </v-col>
      <v-col cols="12"
        class="d-flex justify-center mb-4">
        <v-col cols="2"
          class="pa-0">
          <v-text-field
            disabled
            dense
            v-model="changeCountry"
            outlined
            hide-details>
          </v-text-field>
        </v-col>
        <v-col cols="10"
          class="pa-0 pl-5">
          <v-text-field
            type="number"
            :label="$t('register.contactNumber')"
            outlined
            dense
            hide-details>
          </v-text-field>
        </v-col>
      </v-col>
      <v-col cols="12"
        class="mb-4">
        <v-text-field
          :label="$t('register.referance')"
          outlined
          dense
          hide-details>
        </v-text-field>
      </v-col>
      <v-col cols="12"
        class="mb-4 d-flex justify-center">
        <v-btn @click="$root.$emit('statusRegis', 2)"
          height="40"
          depressed
          width="170"
          class="font-xs btnContinue">
          {{$t('register.continue')}}
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import th from '@/assets/images/U365/logo_th.png'
import laos from '@/assets/images/U365/laos.png'
export default {
  data: () => ({
    country: 1,
    dataCountryTh: [
      {
        pic: th,
        text: 'ประเทศไทย',
        value: 1
      },
      {
        pic: laos,
        text: 'ลาว',
        value: 2
      }
    ],
    dataCountryEng: [
      {
        pic: th,
        text: 'Thailand',
        value: 1
      },
      {
        pic: laos,
        text: 'Laos',
        value: 2
      }
    ]
  }),
  computed: {
    changeCountry () {
      var number = ''
      var vm = this
      if (vm.country === 1) {
        number = '+66'
      } else if (vm.country === 2) {
        number = '+856'
      }
      return number
    }
  }
}
</script>

<style lang="scss">
#registerDesktop1{
  .btnContinue{
    font-weight: bold;
    background: linear-gradient(to left, #f82e4e 0%, #fa7d1b 100%);
    color: white;
    border-radius: 10px;
  }
}
</style>
