<template>
  <div id="registerDesktop2">
    <v-row no-gutters>
      <v-col cols="12"
        class="font-md d-flex justify-center mt-7">
        {{$t('register.textNumber')}}
      </v-col>
      <v-col cols="12"
        class="mt-5 mb-4">
        <v-text-field
          :label="$t('register.username')"
          outlined
          dense
          hide-details>
        </v-text-field>
      </v-col>
      <v-col cols="12"
        class="mb-4">
        <v-text-field
          :label="$t('register.password')"
          outlined
          dense
          hide-details>
        </v-text-field>
      </v-col>
      <v-col cols="12"
        class="mb-4">
        <v-text-field
          :label="$t('register.confirmPassword')"
          outlined
          dense
          hide-details>
        </v-text-field>
      </v-col>
      <v-col cols="12"
        class="mb-4 d-flex justify-center">
        <v-btn @click="$root.$emit('statusRegis', 3)"
          height="40"
          depressed
          width="170"
          class="font-xs btnContinue">
          {{$t('register.continue')}}
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
#registerDesktop2{
  .btnContinue{
    font-weight: bold;
    background: linear-gradient(to left, #f82e4e 0%, #fa7d1b 100%);
    color: white;
    border-radius: 10px;
  }
}
</style>
