<template>
  <div>
    <span v-if="responseMsgStatus"/>
    <span v-if="loginMsgDataRps"/>
    <div id="respones">
      <v-dialog
      class="respones"
      v-model="dialogResponse"
      max-width="500">
      <v-card>
        <v-card-title style="font-size: 18px;">
          {{ status }}
          -
          {{ result }}
        </v-card-title>
        <v-card-text style="font-size: 18px;">
          {{ message }}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            v-on:click="dialogResponse = false">
            ปิด
          </v-btn>
          <v-btn
            v-on:click="
            dialogResponse = false,
            reloadPageData()"
            color="warning">
            <v-icon
              size="15"
              class="mx-2">
              fa fad fa-sync-alt fa-lg
            </v-icon>
            โหลดหน้าใหม่
          </v-btn>
          <v-btn
            v-if="!dataAccessToken"
            v-on:click="
            dialogResponse = false,
            logoutData()"
            color="error">
            ออกจากระบบ
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'dataAccessToken',
    'loginDataRps'
  ],
  data () {
    return {
      dialogResponse: this.dialogResponse,
      message: this.message,
      result: this.result,
      status: this.status
    }
  },
  components: {
  },
  computed: {
    /* eslint-disable */
    responseMsgStatus () {
      if (this.$store.getters.responseStoreCatch) {
        if (this.$store.getters.responseStoreCatch.status === 400) {
          this.dialogResponse = true
          this.status = this.$store.getters.responseStoreCatch.status
          this.message = this.$store.getters.responseStoreCatch.data.message
          this.result = this.$store.getters.responseStoreCatch.data.detail
        } else if (this.$store.getters.responseStoreCatch.status === 403) {
          this.dialogResponse = true
          this.status = this.$store.getters.responseStoreCatch.status
          this.message = this.$store.getters.responseStoreCatch.data.message
          this.result = this.$store.getters.responseStoreCatch.data.detail
        } else if (this.$store.getters.responseStoreCatch.status === 404) {
          this.dialogResponse = true
          this.status = this.$store.getters.responseStoreCatch.status
          this.message = this.$store.getters.responseStoreCatch.data.message
          this.result = this.$store.getters.responseStoreCatch.data.detail
        } else if (this.$store.getters.responseStoreCatch.status === 204) {
          this.dialogResponse = true
          this.status = this.$store.getters.responseStoreCatch.status
          this.message = this.$store.getters.responseStoreCatch.data.message
          this.result = this.$store.getters.responseStoreCatch.data.detail
        } else if (this.$store.getters.responseStoreCatch.status === 500) {
          this.dialogResponse = true
          this.status = this.$store.getters.responseStoreCatch.status
          this.message = this.$store.getters.responseStoreCatch.data
          this.result = this.$store.getters.responseStoreCatch.statusText
        }
      }
    },
    /* eslint-disable */
    loginMsgDataRps () {
      if (this.loginDataRps) {
        if (this.loginDataRps.response === 'False') {
          this.dialogResponse = false
        }
      }
    }
  },
  methods: {
    logoutData (show) {
      this.$store.dispatch('postDataStoreSignOut')
    },
    reloadPageData () {
      window.location.reload()
    }
  }
}
</script>

<style lang="scss">
</style>
