<template>
  <div id="languagepage">
    <v-card
      style="box-shadow: 0 0.08rem 1.5rem #aa2c23;">
      <v-row no-gutters>
        <v-col cols="6"
        class="pa-2"
        @click="postDataLanguageTypeEng"
        >
          <v-avatar
          size="30"
          class="mr-2"
          >
            <img src="@/assets/images/U365/mobile/en.png">
          </v-avatar>
            <span class="font-lg">English</span>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-row no-gutters>
        <v-col cols="6"
        class="pa-2"
        @click="postDataLanguageTypeThai"
        >
          <v-avatar
          size="30"
          class="mr-2"
          >
            <img src="@/assets/images/U365/mobile/th.png">
          </v-avatar>
            <span class="font-lg">ภาษาไทย</span>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>

export default {
  components: {
  },
  mounted () {
    // // console.log(1230)
  },
  methods: {
    postDataLanguageTypeThai () {
      this.$i18n.locale = 'th'
      this.$store.dispatch('language/setLanguage', 'th')
      this.$router.push({ path: '/mobile' })
    },
    postDataLanguageTypeEng () {
      this.$i18n.locale = 'en'
      this.$store.dispatch('language/setLanguage', 'en')
      this.$router.push({ path: '/mobile' })
    }
  }
}
</script>

<style lang="scss">
#languagepage{
  min-height: 100vh;
  height: auto;
  margin-bottom: 100px;
}
</style>
