<template>
  <v-app>
    <loading/>
    <response/>
    <vue-snotify/>
    <!-- <toolbar
    v-if="dataAccessToken"
    :setTheme="setTheme"/>
    <sidebar
    v-if="dataAccessToken"
    :setTheme="setTheme"/>
    <barProfile
    v-if="dataAccessToken"
    :setTheme="setTheme"/> -->
    <v-content class="bgbg">
      <span v-if="changeScreen"></span>
      <router-view/>
      <!-- <v-main class="hidden-md-and-down">
        <router-view/>
      </v-main>
      <v-main class="hidden-lg-and-up">
        <router-view/>
      </v-main> -->
    </v-content>
    <modalLogin :modalLoginCall='modalLoginCall'/>
  </v-app>
</template>

<script>
// import router from './router/index'
import Vue from 'vue'
import { mapGetters } from 'vuex'
// import sidebar from '@/components/sidebar/Sidebar'
// import toolbar from '@/components/toolbar/Toolbar'
// import barProfile from '@/components/sidebar/BarProfile'
import loading from '@/components/loading/Loading'
import response from '@/components/response/Response'
// import router from './router/index'
import modalLogin from '../src/components/mobile/modal/modalLogin.vue'
import router from './router'
// import router from './router/index'

export default {
  data () {
    return {
      modalLoginCall: false,
      windowWidth: window.innerWidth,
      statusMobile: false,
      stausDesktop: false
    }
  },
  components: {
    // sidebar,
    // toolbar,
    // barProfile,
    loading,
    response,
    modalLogin
  },
  mounted () {
    this.$vuetify.theme.dark = JSON.parse(Vue.localStorage.get('themeVuetify'))
    // console.log(router.currentRoute.name)
    // console.log(router.currentRoute.params.member_uuid)
    // if (router.currentRoute.params.member_uuid) {
    //   if (router.currentRoute.params.member_uuid !== 'desktop') {
    //     var data = {
    //       uuid: router.currentRoute.params.member_uuid,
    //       pvId: router.currentRoute.params.providerId
    //     }
    //     console.log(data)
    //     this.$store.dispatch('getDataStoreAuthAuto', data)
    //   }
    // }
    if (this.dataAccessToken) {
      this.$store.dispatch('getDataStoreUser')
    }
    // if (router.currentRoute.params.member_uuid && !router.currentRoute.params.providerId) {
    //   var data1 = {
    //     uuid: router.currentRoute.params.member_uuid
    //   }
    //   this.$store.dispatch('getDataStoreAuthAuto', data1)
    // } else if (router.currentRoute.params.member_uuid && router.currentRoute.params.providerId) {
    //   var data2 = {
    //     uuid: router.currentRoute.params.member_uuid,
    //     pvId: router.currentRoute.params.providerId
    //   }
    //   this.$store.dispatch('getDataStoreAuthAuto', data2)
    // } else if (this.dataAccessToken) {
    //   this.$store.dispatch('getDataStoreUser')
    // }
    // if (this.dataAccessToken) {
    //   this.$store.dispatch('getDataStoreUser')
    // }
    window.onresize = () => {
      this.windowWidth = window.innerWidth
    }
    this.$root.$on('closeModalLogin', (data) => {
      this.modalLoginCall = data
    })
    this.$root.$on('closeModalRegis', (data) => {
      this.modalRegisCall = data
    })
    this.$root.$on('openModalRegis', (data) => {
      this.modalRegisCall = data
      this.modalLoginCall = false
    })
    this.$root.$on('closeModalLoginbar', (data) => {
      this.modalLoginCall = data
    })
  },
  computed: {
    ...mapGetters(
      [
        'setTheme',
        'toolbar',
        'dataAccessToken'
      ]
    ),
    checkToken () {
      var vm = this
      if (vm.dataAccessToken) {
        vm.modalLoginCall = false
      }
      return vm.dataAccessToken
    },
    changeScreen () {
      var x = 1
      var vm = this
      // var currentpath = ''
      // console.log(vm.windowWidth)
      if (vm.windowWidth < 1264) {
        if (router.currentRoute.params.member_uuid) {
          window.location.assign('https://m.eclub123.com/home/hotgame/' + router.currentRoute.params.member_uuid)
        } else {
          window.location.assign('https://m.eclub123.com/home/hotgame')
          // window.location.assign('https://m.eclub123.com')
        }
        // window.location.assign('http://m.eclub123.com/logins')
        // if (this.$router.currentRoute.path.slice(0, 8) === '/desktop') {
        //   currentpath = '/mobile'
        // } else {
        //   currentpath = this.$router.currentRoute.path
        // }
        // this.goMobile(currentpath)
      }
      // if (vm.windowWidth <= 1145) {
      //   if (this.$router.currentRoute.path.slice(0, 8) === '/desktop') {
      //     currentpath = '/mobile'
      //   } else {
      //     currentpath = this.$router.currentRoute.path
      //   }
      //   this.goMobile(currentpath)
      // } else {
      //   if (this.$router.currentRoute.path.slice(0, 7) === '/mobile') {
      //     currentpath = '/desktop'
      //   } else {
      //     currentpath = this.$router.currentRoute.path
      //   }
      //   this.goDesktop(currentpath)
      // }
      return x
    }
  },
  methods: {
    goMobile (currentpath) {
      this.statusMobile = true
      if (this.statusMobile) {
        this.$router.push({ path: currentpath }).catch(() => { })
      }
      this.stausDesktop = false
    },
    goDesktop (currentpath) {
      this.stausDesktop = true
      if (this.stausDesktop) {
        this.$router.push({ path: currentpath }).catch(() => { })
      }
      this.statusMobile = false
    }
  }
}
</script>

<style lang="scss">
@import "@/assets/sass/mianstyle.scss";
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
#modalWatchMovieDesktop{
  .v-dialog__content, .v-dialog__content--active {
    z-index: 100000 !important
  }
}
.bgbg{
  background-color: black;
}
.snotify{
  z-index: 300000 !important
}
</style>
