<template>
  <div id="login">
    <span v-if="!setTheme">
      <img
      class="wave"
      src="@/assets/login/darklight.png">
    </span>
    <span v-if="setTheme">
      <img
      v-if="setTheme.nameColor === 'red'"
      class="wave"
      src="@/assets/login/red.png">
      <img
      v-if="setTheme.nameColor === 'pink'"
      class="wave"
      src="@/assets/login/pink.png">
      <img
      v-if="setTheme.nameColor === 'purple'"
      class="wave"
      src="@/assets/login/purple.png">
      <img
      v-if="setTheme.nameColor === 'deeppurple'"
      class="wave"
      src="@/assets/login/deeppurple.png">
      <img
      v-if="setTheme.nameColor === 'indigo'"
      class="wave"
      src="@/assets/login/indigo.png">
      <img
      v-if="setTheme.nameColor === 'blue'"
      class="wave"
      src="@/assets/login/blue.png">
      <img
      v-if="setTheme.nameColor === 'brown'"
      class="wave"
      src="@/assets/login/brown.png">
      <img
      v-if="setTheme.nameColor === 'bluegrey'"
      class="wave"
      src="@/assets/login/bluegrey.png">
      <img
      v-if="setTheme.nameColor === 'teal'"
      class="wave"
      src="@/assets/login/teal.png">
      <img
      v-if="setTheme.nameColor === 'green'"
      class="wave"
      src="@/assets/login/green.png">
      <img
      v-if="setTheme.nameColor === 'lightgreen'"
      class="wave"
      src="@/assets/login/lightgreen.png">
      <img
      v-if="setTheme.nameColor === 'orange'"
      class="wave"
      src="@/assets/login/orange.png">
    </span>
    <div class="container">
      <div class="img">
        <span v-if="!setTheme">
          <img
          src="@/assets/login/darklight-game.svg">
        </span>
        <span v-if="setTheme">
          <img
          v-if="setTheme.nameColor === 'red'"
          src="@/assets/login/red-game.svg">
          <img
          v-if="setTheme.nameColor === 'pink'"
          src="@/assets/login/pink-game.svg">
          <img
          v-if="setTheme.nameColor === 'purple'"
          src="@/assets/login/purple-game.svg">
          <img
          v-if="setTheme.nameColor === 'deeppurple'"
          src="@/assets/login/deeppurple-game.svg">
          <img
          v-if="setTheme.nameColor === 'indigo'"
          src="@/assets/login/indigo-game.svg">
          <img
          v-if="setTheme.nameColor === 'blue'"
          src="@/assets/login/blue-game.svg">
          <img
          v-if="setTheme.nameColor === 'brown'"
          src="@/assets/login/brown-game.svg">
          <img
          v-if="setTheme.nameColor === 'bluegrey'"
          src="@/assets/login/bluegrey-game.svg">
          <img
          v-if="setTheme.nameColor === 'teal'"
          src="@/assets/login/teal-game.svg">
          <img
          v-if="setTheme.nameColor === 'green'"
          src="@/assets/login/green-game.svg">
          <img
          v-if="setTheme.nameColor === 'lightgreen'"
          src="@/assets/login/lightgreen-game.svg">
          <img
          v-if="setTheme.nameColor === 'orange'"
          src="@/assets/login/orange-game.svg">
        </span>
      </div>
      <div class="login-content">
        <form
          v-on:submit.prevent="postDataSignin(
            login
          )">
          <span v-if="!setTheme">
            <img
            src="@/assets/login/darklight-avatar.svg">
          </span>
          <span v-if="setTheme">
            <img
            v-if="setTheme.nameColor === 'red'"
            src="@/assets/login/red-avatar.svg">
            <img
            v-if="setTheme.nameColor === 'pink'"
            src="@/assets/login/pink-avatar.svg">
            <img
            v-if="setTheme.nameColor === 'purple'"
            src="@/assets/login/purple-avatar.svg">
            <img
            v-if="setTheme.nameColor === 'deeppurple'"
            src="@/assets/login/deeppurple-avatar.svg">
            <img
            v-if="setTheme.nameColor === 'indigo'"
            src="@/assets/login/indigo-avatar.svg">
            <img
            v-if="setTheme.nameColor === 'blue'"
            src="@/assets/login/blue-avatar.svg">
            <img
            v-if="setTheme.nameColor === 'brown'"
            src="@/assets/login/brown-avatar.svg">
            <img
            v-if="setTheme.nameColor === 'bluegrey'"
            src="@/assets/login/bluegrey-avatar.svg">
            <img
            v-if="setTheme.nameColor === 'teal'"
            src="@/assets/login/teal-avatar.svg">
            <img
            v-if="setTheme.nameColor === 'green'"
            src="@/assets/login/green-avatar.svg">
            <img
            v-if="setTheme.nameColor === 'lightgreen'"
            src="@/assets/login/lightgreen-avatar.svg">
            <img
            v-if="setTheme.nameColor === 'orange'"
            src="@/assets/login/orange-avatar.svg">
          </span>
          <v-row no-gutters>
            <v-col
              class="logoFlag"
              cols="12">
              <v-menu
                offset-y>
                <template v-slot:activator="{ on }">
                  <v-chip
                    link
                    class="
                    font-xs
                    ma-1"
                    v-on="on">
                    <v-avatar
                      v-if="$t('langId') === 'th'"
                      left>
                      <img src="@/assets/flag/thailand.png">
                    </v-avatar>
                    <v-avatar
                      v-if="$t('langId') === 'en'"
                      left>
                      <img src="@/assets/flag/uk.png">
                    </v-avatar>
                    <v-avatar
                      v-if="$t('langId') === 'cn'"
                      left>
                      <img src="@/assets/flag/china.png">
                    </v-avatar>
                    {{ $t('langName') }}
                    <v-avatar
                      right
                      size="36">
                      <span>
                        <v-icon size="15">
                          fas fa-chevron-down
                        </v-icon>
                      </span>
                    </v-avatar>
                  </v-chip>
                </template>
                <v-list class="py-0">
                  <v-list-item
                    link
                    class="px-2"
                    dense
                    v-for="(lang, index) in languages"
                    :key="`lang${index}`"
                    v-on:change="postDataLanguageType(lang)">
                    <v-list-item-avatar class="ma-0">
                      <v-avatar
                        size="25"
                        left>
                        <img
                        v-if="lang.id === 1"
                        src="@/assets/flag/thailand.png">
                        <img
                        v-if="lang.id === 2"
                        src="@/assets/flag/uk.png">
                        <img
                        v-if="lang.id === 3"
                        src="@/assets/flag/china.png">
                      </v-avatar>
                    </v-list-item-avatar>
                    <v-list-item-content class="font-xs">
                      {{ lang.title }}
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-menu>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12">
              <v-col
                cols="12"
                sm="12"
                md="12">
                <div
                  class="
                  my-1
                  mx-1"
                  v-if="
                  submitted &&
                  $v.login.username.$error &&
                  $v.login.password.$error"
                  cols="12"
                  sm="12"
                  md="12">
                  <v-alert
                    style="border-radius: 8px !important;"
                    v-if="
                    !$v.login.username.required &&
                    !$v.login.password.required"
                    dense
                    border="left"
                    type="error"
                    class="
                    ma-0
                    body-2">
                    {{ $t('alert.textAlertLogin') }}
                  </v-alert>
                </div>
                <v-text-field
                  class="
                  my-1
                  mt-2
                  mx-1"
                  v-model="login.username"
                  hide-details
                  :label="$t('textfield.testFieldUsername')"
                  :class="{
                    'is-invalid': submitted && $v.login.username.$error,
                    'error-field': submitted && $v.login.username.$error,
                    'success-field': submitted && !$v.login.username.$error
                  }"
                  filled
                  rounded
                  dense>
                </v-text-field>
                <v-text-field
                  class="
                  my-1
                  mx-1"
                  v-model="login.password"
                  :append-icon="showPawword ? 'fas fa-eye' : 'fas fa-eye-slash'"
                  :type="showPawword ? 'text' : 'password'"
                  @click:append="showPawword = !showPawword"
                  hide-details
                  :label="$t('textfield.testFieldPasword')"
                  :class="{
                    'is-invalid': submitted && $v.login.password.$error,
                    'error-field': submitted && $v.login.password.$error,
                    'success-field': submitted && !$v.login.password.$error
                  }"
                  filled
                  rounded
                  dense>
                </v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="12"
                md="12"
                class="
                text-center">
                <div
                  class="
                  my-1
                  mx-1">
                  <span v-if="setTheme">
                    <v-btn
                      v-on:click="postDataSignin(login)"
                      style="border-radius: 5px !important;"
                      dense
                      type="submit"
                      width="100%"
                      :color="setTheme.sidebar"
                      class="
                      font-xs
                      white--text">
                      {{ $t('btn.textSignin') }}
                    </v-btn>
                  </span>
                  <span v-if="!setTheme">
                    <v-btn
                      v-on:click="postDataSignin(login)"
                      style="border-radius: 5px !important;"
                      dense
                      type="submit"
                      width="100%"
                      color="#252525"
                      class="
                      font-xs
                      white--text">
                      {{ $t('btn.textSignin') }}
                    </v-btn>
                  </span>
                </div>
              </v-col>
            </v-col>
          </v-row>
          <v-row
            class="my-2"
            no-gutters>
            <v-divider/>
          </v-row>
          <v-row
            class="py-1"
            no-gutters>
            <v-col
              class="text-center"
              cols="2">
              <v-avatar
                v-on:click="setDataThemeVuetify(true)"
                class="pointer"
                size="20"
                color="#2d2d2d">
                &nbsp;
              </v-avatar>
            </v-col>
            <v-col
              class="text-center"
              cols="2">
              <v-avatar
                v-on:click="setDataThemeVuetify(false)"
                class="pointer"
                size="20"
                color="#dddddd">
                &nbsp;
              </v-avatar>
            </v-col>
          </v-row>
          <v-row
            class="
            py-1"
            no-gutters>
            <v-col
              class="text-center"
              cols="2">
              <v-avatar
                v-on:click="setDataTheme('red')"
                class="pointer"
                size="20"
                color="#F44336">
                &nbsp;
              </v-avatar>
            </v-col>
            <v-col
              class="text-center"
              cols="2">
              <v-avatar
                v-on:click="setDataTheme('pink')"
                class="pointer"
                size="20"
                color="#E91E63">
                &nbsp;
              </v-avatar>
            </v-col>
            <v-col
              class="text-center"
              cols="2">
              <v-avatar
                v-on:click="setDataTheme('purple')"
                class="pointer"
                size="20"
                color="#9C27B0">
                &nbsp;
              </v-avatar>
            </v-col>
            <v-col
              class="text-center"
              cols="2">
              <v-avatar
                v-on:click="setDataTheme('deeppurple')"
                class="pointer"
                size="20"
                color="#673AB7">
                &nbsp;
              </v-avatar>
            </v-col>
            <v-col
              class="text-center"
              cols="2">
              <v-avatar
                v-on:click="setDataTheme('indigo')"
                class="pointer"
                size="20"
                color="#3F51B5">
                &nbsp;
              </v-avatar>
            </v-col>
            <v-col
              class="text-center"
              cols="2">
              <v-avatar
                v-on:click="setDataTheme('blue')"
                class="pointer"
                size="20"
                color="#2196F3">
                &nbsp;
              </v-avatar>
            </v-col>
          </v-row>
          <v-row
            class="
            py-1"
            no-gutters>
            <v-col
              class="text-center"
              cols="2">
              <v-avatar
                v-on:click="setDataTheme('brown')"
                class="pointer"
                size="20"
                color="#795548">
                &nbsp;
              </v-avatar>
            </v-col>
            <v-col
              class="text-center"
              cols="2">
              <v-avatar
                v-on:click="setDataTheme('bluegrey')"
                class="pointer"
                size="20"
                color="#607D8B">
                &nbsp;
              </v-avatar>
            </v-col>
            <v-col
              class="text-center"
              cols="2">
              <v-avatar
                v-on:click="setDataTheme('teal')"
                class="pointer"
                size="20"
                color="#009688">
                &nbsp;
              </v-avatar>
            </v-col>
            <v-col
              class="text-center"
              cols="2">
              <v-avatar
                v-on:click="setDataTheme('green')"
                class="pointer"
                size="20"
                color="#4CAF50">
                &nbsp;
              </v-avatar>
            </v-col>
            <v-col
              class="text-center"
              cols="2">
              <v-avatar
                v-on:click="setDataTheme('lightgreen')"
                class="pointer"
                size="20"
                color="#8BC34A">
                &nbsp;
              </v-avatar>
            </v-col>
            <v-col
              class="text-center"
              cols="2">
              <v-avatar
                v-on:click="setDataTheme('orange')"
                class="pointer"
                size="20"
                color="#FF9800">
                &nbsp;
              </v-avatar>
            </v-col>
          </v-row>
        </form>
      </div>
  </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'
import { required } from 'vuelidate/lib/validators'

export default {
  data () {
    return {
      login: {
        username: 'sakkarin.james19615@gmail.com',
        password: '123456'
      },
      showPawword: false,
      submitted: false,
      languages: [
        {
          id: 1,
          title: this.$t('languages.thai'),
          value: 'th'
        },
        {
          id: 2,
          title: this.$t('languages.english'),
          value: 'en'
        },
        {
          id: 3,
          title: this.$t('languages.china'),
          value: 'cn'
        }
      ]
    }
  },
  validations: {
    login: {
      username: {
        required
      },
      password: {
        required
      }
    }
  },
  computed: {
    ...mapGetters(
      [
        'setTheme'
      ]
    )
  },
  components: {
  },
  methods: {
    postDataSignin (login) {
      this.$store.dispatch('postDataStoreSigninMobile', login)
      // this.submitted = true
      // this.$v.$touch()
      // if (this.$v.$invalid) {
      //   // eslint-disable-next-line
      //   return
      // } else {
      //   this.$store.dispatch('postDataStoreSignin', login)
      // }
    },
    setDataThemeVuetify (type) {
      this.$vuetify.theme.dark = type
      Vue.localStorage.set('themeVuetify', type)
      localStorage.removeItem('setDataTheme')
      this.$store.dispatch('setStoreDataTheme')
    },
    setDataTheme (type) {
      this.$store.dispatch('setStoreDataTheme', type)
    },
    drawerBarProfileToOpenAndClose () {
      this.$root.$emit('dataDrawerBarProfileToOpenAndClose')
    },
    postDataLanguageType (item) {
      this.$i18n.locale = item.value
      this.$store.dispatch('language/setLanguage', item.value)
    }
  }
}
</script>

<style lang="scss">
#login{
  .logoFlag{
    img{
      height: unset !important;
    }
  }
  .wave{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 0;
    opacity: 0.3;
  }

  .container{
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap :7rem;
      padding: 0 2rem;
  }

  .img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .login-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .img img{
    width: 500px;
  }

  form{
    width: 360px;
  }

  .login-content img{
      height: 100px;
  }

  .login-content h2{
    margin: 15px 0;
    color: #333;
    text-transform: uppercase;
    font-size: 2.9rem;
  }
  .i{
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .i i{
    transition: .3s;
  }
  a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
  }

  a:hover{
    color: #38d39f;
  }
  @media screen and (max-width: 1050px){
    .container{
      grid-gap: 5rem;
    }
  }

  @media screen and (max-width: 1000px){
    form{
      width: 290px;
    }
    .login-content h2{
          font-size: 2.4rem;
          margin: 8px 0;
    }

    .img img{
      width: 400px;
    }
  }
  @media screen and (max-width: 900px){
    .container{
      grid-template-columns: 1fr;
    }

    .img{
      display: none;
    }

    .wave{
      display: none;
    }

    .login-content{
      justify-content: center;
    }
  }
}
</style>
