<template>
  <div id="homeDesktop">
    <v-row no-gutters>
      <v-col cols="12" class="mt-8">
        <PicCarousel/>
      </v-col>
    </v-row>
    <listGameCarousel
      class="bg"
      :jsonListGame="jsonListGame"
    />
    <v-row no-gutters
      class="bgContent mt-0">
      <v-col
        cols="12"
        xs="12"
        sm="12"
        md="12"
        lg="12"
        xl="12">
          <listGamePlayDesktops
            :jsonListGame="jsonListGame"
          />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import listGamePlayDesktops from '../../../components/desktop/home/listGamePlay'
import PicCarousel from '../../../components/useAll/picCarousel.vue'
// import marqueeDesktop from '../../../components/desktop/home/marquee.vue'
import listGameCarousel from '../../../components/desktop/home/listGameCarousel.vue'
// import Footer from '../footer/footer'
// import listGamePlayDesktop from '../../../components/desktop/home/listGamePlay'
import jsonListGameFix from '../../../store/jsonFix/listGame.json'
export default {
  components: {
    PicCarousel,
    // marqueeDesktop,
    listGameCarousel,
    listGamePlayDesktops
    // Footer
    // listGamePlayDesktop
  },
  data: () => ({
    jsonListGame: jsonListGameFix
  }),
  computed: {
    // gameSlot () {
    //   return this.$store.getters.getListGameSlot
    // }
  },
  mounted () {
  }
}
</script>

<style lang="scss">
#homeDesktop{
  .bgContent{
    // background: url('../../../assets/images/U365/content_bg.jpg');
  }
  .bg{
    // background: #7e0505;
    margin: 40px 0 30px 0;
  }
  // .modalPosition{
  //   position: relative !important;
  //   z-index: 1000000 !important;
  // }
}
</style>
