<template>
  <div id="modalContact">
    <v-card width="600">
      <v-row no-gutters
        class="bgHead">
        <v-col class="d-flex justify-center align-center">
          <img
            class="pa-2"
            height="90"
            src="@/assets/images/U365/newLogo.png">
          <!-- </img> -->
          <v-icon @click="$root.$emit('dialogContact', false)"
            size="30"
            class="btnPositionClose"
            color="white">
            far fa-times-circle
          </v-icon>
        </v-col>
      </v-row>
      <v-row no-gutters
        class="mt-0">
        <v-col cols="12"
          class="d-flex justify-center">
          <img
            width="120"
            src="@/assets/images/U365/QRcontact.png">
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  data: () => ({
    login: {
      username: null,
      password: null
    }
  }),
  methods: {
    ...mapMutations(['setAlertDialogLoginDesktop'])
  }
}
</script>

<style lang="scss">
#modalContact{
  // position: relative ;
  // z-index: 100000 ;
  overflow: hidden;
  .bgHead{
    // background: url('../../../assets/images/U365/header_bg2.png');
    background: linear-gradient(180deg, #C02121 0%, #E35A5A 20.83%, #C92E2E 88.54%, #C92E2E 88.54%, #FA6363 100%);
    background-size: 150% 150%;
    // background: #370101;
    height: 90px;
  }
  .border{
    border: 1px solid #363636
  }
  .btnLogIn{
    font-weight: bold;
    // background: url('../../../assets/images/U365/headerBeforeHover.png');
    background: linear-gradient(180deg, #C02121 0%, #E35A5A 20.83%, #C92E2E 88.54%, #C92E2E 88.54%, #FA6363 100%);
    // background: linear-gradient(#be1010, #760202);
    color:white;
  }
  .btnPositionClose{
    position: absolute;
    right: 0px;
    top: 0px;
    // z-index: 1000000;
  }
}
</style>
