<template>
  <div id="modalSearchSlot">
    <v-card width="600"
      color="#424242"
      dark>
      <v-row no-gutters
        class="pa-5 pb-3">
        <v-col class="d-flex justify-center align-center font-xl font-weight-bold">
          {{$t('btn.search')}}
          <v-icon @click="closeDialog"
            size="30"
            class="btnPositionClose"
            color="red">
            far fa-times-circle
          </v-icon>
        </v-col>
      </v-row>
      <v-row no-gutters
        class="pa-3 mt-0">
        <v-col cols="9">
          <v-text-field
            v-model="search"
            :label="$t('textfield.gameSearch')"
            hide-details
            dense
            solo>
          </v-text-field>
        </v-col>
        <v-col cols="3"
          class="text-center">
          <v-btn @click="searchGame"
            class="font-md font-weight-bold">
            {{$t('btn.btnSearch')}}
            <v-icon size="18"
              class="pl-2">
              fas fa-search
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-row
        class="pb-3"
        no-gutters>
        <v-col
          v-for="(item, index) in listBySearch" :key="index"
          class="px-3 py-2"
          cols="4">
          <v-card
            @click="playgame(item)"
            link
            style="border-radius:10px"
            dark>
            <v-row no-gutters>
              <v-col class="d-flex justify-center">
                <v-img
                  height="150"
                  contain
                  :src="item.gameIcon">
                </v-img>
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col class="d-flex justify-center bgFooter py-2 font-xxs">
                {{item.gameName}}
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import searchGame from '../../../store/jsonFix/searchGame.json'
import { mapGetters, mapMutations } from 'vuex'

export default {
  data: () => ({
    search: '',
    listSearchGame: searchGame,
    listBySearch: []
  }),
  computed: {
    ...mapGetters([
      // 'storeDataGameSearchSlot',
      'dataAccessToken'
    ])
  },
  methods: {
    ...mapMutations([
      'modalSearch',
      'setAlertDialogLoginDesktop'
    ]),
    closeDialog () {
      this.search = ''
      this.modalSearch(false)
    },
    searchGame () {
      var x = this.listSearchGame.data
      var search = new RegExp(this.search, 'i')
      var b = x.filter(item => search.test(item.gameName))
      this.listBySearch = b
    },
    playgame (item) {
      // console.log(item)
      if (this.dataAccessToken) {
        this.$store.dispatch('postStoreSlotSearchPlayGame', item)
      } else {
        this.search = ''
        this.modalSearch(false)
        this.setAlertDialogLoginDesktop(true)
      }
    }
  }
}
</script>

<style lang="scss">
#modalSearchSlot{
  // position: relative ;
  // z-index: 100000 ;
  overflow: hidden;
  .bgFooter{
    background:rgb(46, 43, 40);
    border-radius: 0px 0px 10px 10px;
    color:rgb(209, 197, 124);
    // height: ;
  }
  .border{
    border: 1px solid #363636
  }
  .btnPositionClose{
    position: absolute;
    right: 0px;
    top: 0px;
    // z-index: 1000000;
  }
}
</style>
