<template>
  <div id="modalAlertLoginDesktop">
    <v-card width="600" class="setcolormodall">
      <v-row no-gutters
        class="bgHead">
        <v-col class="d-flex justify-center align-center">
          <img
            class="pa-2"
            height="90"
            src="@/assets/images/U365/nlogo.png">
          <!-- </img> -->
          <v-icon @click="closeDialog"
            size="30"
            class="btnPositionClose"
            color="white">
            far fa-times-circle
          </v-icon>
        </v-col>
      </v-row>
      <v-row class="mx-5 mt-0 pa-4">
        <v-col cols="4">
          <v-row no-gutters>
            <v-col cols="12"
              class="d-flex justify-center font-xs white--text">
              Contact Us
            </v-col>
          </v-row>
          <v-row no-gutters
            class="mt-0">
            <v-col cols="12"
              class="d-flex justify-center">
              <img
                width="120"
                src="@/assets/images/U365/QRcontact.png">
            </v-col>
          </v-row>
          <!-- <v-row no-gutters>
            <v-col cols="12"
              class="d-flex justify-center font-xs">
              Android APP
            </v-col>
          </v-row>
          <v-row no-gutters
            class="mt-0">
            <v-col cols="12"
              class="d-flex justify-center">
              <img
                width="120"
                src="@/assets/images/U365/andriod_uplay365.png">
            </v-col>
          </v-row> -->
        </v-col>
        <v-col cols="8">
          <form
            v-on:submit.prevent="postDataSignin"
            class="d-flex">
            <v-row no-gutters>
              <v-col cols="12"
                class="font-xs white--text">
                {{$t('textfield.testFieldUsername')}}
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="login.username"
                  :label="$t('textfield.testFieldUsername')"
                  solo
                  hide-details
                  dense>
                </v-text-field>
              </v-col>
              <v-col cols="12"
                class="font-xs mt-2 white--text">
                {{$t('textfield.testFieldPasword')}}
              </v-col>
              <v-col cols="12"
                class="mb-1">
                <v-text-field
                  v-model="login.password"
                  :label="$t('textfield.testFieldPasword')"
                  type="password"
                  solo
                  hide-details
                  dense>
                </v-text-field>
              </v-col>
              <v-col cols="12"
                class="my-2">
                <v-divider class="border"></v-divider>
              </v-col>
              <v-col cols="12">
                <v-btn
                  type="submit"
                  depressed
                  class="btnLogIn font-xs"
                  block>
                  {{$t('btn.textSignin')}}
                </v-btn>
              </v-col>
              <!-- <v-col cols="12"
                class="my-2">
                <v-divider class="border"></v-divider>
              </v-col>
              <v-col cols="12"
                class="my-2 font-xs">
                {{$t('alert.textRegisNew')}}
                <v-btn @click="register"
                  class="white--text font-xs ml-2"
                  color="#9a090c"
                  height="35"
                  width="90"
                  depressed>
                  {{$t('btn.textSingUp')}}
                </v-btn>
              </v-col> -->
            </v-row>
          </form>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'
export default {
  data: () => ({
    login: {
      username: null,
      password: null
    }
  }),
  methods: {
    ...mapMutations(['setAlertDialogLoginDesktop']),
    closeDialog () {
      this.setAlertDialogLoginDesktop(false)
    },
    register () {
      this.setAlertDialogLoginDesktop(false)
      this.$router.push({ name: 'register' })
    },
    postDataSignin () {
      this.$store.dispatch('postDataStoreSignin', this.login)
    }
  }
}
</script>

<style lang="scss">
#modalAlertLoginDesktop{
  // position: relative ;
  // z-index: 100000 ;
  overflow: hidden;
  .bgHead{
    // background: url('../../../assets/images/U365/header_bg2.png');
    // background: #202020;
    background: rgba(20, 20, 20, 0.856);
    background-size: 150% 150%;
    // background: #370101;
    height: 90px;
  }
  .border{
    border: 1px solid white
  }
  .btnLogIn{
    font-weight: bold;
    // background: url('../../../assets/images/U365/headerBeforeHover.png');
    background: #FFC531;
    // background: linear-gradient(#be1010, #760202);
    color:black;
  }
  .btnPositionClose{
    position: absolute;
    right: 0px;
    top: 0px;
    // z-index: 1000000;
  }
  .setcolormodall{
    background: #202020;
  }
}
</style>
