<template>
  <div id="infoDesktop">
    <v-row no-gutters>
      <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col>
      <v-col class="bg pa-4 mt-5"
        cols="10"
        xs="10"
        sm="10"
        md="10"
        lg="10"
        xl="8">
        <v-row no-gutters>
          <v-col cols="2">
            <sidebarMenu/>
          </v-col>
          <v-col cols="10"
            class="pl-3">
            <v-card
              height="300"
              class="pa-3"
              rounded="0"
              flat>
              <div v-if="getDataUserInfo">
                <span class="bgHead font-md px-2 py-1">
                  {{$t('userInfo.basicinfo')}}
                </span>
                <!---------------------------------- name -->
                <v-row no-gutters
                  class="mt-7 py-2">
                  <v-col cols="6"
                    class="d-flex justify-end font-xs">
                    {{$t('info.account')}}:
                  </v-col>
                  <v-col cols="6"
                    class="pl-2 font-xs">
                    {{getDataUserInfo.username}}
                  </v-col>
                </v-row>
                <!-------------------------------- link -->
                <!-- <v-row no-gutters align="center"
                  class="mt-0 py-2">
                  <v-col cols="6"
                    class="d-flex justify-end font-xs">
                    {{$t('info.refLink')}}:
                  </v-col>
                  <v-col cols="5"
                    class="pl-2 font-xs">
                    https://www.google.co.th/
                  </v-col>
                  <v-col cols="1"
                    class="font-xs">
                    <v-chip
                      small
                      class="white--text"
                      color="#323232">
                      Copy
                    </v-chip>
                  </v-col>
                </v-row> -->
                <!-------------------------------- email -->
                <!-- <v-row no-gutters align="center"
                  class="mt-0 py-2">
                  <v-col cols="6"
                    class="d-flex justify-end font-xs">
                    {{$t('info.email')}}:
                  </v-col>
                  <v-col cols="6"
                    class="pl-2 font-xs">
                    ------
                  </v-col>
                </v-row> -->
                <!-------------------------------- phone -->
                <v-row no-gutters align="center"
                  class="mt-0 py-2">
                  <v-col cols="6"
                    class="d-flex justify-end font-xs">
                    {{$t('info.tel')}}:
                  </v-col>
                  <v-col cols="6"
                    class="pl-2 font-xs">
                    {{getDataUserInfo.phone}}
                  </v-col>
                </v-row>
                <!-------------------------------- account bank name -->
                <!-- <v-row no-gutters align="center"
                  class="mt-0 py-2">
                  <v-col cols="6"
                    class="d-flex justify-end font-xs">
                    {{$t('info.withdrawBankName')}}:
                  </v-col>
                  <v-col cols="6"
                    class="pl-2 font-xs">
                    ********afw
                  </v-col>
                </v-row> -->
                <!-------------------------------- account bank no -->
                <!-- <v-row no-gutters align="center"
                  class="mt-0 py-2">
                  <v-col cols="6"
                    class="d-flex justify-end font-xs">
                    {{$t('info.withdrawBankNo')}}:
                  </v-col>
                  <v-col cols="6"
                    class="pl-2 font-xs">
                    ********4896
                  </v-col>
                </v-row> -->
                <!-------------------------------- bank name -->
                <!-- <v-row no-gutters align="center"
                  class="mt-0 py-2">
                  <v-col cols="6"
                    class="d-flex justify-end font-xs">
                    {{$t('info.withdrawBank')}}:
                  </v-col>
                  <v-col cols="6"
                    class="pl-2 font-xs">
                    กรุงไทย
                  </v-col>
                </v-row> -->
                <!-------------------------------- total bonus -->
                <!-- <v-row no-gutters align="center"
                  class="mt-0 py-2">
                  <v-col cols="6"
                    class="d-flex justify-end font-xs">
                    {{$t('info.totalBonus')}}:
                  </v-col>
                  <v-col cols="6"
                    class="pl-2 font-xs red--text">
                    {{0 | currency}}
                  </v-col>
                </v-row> -->
                <!-------------------------------- last bonus -->
                <!-- <v-row no-gutters align="center"
                  class="mt-0 py-2">
                  <v-col cols="6"
                    class="d-flex justify-end font-xs">
                    {{$t('info.lastBonus')}}:
                  </v-col>
                  <v-col cols="6"
                    class="pl-2 font-xs red--text">
                    {{0 | currency}}
                  </v-col>
                </v-row> -->
                <!-------------------------------- account balance -->
                <v-row no-gutters align="center"
                  class="mt-0 py-2">
                  <v-col cols="6"
                    class="d-flex justify-end font-xs">
                    {{$t('info.accountBalance')}}:
                  </v-col>
                  <v-col cols="6"
                    class="pl-2 font-xs red--text">
                    {{getDataUserInfo.credit}}
                  </v-col>
                </v-row>
              </div>
              <div v-else>
                <LoadingInfo
                  />
              </div>
              <!-- <v-divider class="my-8"></v-divider> -->
              <!--------------------------------------------- bottom -->
              <!-- <v-row no-gutters
                class="my-8">
                <v-col cols="7"
                  class="d-flex justify-center">
                  <v-btn
                    class="btn font-md"
                    height="50"
                    rounded
                    depressed>
                    {{$t('info.refName')}}
                  </v-btn>
                  <v-btn
                    class="btn font-md ml-3"
                    height="50"
                    rounded
                    depressed>
                    {{$t('info.regisForBonus')}}
                  </v-btn>
                </v-col>
                <v-col cols="5"
                  class="timeColor">
                  <div class="pb-2">
                    {{$t('info.regisDateTime')}} : 2021-02-07 15:16:08
                  </div>
                  <div>
                    {{$t('info.LoginLastTime')}} : 2021-02-10 15:16:08
                  </div>
                </v-col>
              </v-row> -->
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col
        cols="2"
        xs="1"
        sm="1"
        md="1"
        lg="1"
        xl="2">
      </v-col>
    </v-row>
  </div>
</template>

<script>
import LoadingInfo from '@/components/loading/LoadingInfo'
import sidebarMenu from '../sidebarMenu'
import { mapGetters } from 'vuex'
export default {
  components: {
    sidebarMenu,
    LoadingInfo
  },
  mounted () {
    this.$store.dispatch('getStoreUserInfo')
  },
  computed: {
    ...mapGetters([
      'getDataUserInfo'
    ])
  }
}
</script>

<style lang="scss">
#infoDesktop{
  .bg{
    background: rgba(196, 196, 196, 0.23);
    border-radius: 10px !important;
    // background:#424242;
    width: 100%;
    // overflow: hidden;
  }
  .bgHead{
    background: #333;
    border-radius: 0 20px 20px 0;
    color: white;
    font-weight: bold;
    // width: 130px;
  }
  .timeColor{
    color: #999;
  }
  .btn{
    font-weight: bold;
    color: white;
    background:linear-gradient(#6f0406, #4a0206)
  }
}
</style>
