@import "font/mixins";

@include font-face('ThaiSansNeue-Light', 'ThaiSansNeue-Light', '~@/assets/fonts/ThaiSansNeue/');
$ThaiSansNeueLight: 'ThaiSansNeue-Light';
// @include font-face('Ubuntu', 'Ubuntu', '/font/Ubuntu/');
// $Ubuntu: 'Ubuntu';
@include font-face('THSarabunNew', 'THSarabunNew', '~@/assets/fonts/THSarabunNew/');
$THSarabunNew: 'THSarabunNew';
@include font-face('THSarabunPSK', 'THSarabunPSK', '~@/assets/fonts/THSarabunPSK/');
$THSarabunPSK: 'THSarabunPSK';
@include font-face('IBMPlexThai', 'IBMPlexThai', '~@/assets/fonts/IBMPlexThai/');
$IBMPlexThai: 'IBMPlexThai';
@include font-face('Kanit-ExtraLight', 'Kanit-ExtraLight', '~@/assets/fonts/Kanit/');
$KanitExtraLight: 'Kanit-ExtraLight';
@include font-face('Athiti-Light', 'Athiti-Light', '~@/assets/fonts/Athiti/');
$AthitiLight: 'Athiti-Light';

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
#app {
  height: 100%;
  font-family: $IBMPlexThai, $ThaiSansNeueLight !important;
}
input{
  font-family: $IBMPlexThai, $ThaiSansNeueLight !important;
}
html{
  overflow-y: auto !important;
  overflow-x: hidden !important;
  font-size: 13px !important;
}
.v-alert__content{
  font-family: $IBMPlexThai, $ThaiSansNeueLight !important;
}
.font-xxss{
  font-size: 10px !important;
}
.font-xxs{
  font-size: 12px !important;
}
.font-xs{
  font-size: 14px !important;
}
.font-sm{
  font-size: 16px !important;
}
.font-md{
  font-size: 18px !important;
}
.font-lg{
  font-size: 20px  !important;
}
.font-xl{
  font-size: 22px !important;
}
.font-xxl{
  font-size: 40px !important;
}
.pointer{
  cursor: pointer !important;
}
.v-btn{
  text-transform: capitalize !important;
  letter-spacing: 0;
}
// @media only screen and (min-width: 768px) {
//   html{
//     font-size: 12px !important;
//   }
//   .v-label{
//     font-size: 12px !important;
//   }
//   .font-xxs{
//     font-size: 10px !important;
//   }
//   .font-xs{
//     font-size: 12px !important;
//   }
//   .font-sm{
//     font-size: 15px !important;
//   }
//   .font-sm{
//     font-size: 16px !important;
//   }
//   .font-lg{
//     font-size: 18px !important;
//   }
//   .font-xl{
//     font-size: 20px !important;
//   }
//   .font-xxl{
//     font-size: 30px !important;
//   }
// }
@media only screen and (max-width: 1024px) {
  html{
    font-size: 12px !important;
  }
  .v-label{
    font-size: 12px !important;
  }
  .font-xxs{
    font-size: 10px !important;
  }
  .font-xs{
    font-size: 12px !important;
  }
  .font-sm{
    font-size: 15px !important;
  }
  .font-md{
    font-size: 16px !important;
  }
  .font-lg{
    font-size: 18px !important;
  }
  .font-xl{
    font-size: 20px !important;
  }
  .font-xxl{
    font-size: 30px !important;
  }
}
// @media only screen and (max-width: 767px) {
//   html{
//     font-size: 12px !important;
//   }
//   .v-label{
//     font-size: 12px !important;
//   }
//   .font-xxs{
//     font-size: 10px !important;
//   }
//   .font-xs{
//     font-size: 12px !important;
//   }
//   .font-sm{
//     font-size: 15px !important;
//   }
//   .font-md{
//     font-size: 16px !important;
//   }
//   .font-lg{
//     font-size: 13px !important;
//   }
//   .font-xl{
//     font-size: 20px !important;
//   }
//   .font-xxl{
//     font-size: 25px !important;
//   }
// }
.v-alert{
  font-size: 14px !important;
}
.v-alert__content {
  text-align: left !important;
}
.snotifyToast__title{
  font-size: 14px !important;
}
.snotify{
  z-index: 1000 !important;
}