<template>
  <div id="mobilehead">
    <v-row no-gutters>
      <v-col cols="2"
      class="
      d-flex justify-center
      align-center"
      >
        <div v-if="statusslide !== '/mobile'" @click="$router.go(-1)">
          <v-icon dark>
            fas fa-chevron-left
          </v-icon>
        </div>
      </v-col>
      <v-col cols="8"
        class="mt-2"
        style="text-align: center;">
        <img style="width: 30%;" src="@/assets/images/U365/mobile/newLogo.png">
      </v-col>
      <v-col cols="2"
        v-if="$t('langId') === 'th'"
        class="d-flex align-center justify-center"
      >
        <v-avatar
          @click="gotolanguagepage()"
          size='30'
        >
          <img src="@/assets/images/U365/mobile/th.png">
        </v-avatar>
      </v-col>
      <v-col cols="2"
        v-if="$t('langId') === 'en'"
        class="d-flex align-center justify-center"
      >
        <v-avatar
          @click="gotolanguagepage()"
          size='30'
        >
          <img src="@/assets/images/U365/mobile/en.png">
        </v-avatar>
      </v-col>
      <v-col cols='10'></v-col>
      <v-col cols='2'
        v-if="statusslide === '/mobile/deposit'"
        class="pa-2
        d-flex align-center justify-center">
        <v-icon dark
          @click="gotolistdeposit()">
          far fa-calendar-minus
        </v-icon>
      </v-col>
      <v-col cols='2'
        v-if="statusslide === '/mobile/withdraw'"
        class="pa-2
        d-flex align-center justify-center">
        <v-icon dark
          @click="gotolistwithdraw()">
          far fa-calendar-minus
        </v-icon>
      </v-col>
    </v-row>
    <!-- <v-btn :to="{path: 'languaage'}">
      asdasds
    </v-btn> -->
  </div>
</template>

<script>
export default {
  methods: {
    gotolanguagepage () {
      this.$router.push({ name: 'languaage' })
    },
    gotoHome () {
      this.$router.push({ path: '/mobile' })
    },
    gotolistdeposit () {
      this.$router.push({ path: '/mobile/listdeposit' })
    },
    gotolistwithdraw () {
      this.$router.push({ path: '/mobile/listwithdraw' })
    }
  },
  computed: {
    statusslide () {
      return this.$route.path
    }
  }
}
</script>

<style lang='scss'>
#mobilehead {
}
</style>
