<template>
  <div id="menubar">
    <v-row no-gutters
      style="background-color: #040405;"
    >
      <!-- <v-col cols="2"
      class="setleftbtn">
        <v-btn
        @click="gotodeposit()"
        tile
        dark
        depressed
        class="sizebtn">
          <v-icon>
            fas fa-university
          </v-icon>
          {{$t('toolbarMenu.deposit')}}
        </v-btn>
      </v-col> -->
      <!-- <v-col cols="2">
        <v-btn
        @click="gotowithdraw()"
        style="padding-right: 0px;"
        tile
        dark
        depressed
        class="sizebtn">
          <v-icon>
            fas fa-wallet
          </v-icon>
          {{$t('toolbarMenu.withdraw')}}
        </v-btn>
      </v-col> -->
      <v-col cols="4"
        class="d-flex justify-center align-center">
        <v-btn
        block
        style="padding-right: 0px;"
        @click="gotocontact()"
        tile
        dark
        depressed
        class="sizebtn">
          <v-icon>
            fas fa-comment-alt-lines
          </v-icon>
          {{$t('toolbarMenu.contact')}}
        </v-btn>
      </v-col>
      <v-col cols="4"
        style="background-color:  #040405;"
        class="d-flex justify-center"
      >
        <v-btn
         @click="gotoHome()"
        fab
        dark
        class="sethomebtn">
          <v-icon>
            fas fa-home
          </v-icon>
        </v-btn>
      </v-col>
      <!-- <v-col cols="2"
        class="setrightbtn">
        <v-btn
        style="padding-left: 0px;"
        @click="gotocontact()"
        tile
        dark
        depressed
        class="sizebtn">
          <v-icon>
            fas fa-comment-alt-lines
          </v-icon>
          {{$t('toolbarMenu.contact')}}
        </v-btn>
      </v-col> -->
      <!-- <v-col cols="4" v-if="!dataAccessToken"
        style="text-align-last: center;"
        class="">
        <v-btn
        style="padding-left: 0px;"
        @click="gotopromotion()"
        tile
        dark
        depressed
        class="sizebtn">
          <v-icon>
            far fa-gift
          </v-icon>
          <div>{{$t('toolbarMenu.pro')}}</div>
        </v-btn>
      </v-col> -->
      <v-col cols="4"
        class="d-flex justify-center align-center">
        <v-btn
        block
        @click="gotoinfo()"
        style="padding-left: 0px;"
        tile
        dark
        depressed
        class="sizebtn">
          <v-icon>
            fas fa-user-circle
          </v-icon>
          <div>{{$t('toolbarMenu.textUser')}}</div>
        </v-btn>
      </v-col>
    </v-row>
    <!-- <modalLogin :modalLoginCall='modalLoginCall'/> -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
// import modalLogin from '../mobile/modal/modalLogin.vue'

export default {
  data () {
    return {
      // modalLoginCall: false
    }
  },
  // checkToken () {
  //   var vm = this
  //   if (vm.dataAccessToken) {
  //     vm.modalLoginCall = false
  //   }
  //   return vm.dataAccessToken
  // },
  components: {
    // modalLogin
  },
  computed: {
    ...mapGetters(['dataAccessToken']),
    statusslide () {
      return this.$route.path
    }
  },
  mounted () {
    // this.$root.$on('closeModalLogin', (data) => {
    //   this.modalLoginCall = data
    // })
  },
  methods: {
    gotopromotion () {
      this.$router.push({ path: '/mobile/promotion' })
    },
    gotocontact () {
      this.$router.push({ path: '/mobile/contactPage' })
    },
    gotoHome () {
      if (this.statusslide !== '/mobile') {
        this.$router.push({ path: '/mobile' })
      } else {
        // // console.log('In home')
      }
    },
    gotoinfo () {
      if (this.dataAccessToken) {
        this.$router.push({ path: '/mobile/userInfo' })
      } else {
        this.$root.$emit('closeModalLoginbar', true)
      }
    },
    gotodeposit () {
      this.$router.push({ path: '/mobile/deposit' })
    },
    gotowithdraw () {
      this.$router.push({ path: '/mobile/withdraw' })
    }
  }
}
</script>

<style lang='scss'>
#menubar {
  background-color: #040405;
  .sizebtn{
    background-color: #040405;
    height: 100%;
    padding-right: 0px;
    padding: 8px;
  }
  .sethomebtn{
    background-color: #aa2c23;
    position: absolute;
    bottom: 10px;
    width: 70px;
    height: 70px;
  }
  .v-btn__content {
    display:flex;
    flex-direction:column;
  }
  .setleftbtn{
    padding-right: 0px;
  }
  .setrightbtn{
    padding-left: 0px;
  }
}
</style>
