<template>
  <div id="slide">
    <v-row no-gutters>
      <v-col cols="12"
        class="pa-2"
      >
       <v-carousel
          hide-delimiters
          :show-arrows= 'false'
          cycle
          height="115"
          hide-delimiter-background
        >
          <v-carousel-item
          v-for="(slide, i) in slides"
          :key="i"
          >
          <v-sheet
            :color="colors[i]"
            height="100%"
          >
            <v-row
            class="fill-height"
            align="center"
            justify="center"
            >
            <div class="display-3">
                {{ slide }} Slide
            </div>
            </v-row>
          </v-sheet>
          </v-carousel-item>
        </v-carousel>
      </v-col>
    </v-row>
  </div>
</template>

<script>

export default {
  data () {
    return {
      colors: [
        'indigo',
        'warning',
        'pink darken-2',
        'red lighten-1',
        'deep-purple accent-4'
      ],
      slides: [
        'First',
        'Second',
        'Third',
        'Fourth',
        'Fifth'
      ]
    }
  },
  components: {}
}
</script>

<style lang='scss'>
#slide {
  .v-icon{
    font-size: 8px !important;
  }
}
</style>
